<template>
  <div>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Summary Campaign" icon="arrow-left" reset="" />
    <div class="card-pink">
      <div class="space-align-container">
        <div class="space-align-block">
          <a-space align="center">
            <div class="campaign-detail">
              <h1>
                {{ campaignData.campaignName }}
              </h1>
              <ul class="list-unstyled">
                <li v-for="(brand, i) in campaignData.brand" :key="i">
                  {{ brand.name }}
                </li>
              </ul>
            </div>
          </a-space>
        </div>
      </div>
    </div>
    <div>
      <div class="menu">
        <div class="menu-content-container">
          <div class="icon-text-wrapper">
            <nuxt-link
              :to="'/detail-campaign/' + $route.params.campaignId + '/brief'"
            >
              <div class="icon-wrapper">
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Brief</p>
            </nuxt-link>
          </div>
          <div class="icon-text-wrapper">
            <nuxt-link
              :to="'/detail-campaign/' + $route.params.campaignId + '/summary'"
            >
              <div class="icon-wrapper">
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Summary</p>
            </nuxt-link>
          </div>
          <!-- <div class="icon-text-wrapper">
            <div
              class="icon-wrapper"
              v-on:click="active = !active"
              v-bind:class="{ active: active }"
            >
              <img class="icon-brief" src="/images/icon-paper-white.svg" />
            </div>
            <p class="p-title">Detail</p>
          </div>
          <div class="icon-text-wrapper">
            <div class="icon-wrapper">
              <img class="icon-brief" src="/images/icon-paper-white.svg" />
            </div>
            <p class="p-title">Download</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="margin-24-top">
      <a-table
        bordered
        :columns="columns"
        :data-source="data"
        @change="handleChange"
      >
        <a slot="name" slot-scope="text">{{ text }}</a>
      </a-table>
    </div>
  </div>
</template>
<script>
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'
const data = [
  {
    key: '1',
    influencer: 'John Brown',
    follower: 31,
    reach: 80000,
    like: 4000,
    comment: 40,
    engagementRate: '5%',
    conversion: 5000,
    conversionRate: '3%',
    postUrl: 'https://www.instagram.com/p/kkfk78if',
  },
  {
    key: '2',
    influencer: 'Jim Green',
    follower: 42,
    reach: 70000,
    like: 2000,
    comment: 20,
    engagementRate: '10%',
    conversion: 2000,
    conversionRate: '8%',
    postUrl: 'https://www.instagram.com/p/kkfk78if',
  },
  {
    key: '3',
    influencer: 'Joe Black',
    follower: 32,
    reach: '2000',
    like: 1000,
    comment: 10,
    engagementRate: '7%',
    conversion: 5000,
    conversionRate: '2%',
    postUrl: 'https://www.instagram.com/p/kkfk78if',
  },
]

export default {
  layout: 'dashboardFull',
  components: { loading },
  data() {
    return {
      isLoading: false,
      active: true,
      campaignData: {},
      data,
      filteredInfo: null,
      sortedInfo: null,
    }
  },
  computed: {
    columns() {
      let { sortedInfo, filteredInfo } = this
      sortedInfo = sortedInfo || {}
      filteredInfo = filteredInfo || {}
      const columns = [
        {
          title: 'No',
          dataIndex: 'key',
          key: 'key',
          scopedSlots: { customRender: 'key' },
          width: 30,
          bordered: true,
        },
        {
          title: 'Influencer',
          dataIndex: 'influencer',
          key: 'influencer',
          scopedSlots: { customRender: 'influencer' },
          filteredValue: filteredInfo.influencer || null,
          onFilter: (value, record) => record.influencer.includes(value),
          sorter: (a, b) => a.influencer.length - b.influencer.length,
          sortOrder: sortedInfo.columnKey === 'influencer' && sortedInfo.order,
        },
        {
          title: 'Follower',
          dataIndex: 'follower',
          key: 'follower',
          width: 90,
          sorter: (a, b) => a.follower - b.follower,
          sortOrder: sortedInfo.columnKey === 'follower' && sortedInfo.order,
        },
        {
          title: 'Reach',
          dataIndex: 'reach',
          key: 'reach',
          ellipsis: true,
          sorter: (a, b) => a.reach - b.reach,
          sortOrder: sortedInfo.columnKey === 'reach' && sortedInfo.order,
        },
        {
          title: 'Like',
          dataIndex: 'like',
          key: 'like',
          ellipsis: true,
          width: 80,
          sorter: (a, b) => a.like - b.like,
          sortOrder: sortedInfo.columnKey === 'like' && sortedInfo.order,
        },
        {
          title: 'Comment',
          dataIndex: 'comment',
          key: 'comment',
          ellipsis: true,
          sorter: (a, b) => a.comment - b.comment,
          sortOrder: sortedInfo.columnKey === 'comment' && sortedInfo.order,
        },
        {
          title: 'Engagement Rate',
          dataIndex: 'engagementRate',
          key: 'engagementRate',
          scopedSlots: { customRender: 'engagementRate' },
          sorter: (a, b) =>
            Number(a.engagementRate.slice(0, -1)) -
            Number(b.engagementRate.slice(0, -1)),
          sortOrder:
            sortedInfo.columnKey === 'engagementRate' && sortedInfo.order,
        },
        {
          title: 'Conversion',
          dataIndex: 'conversion',
          key: 'conversion',
          ellipsis: true,
          sorter: (a, b) => a.conversion - b.conversion,
          sortOrder: sortedInfo.columnKey === 'conversion' && sortedInfo.order,
        },
        {
          title: 'Conversion Rate',
          dataIndex: 'conversionRate',
          key: 'conversionRate',
          scopedSlots: { customRender: 'conversionRate' },
          sorter: (a, b) =>
            Number(a.conversionRate.slice(0, -1)) -
            Number(b.conversionRate.slice(0, -1)),
          sortOrder:
            sortedInfo.columnKey === 'conversionRate' && sortedInfo.order,
        },
        {
          title: 'Post Url',
          dataIndex: 'postUrl',
          key: 'postUrl',
          ellipsis: true,
        },
      ]
      return columns
    },
  },
  mounted() {
    this.getCampaign()
  },
  methods: {
    handleChange(pagination, filters, sorter) {
      this.filteredInfo = filters
      this.sortedInfo = sorter
    },

    async getCampaign() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.campaignData = data.data
      } else {
        __notification('error', data.status, data.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.card-pink {
  margin-top: 0;
  background-color: lighten($btn-light-pink, 10%);
  height: 100px;
  padding: 24px 24px 24px 56px;
  display: flex;
  justify-content: space-between;
}
.menu {
  margin-top: 5 px;
  border-radius: 2px;
  width: 100%;
}
.menu-content-container {
  display: flex;
  justify-content: space-between;
  border: 1.8px solid $btn-light-pink;
  padding: 24px 24px 24px 56px;
  height: 130px;
}
.icon-text-wrapper {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.icon-wrapper {
  background-color: $btn-light-pink;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
  align-items: center;
}
.active {
  background-color: $light-blue;
}
.icon-brief {
  font-size: 32px;
  margin: 8px;
  padding: 7px 10px 10px 10px;
}
.p-title {
  color: $btn-light-pink;
  font-weight: 500;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
.campaign-detail {
  color: $white;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: $bold;
  }

  ul.list-unstyled {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 8px;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
</style>
