<template>
  <div>
    <NavigationHeader title="Filter influencer" icon="close" reset="Reset" />
    <div class="padding-24">
      <div class="label margin-24-top">
        <span><b>Kategori</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.category"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option class="option" value="gaming" label="Gaming">
            <span role="img" aria-label="Gaming"> </span>
            Gaming
          </a-select-option>
          <a-select-option
            class="option"
            value="entertainment"
            label="Entertainment"
          >
            <span role="img" aria-label="Entertainment"> </span>
            Entertainment
          </a-select-option>
          <a-select-option value="beauty" label="Beauty">
            <span role="img" aria-label="beauty"> </span>
            Beauty
          </a-select-option>
          <a-select-option value="fashion" label="Fashion">
            <span role="img" aria-label="Fashion"> </span>
            Fashion
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Domisili</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.location"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option class="option" value="Tangerang" label="Tangerang">
            <span role="img" aria-label="Tangerang"> </span>
            Tangerang
          </a-select-option>
          <a-select-option class="option" value="Bandung" label="Bandung">
            <span role="img" aria-label="Bandung"> </span>
            Bandung
          </a-select-option>
          <a-select-option value="Jakarta" label="Jakarta">
            <span role="img" aria-label="Jakarta"> </span>
            Jakarta
          </a-select-option>
          <a-select-option value="Yogyakarta" label="Yogyakarta">
            <span role="img" aria-label="Yogyakarta"> </span>
            Yogyakarta
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Jenis Kelamin</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.sex"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option class="option" value="Pria" label="Pria">
            <span role="img" aria-label="Pria"> </span>
            Pria
          </a-select-option>
          <a-select-option class="option" value="Wanita" label="Wanita">
            <span role="img" aria-label="Wanita"> </span>
            Wanita
          </a-select-option>
        </a-select>
      </div>
      <div
        class="label margin-20-top"
        style="display: flex;justify-content: center"
      >
        <span><b>Tampilkan lebih banyak</b></span>
      </div>
      <div class="label margin-20-top">
        <span><b>Jumlah Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.followers"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option
            class="option"
            value="Nano (0-10.000)"
            label="Nano (0-10.000)"
          >
            <span role="img" aria-label="Pria"> </span>
            Nano (0-10.000)
          </a-select-option>
          <a-select-option class="option" value="micro" label="18 - 24 tahun">
            <span role="img" aria-label="Wanita"> </span>
            Micro (10.000 - 100.000)
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Usia</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.age"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option
            class="option"
            value="Nano (0-10.000)"
            label="> 18 tahun"
          >
            <span role="img" aria-label="Pria"> </span>
            > 18 tahun
          </a-select-option>
          <a-select-option class="option" value="micro" label="18 - 24 tahun">
            <span role="img" aria-label="Wanita"> </span>
            18 - 24 tahun
          </a-select-option>
        </a-select>
      </div>
      <div class="margin-20">
        <span><b>Harga Per Influencer</b></span>
      </div>
      <div>
        <a-row style="display: flex; margin: 32px 24px 4px 18px">
          <a-slider
            style="width: 100%"
            :default-value="0"
            :tooltip-visible="true"
            :min="1"
            :max="100000000"
            v-model="form.price"
          />
          <!-- <a-input-number v-model="inputValue" :min="1" :max="100000000" /> -->
        </a-row>
        <div
          style="display: flex; width: 94%; justify-content: space-between; margin: 4px 24px 24px 24px"
        >
          <span>IDR 0</span>
          <span>IDR 100.000.000</span>
        </div>
      </div>
      <div class="label margin-20-top">
        <span><b>Status Pernikahan</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          mode="multiple"
          v-model="form.maritalStatus"
          style="width: 100%"
          placeholder="Please select"
          option-label-prop="label"
          @change="handleChange"
        >
          <a-select-option class="option" value="menikah" label="Menikah">
            <span role="img" :aria-label="Menikah"> </span>
            Menikah
          </a-select-option>
          <a-select-option class="option" value="Bayi" label="Belum Menikah">
            <span role="img" :aria-label="Belum - Menikah"> </span>
            Belum Menikah
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Status Anak</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.children"
          mode="multiple"
          style="width: 100%"
          placeholder="Please select"
          option-label-prop="label"
          @change="handleChange"
        >
          <a-select-option class="option" value="Bayi" label="Bayi">
            <span role="img" :aria-label="Bayi"> </span>
            Bayi
          </a-select-option>
          <a-select-option class="option" value="Balita" label="Balita">
            <span role="img" :aria-label="Belum - Menikah"> </span>
            Balita
          </a-select-option>
        </a-select>
      </div>
      <div
        class="label margin-20-top"
        style="display: flex;justify-content: center"
      >
        <span><b>Tampilkan Data Follower</b></span>
      </div>
      <div class="label margin-20-top">
        <span><b>Domisili Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="value7"
          mode="multiple"
          style="width: 100%"
          placeholder="Please select"
          option-label-prop="label"
          @change="handleChange"
        >
          <a-select-option class="option" value="Tangerang" label="Tangerang">
            <span role="img" aria-label="Tangerang"> </span>
            Tangerang
          </a-select-option>
          <a-select-option class="option" value="Bandung" label="Bandung">
            <span role="img" aria-label="Bandung"> </span>
            Bandung
          </a-select-option>
          <a-select-option value="Jakarta" label="Jakarta">
            <span role="img" aria-label="Jakarta"> </span>
            Jakarta
          </a-select-option>
          <a-select-option value="Yogyakarta" label="Yogyakarta">
            <span role="img" aria-label="Yogyakarta"> </span>
            Yogyakarta
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Jenis Kelamin Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="value8"
          mode="multiple"
          style="width: 100%"
          placeholder="select one country"
          option-label-prop="label"
        >
          <a-select-option class="option" value="Pria" label="Pria">
            <span role="img" aria-label="Pria"> </span>
            Pria
          </a-select-option>
          <a-select-option class="option" value="Wanita" label="Wanita">
            <span role="img" aria-label="Wanita"> </span>
            Wanita
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Usia Follower</b></span>
      </div>
      <a-form-model-item>
        <div class="tag-wrapper">
          <a-select
            class="select"
            v-model="value9"
            mode="multiple"
            style="width: 100%"
            placeholder="select one country"
            option-label-prop="label"
          >
            <a-select-option
              class="option"
              value="Nano (0-10.000)"
              label="> 18 tahun"
            >
              <span role="img" aria-label="Pria"> </span>
              > 18 tahun
            </a-select-option>
            <a-select-option class="option" value="micro" label="18 - 24 tahun">
              <span role="img" aria-label="Wanita"> </span>
              18 - 24 tahun
            </a-select-option>
          </a-select>
        </div>
      </a-form-model-item>
      <div class="label margin-24-top">
        <span><b>Kategori Follower</b></span>
      </div>
      <a-form-model-item>
        <div class="tag-wrapper">
          <a-select
            class="select"
            v-model="value10"
            mode="multiple"
            style="width: 100%"
            placeholder="select one country"
            option-label-prop="label"
          >
            <a-select-option class="option" value="gaming" label="Gaming">
              <span role="img" aria-label="Gaming"> </span>
              Gaming
            </a-select-option>
            <a-select-option
              class="option"
              value="entertainment"
              label="Entertainment"
            >
              <span role="img" aria-label="Entertainment"> </span>
              Entertainment
            </a-select-option>
            <a-select-option value="beauty" label="Beauty">
              <span role="img" aria-label="beauty"> </span>
              Beauty
            </a-select-option>
            <a-select-option value="fashion" label="Fashion">
              <span role="img" aria-label="Fashion"> </span>
              Fashion
            </a-select-option>
          </a-select>
        </div>
      </a-form-model-item>
      <div style="display: flex; justify-content: center">
        <a-button type="primary">
          Tampilkan
        </a-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'dashboardFull',
  data() {
    return {
      platform: [
        { id: 1, title: 'Instagram', checked: false },
        { id: 2, title: 'Twitter', checked: false },
        { id: 3, title: 'Facebook', checked: false },
        { id: 4, title: 'YouTube', checked: false },
        { id: 5, title: 'TikTok', checked: false },
      ],
      services: [
        { id: 1, title: 'Instagram Photo', checked: false },
        { id: 2, title: 'Instagram Story', checked: false },
        { id: 3, title: 'Instagram Video', checked: false },
        { id: 4, title: 'Instagram TV', checked: false },
        { id: 5, title: 'Facebook Post', checked: false },
        { id: 6, title: 'YouTube Video', checked: false },
        { id: 7, title: 'TikTok Video', checked: false },
      ],
      categories: [
        { id: 1, title: 'Entertainment', checked: false },
        { id: 2, title: 'Helath & Sport', checked: false },
        { id: 3, title: 'Lifestyle & Travel', checked: false },
        { id: 4, title: 'Technology', checked: false },
        { id: 5, title: 'Family & Parenting', checked: false },
        { id: 6, title: 'Food & Beverages', checked: false },
        { id: 7, title: 'Beauty & Fashion', checked: false },
        { id: 8, title: 'Gaming', checked: false },
      ],
      gender: [
        { id: 1, title: 'Laki-laki', checked: false },
        { id: 2, title: 'Perempuan', checked: false },
      ],
      age: [
        { id: 1, title: '<18', checked: false },
        { id: 2, title: '18-24', checked: false },
        { id: 3, title: '25-34', checked: false },
        { id: 4, title: '35-49', checked: false },
        { id: 5, title: '>50', checked: false },
      ],
      inputValue: 0,
      value: ['Entertainment'],
      value1: ['Bandung'],
      value2: ['Pria'],
      value3: ['Nano (0-10.000)'],
      value4: ['> 18 tahun'],
      value5: ['Menikah'],
      value6: ['Bayi'],
      value7: ['Tangerang'],
      value8: ['Pria'],
      value9: ['> 18 tahun'],
      value10: ['Gaming'],
      form: {
        category: [],
        sex: [],
        age: [],
        location: [],
        followers: [],
        price: [],
        followerLocation: [],
        followerSex: [],
        followerCategory: [],
        followerAge: [],
        maritalStatus: [],
        statusAnak: [],
      },
    }
  },
  watch: {
    value(val) {},
    value1(val1) {},
    value2(val2) {},
    value3(val3) {},
    value4(val4) {},
    value5(val5) {},
    value6(val6) {},
    value7(val7) {},
    value8(val8) {},
    value9(val9) {},
    value10(val10) {},
  },
  methods: {
    handleChange(checked) {},
  },
}
</script>
<style lang="scss" scoped>
#content {
  margin-top: 20px;
  padding: 0 0;
  border: 1px solid;
  border-color: #c7c7c7;
  background: rgba(255, 255, 255, 0.2);
  max-width: 840px;
}
.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
}
.label {
  margin-left: 24px;
  margin-bottom: 0;
}
.dropdown {
  width: 100%;
  height: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  border-radius: 20px;
  border: 1px solid;
  border-color: #c7c7c7;
  box-shadow: none;
  text-align: left;
}
.dropdown:not(:last-child) {
  margin-right: 20px;
}
.button-counter {
  margin: 0 20px;
  padding: 0;
  border: none;
  color: $pink;
  width: 15%;
  height: 50px;
  border-radius: 60%;
  background: none;
  font-weight: $extra-bold;
}
.counter {
  text-align: center;
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.box-div {
  display: flex;
  justify-content: space-between;
  background-color: #f7f5fa;
  color: $black;
}
.tag-wrapper {
  margin: 5px;
  margin-right: 32px;
}
.tag {
  display: contents;
  margin: 10px 20px;
}
.tag-category {
  background-color: #e8e8e8;
  line-height: 1;
  padding: 10px;
  min-width: 60px;
  margin: 10px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.input-follower {
  // width: 100%;
  margin: 20px;
}
.select {
  margin-bottom: 3px;
  margin-left: 16px;
  margin-right: 8px;
  margin-top: 8px;
}
.option {
  background-color: $btn-light-pink;
}
</style>
