<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Buat Campaign" icon="arrow-left" reset="" />
    <div class="padding-24">
      <a-form-model
        ref="createCampaignForm"
        :model="form"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item
          label="Nama Campaign"
          ref="campaignName"
          prop="campaignName"
        >
          <a-input
            placeholder="Masukkan nama campaign"
            v-model="form.campaignName"
            @blur="
              () => {
                $refs.campaignName.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item label="Brand" ref="brand" prop="brand">
          <span style="margin-left: 24px; color: #9094a2">
            Sebutkan nama produk / layanan / brand / event maksimal 60 karakter
            contoh: Minuman, Kecantikan
          </span>
          <a-select
            mode="tags"
            style="width: 100%"
            placeholder="Nama Brand"
            @select="handleSelectBrand"
            v-model="form.brand"
          >
            <template v-if="brandData.length">
              <a-select-option
                v-for="brand in brandData"
                :key="brand.id"
                :value="brand.name"
              >
                {{ brand.name }}
              </a-select-option>
            </template>
          </a-select>
        </a-form-model-item>
        <a-form-model-item
          label="Platform & Layanan"
          ref="channel"
          prop="channel"
        >
          <a-select
            @change="handleChannelChange"
            v-model="form.channel"
            placeholder="Pilih platform"
            @blur="
              () => {
                $refs.channel.onFieldBlur()
              }
            "
          >
            <a-select-option
              v-for="channel in channelData"
              :key="channel.id"
              :value="channel.id"
            >
              {{ channel.channel }}
            </a-select-option>
          </a-select>

          <a-checkbox-group
            :options="selectedServiceData"
            v-model="form.service"
          />
        </a-form-model-item>
        <a-form-model-item label="Budget" ref="budget" prop="budget">
          <a-input
            type="number"
            size="large"
            placeholder="Masukkan jumlah budget"
            v-model.number="form.budget"
            @blur="
              () => {
                $refs.budget.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <div style="display: flex; justify-content: center">
          <a-button type="primary" html-type="submit" @click="onSubmit">
            LANJUT
          </a-button>
        </div>
      </a-form-model>
    </div>
  </a-row>
</template>
<script>
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'

export default {
  layout: 'dashboardFull',
  components: { loading },
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 24 },
      rules: {
        campaignName: [
          {
            required: true,
            message: 'Nama campaign diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        brand: [
          {
            required: true,
            message: 'Nama brand diperlukan',
            trigger: 'blur',
          },
        ],
        platform: [
          {
            required: true,
            message: 'Platform diperlukan',
            trigger: 'blur',
          },
        ],
        budget: [
          {
            required: true,
            message: 'Budget diperlukan',
            trigger: 'blur',
          },
        ],
      },
      form: {
        campaignName: '',
        brand: [],
        channel: null,
        service: [],
        budget: null,
      },

      isLoading: false,
      btnIsLoading: false,
      channelData: [],
      brandData: [],
      selectedServiceData: [],
    }
  },
  mounted() {
    this.getChannel()
  },
  methods: {
    async getChannel() {
      this.isLoading = true

      const channel = this.$api.get(`/channel/list`)
      const brand = this.$api.get(`/brand/list`)

      await Promise.all([channel, brand])
        .then((result) => {
          this.channelData = result[0].data.data
          this.brandData = result[1].data.data

          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err)
          this.isLoading = false
        })
    },
    handleSelectBrand(value) {
      const findExistingBrand = this.brandData.find((b) => b.name === value)
      if (!findExistingBrand) {
        this.postNewBrand(value)
      }
    },
    postNewBrand(value) {
      this.$api
        .$post('/brand/create', { name: value })
        .then((result) => {
          __notification('success', `${value}`, 'Berhasil di simpan')
        })
        .catch((err) => {
          __notification(
            'error',
            `Simpan nama brand ${value} gagal!`,
            err.response.data.message
          )
        })
    },
    handleChannelChange(value) {
      const selectedBrandResult = this.channelData.find(
        (brand) => brand.id === value
      )
      const servicesData = selectedBrandResult.services
      const arrayObj = servicesData.map((item) => {
        return { label: item.name, value: item.id }
      })
      this.selectedServiceData = arrayObj
    },
    handleServicesChange(value) {
      // this.form.services = []
    },
    onSubmit(e) {
      this.$refs.createCampaignForm.validate((valid) => {
        if (valid) {
          this.postCreateCampaign()
        } else {
          __notification('error', 'Masih ada data yang salah!')
          return false
        }
      })
    },
    async postCreateCampaign() {
      this.btnIsLoading = true

      await this.$api
        .$post('/campaign/create', this.form)
        .then((result) => {
          __notification(
            'success',
            `Campaign ${this.form.campaignName}`,
            'Berhasil di buat'
          )

          const { data } = result

          if (result.code === 1) this.$router.push(`/buat-campaign/${data.id}`)
          else __notification('error', 'Mohon coba lagi!')

          this.btnIsLoading = false
        })
        .catch((err) => {
          __notification(
            'error',
            'Simpan campaign gagal!',
            err.response.data.message
          )
          this.btnIsLoading = false
        })
    },
  },
}
</script>
<style lang="scss" scoped>
.ant-checkbox-group label {
  width: 100%;
}
.nama-campaign {
  margin: 24px;
}
.input {
  border-radius: 12px;
  height: 45px;
  margin: 10px 0;
  line-height: 24px;
}
.dropdown-wrapper {
  display: flex;
  justify-content: center;
}
.dropdown {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  margin: 10px 24px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 24px;
  border: 1px solid;
  border-color: $btn-light-pink;
  box-shadow: none;
  text-align: left;
}
.tag-wrapper {
  margin: 5px;
  margin-right: 32px;
}
</style>
