<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Buat Campaign" icon="arrow-left" reset="" />
    <div class="card-pink">
      <div class="space-align-container">
        <div class="space-align-block">
          <a-space align="center">
            <div class="campaign-detail">
              <h1>
                {{ campaignData.campaignName }}
              </h1>
              <ul class="list-unstyled">
                <li v-for="(brand, i) in campaignData.brand" :key="i">
                  {{ brand.name }}
                </li>
              </ul>
            </div>
            <!-- <div class="text-right">
              <nuxt-link to="/ubah-campaign" class="text-white">ubah</nuxt-link>
            </div> -->
          </a-space>
        </div>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <div class="card-content-container">
          <div class="space-align-container">
            <div class="space-align-block padding-24-left">
              <a-space align="center">
                <a-row class="">
                  <a-col
                    style="max-width: 70px"
                    :span="3"
                    :sm="{ span: 3 }"
                    :xs="{ span: 3 }"
                    :md="{ span: 3 }"
                  >
                    <div class="icon-circle">
                      <img src="/images/icon-paper.svg" />
                    </div>
                  </a-col>
                  <a-col
                    :span="24"
                    :sm="{ span: 6 }"
                    :xs="{ span: 12 }"
                    :md="{ span: 6 }"
                    class="padding-16-left"
                    style="min-width: 100px"
                  >
                    <p><b>Brief</b></p>
                    <p class="margin-0-bottom"> Detail Campaign </p>
                  </a-col>
                  <a-col
                    :span="12"
                    :sm="{ span: 6 }"
                    :xs="{ span: 3 }"
                    :md="{ span: 6 }"
                  >
                    <div class="text-right">
                      <nuxt-link
                        :to="
                          '/buat-campaign/' +
                            $route.params.campaignId +
                            '/brief'
                        "
                        class="text-light-pink"
                      >
                        <a-icon
                          v-if="campaignData.isBrief === 0"
                          hoverable
                          type="arrow-right"
                          style="font-size: 24px"
                        />
                        <a-icon
                          v-if="campaignData.isBrief === 1"
                          hoverable
                          type="check-circle"
                          style="color: #57d4ff; font-size: 24px"
                        />
                      </nuxt-link>
                    </div>
                  </a-col>
                </a-row>
              </a-space>
            </div>
          </div>
        </div>
      </div>
      <a-divider style="background: #ff79c2" type="horizontal" />
      <div class="card">
        <div class="card-content-container">
          <div class="space-align-container">
            <div class="space-align-block padding-24-left">
              <a-space align="center">
                <a-row class="flex-middle">
                  <a-col :span="2">
                    <div class="icon-circle">
                      <img src="/images/icon-influencer.svg" />
                    </div>
                  </a-col>
                  <a-col :span="20">
                    <div class="padding-16-left">
                      <p><b>Influencer</b></p>
                      <p class="margin-0-bottom">
                        Pilih influencer yang kamu inginkan Influencer yang
                        ditampilkan merupakan rekomendasi berdasarkan hasil
                        algoritma Fameoboost
                      </p>
                    </div>
                  </a-col>
                  <a-col :span="2">
                    <div class="text-right padding-24-right">
                      <nuxt-link
                        :to="
                          '/buat-campaign/' +
                            $route.params.campaignId +
                            '/list-talent'
                        "
                        class="text-light-pink"
                      >
                        <a-icon
                          v-if="campaignData.isInfluencer === 0"
                          hoverable
                          type="arrow-right"
                          style="font-size: 24px"
                        />
                        <a-icon
                          v-if="campaignData.isInfluencer === 1"
                          hoverable
                          type="check-circle"
                          style="color: #57d4ff; font-size: 24px"
                        />
                      </nuxt-link>
                    </div>
                  </a-col>
                </a-row>
              </a-space>
            </div>
          </div>
        </div>
      </div>
      <a-divider style="background: #ff79c2" type="horizontal" />
    </div>
    <div class="text-center">
      <p> Lengkapi data campaign untuk melanjutkan ke langkah berikutnya </p>
      <a-button
        v-if="campaignData.isBrief === 0 || campaignData.isInfluencer === 0"
        @click="handleCheck"
        type="disabled"
        disabled
      >
        LANJUTKAN
      </a-button>
      <a-button
        v-if="campaignData.isBrief === 1 && campaignData.isInfluencer === 1"
        @click="handleCheck"
        type="primary"
      >
        LANJUTKAN
      </a-button>
    </div>
  </a-row>
</template>
<script>
import loading from '~/components/loading'
import { __notification } from '~/utils/notifications'
export default {
  layout: 'dashboardFull',
  components: { loading },
  head() {
    return {
      title: 'Campaign Detail',
      meta: [
        {
          name: 'description',
          content: 'Campaign Detail',
        },
      ],
    }
  },
  data: () => ({
    campaignData: {},
  }),
  mounted() {
    this.getCampaign()
  },
  methods: {
    async getCampaign() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.campaignData = data.data
        this.isLoading = false
      } else {
        __notification('error', data.status, data.message)
        this.isLoading = false
      }
    },
    handleCheck() {
      if (
        this.campaignData.isBrief === 1 &&
        this.campaignData.isInfluencer === 1
      ) {
        this.$router.push(
          '/buat-campaign/' + this.$route.params.campaignId + '/summary'
        )
      } else {
        __notification('error', 'Lengkapi Brief dan Influencer')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.icon-circle {
  border-radius: 100%;
  border: 1px solid $btn-light-pink;
  padding: 13px;
  width: 60px;
  height: 60px;
}
.campaign-detail {
  color: $white;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: $bold;
  }

  ul.list-unstyled {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 8px;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
.card-pink {
  margin-top: 0;
  background-color: lighten($btn-light-pink, 10%);
  height: 100px;
  padding: 24px;
  display: flex;
}
.text {
  display: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.card {
  margin-top: 5 px;
  border-radius: 2px;
}
.card-content {
  width: 100%;
}
.card-content-container {
  display: flex;
  margin-top: 24px;
}

.button-right-container-1 {
  display: absolute;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
}
.icon-brief {
  padding: 10px;
  font-size: 32px;
  color: $btn-light-pink;
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
</style>
