@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-Medium.eot');
  src: url('~assets/fonts/AvenirLTStd-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('~assets/fonts/AvertaDemoPE-ExtraBold.eot');
  src: url('~assets/fonts/AvertaDemoPE-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvertaDemoPE-ExtraBold.woff2') format('woff2'),
    url('~assets/fonts/AvertaDemoPE-ExtraBold.woff') format('woff'),
    url('~assets/fonts/AvertaDemoPE-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('~assets/fonts/Avenir-Roman.eot');
  src: url('~assets/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Avenir-Roman.woff2') format('woff2'),
    url('~assets/fonts/Avenir-Roman.woff') format('woff'),
    url('~assets/fonts/Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-Book.eot');
  src: url('~assets/fonts/AvenirLTStd-Book.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-Book.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-Book.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Cutted';
  src: url('~assets/fonts/AvertaDemoPECuttedDemo-Regular.eot');
  src: url('~assets/fonts/AvertaDemoPECuttedDemo-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvertaDemoPECuttedDemo-Regular.woff2') format('woff2'),
    url('~assets/fonts/AvertaDemoPECuttedDemo-Regular.woff') format('woff'),
    url('~assets/fonts/AvertaDemoPECuttedDemo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-Oblique.eot');
  src: url('~assets/fonts/AvenirLTStd-Oblique.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-Oblique.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-MediumOblique.eot');
  src: url('~assets/fonts/AvenirLTStd-MediumOblique.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-MediumOblique.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-MediumOblique.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-Roman.eot');
  src: url('~assets/fonts/AvenirLTStd-Roman.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-Light.eot');
  src: url('~assets/fonts/AvenirLTStd-Light.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-Light.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-Light.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-LightOblique.eot');
  src: url('~assets/fonts/AvenirLTStd-LightOblique.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-LightOblique.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/AvenirLTStd-BookOblique.eot');
  src: url('~assets/fonts/AvenirLTStd-BookOblique.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
    url('~assets/fonts/AvenirLTStd-BookOblique.woff') format('woff'),
    url('~assets/fonts/AvenirLTStd-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-DemiIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-DemiIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-DemiIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-DemiIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-Regular.eot');
  src: url('~assets/fonts/AvenirNextLTPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-DemiCnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-DemiCnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-DemiCnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-DemiCnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-DemiCnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-It.eot');
  src: url('~assets/fonts/AvenirNextLTPro-It.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-It.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-Cn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-Cn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-Cn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Cn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-HeavyCnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-HeavyCnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCnIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-HeavyCn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-HeavyCn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-HeavyCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-Bold.eot');
  src: url('~assets/fonts/AvenirNextLTPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-BoldCnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-BoldCnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-BoldCnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-BoldCnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-BoldCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-MediumCnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-MediumCnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-MediumCnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-MediumCnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-MediumCnIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-Demi.eot');
  src: url('~assets/fonts/AvenirNextLTPro-Demi.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-MediumCn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-MediumCn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-MediumCn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-DemiCn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-DemiCn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-DemiCn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-DemiCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-CnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-CnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-CnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-CnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-CnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-BoldCn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-BoldCn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-BoldCn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-BoldCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-UltLtCnIt.eot');
  src: url('~assets/fonts/AvenirNextLTPro-UltLtCnIt.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCnIt.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCnIt.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCnIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('~assets/fonts/AvenirNextLTPro-UltLtCn.eot');
  src: url('~assets/fonts/AvenirNextLTPro-UltLtCn.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCn.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCn.woff') format('woff'),
    url('~assets/fonts/AvenirNextLTPro-UltLtCn.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
