<template>
  <a-row>
    <NavigationHeader title="Buat Campaign" icon="arrow-left" reset="" />
    <div class="card-pink">
      <div class="space-align-container">
        <div class="space-align-block">
          <a-space align="center">
            <div class="campaign-detail">
              <h1>
                {{ summaryData.campaignName }}
              </h1>
              <ul class="list-unstyled">
                <li v-for="(brand, i) in summaryData.brand" :key="i">
                  {{ brand.name }}
                </li>
              </ul>
            </div>
            <div class="text-right">
              <nuxt-link to="/ubah-campaign" class="text-white">ubah</nuxt-link>
            </div>
          </a-space>
        </div>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <div class="card-content-container">
          <div class="space-align-container">
            <div class="space-align-block padding-24-left">
              <a-space align="center">
                <a-row class="flex-middle">
                  <a-col :span="2">
                    <div class="icon-circle">
                      <img src="/images/icon-paper.svg" />
                    </div>
                  </a-col>
                  <a-col :span="20">
                    <div class="padding-16-left">
                      <p><b>Brief</b></p>
                      <p class="margin-0-bottom"> Detail Campaign </p>
                    </div>
                  </a-col>
                  <a-col :span="2">
                    <div class="text-right padding-24-right">
                      <nuxt-link
                        :to="
                          '/buat-campaign/' +
                            $route.params.campaignId +
                            '/brief'
                        "
                        class="text-light-pink"
                      >
                        <a-icon hoverable type="arrow-right" />
                      </nuxt-link>
                    </div>
                  </a-col>
                </a-row>
              </a-space>
            </div>
          </div>
        </div>
      </div>
      <a-divider style="background: #ff79c2" type="horizontal" />
      <div class="card">
        <div class="card-content-container">
          <div class="space-align-container">
            <div class="space-align-block padding-24-left">
              <a-space align="center">
                <a-row class="flex-middle">
                  <a-col :span="2">
                    <div class="icon-circle">
                      <img src="/images/icon-influencer.svg" />
                    </div>
                  </a-col>
                  <a-col :span="20">
                    <div class="padding-16-left">
                      <p><b>Influencer</b></p>
                      <p class="margin-0-bottom">
                        Pilih influencer yang kamu inginkan Influencer yang
                        ditampilkan merupakan rekomendasi berdasarkan hasil
                        algoritma Fameoboost
                      </p>
                    </div>
                  </a-col>
                  <a-col :span="2">
                    <div class="text-right padding-24-right">
                      <nuxt-link
                        :to="
                          '/buat-campaign/' +
                            $route.params.campaignId +
                            '/list-talent'
                        "
                        class="text-light-pink"
                      >
                        <a-icon hoverable type="arrow-right" />
                      </nuxt-link>
                    </div>
                  </a-col>
                </a-row>
              </a-space>
            </div>
          </div>
        </div>
      </div>
      <a-divider style="background: #ff79c2" type="horizontal" />
      <div class="wrapper">
        <!-- pink wrapper solid -->
        <a-row :gutter="16" type="flex" justify="center">
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <img class="icon" src="/images/icon-budget.svg" />
              </div>
              <div>
                <p class="subtitle-text">Budget</p>
                <p class="subtitle-text">
                  {{ formatPrice('rp', summaryData.budget) }}</p
                >
              </div>
            </div>
          </a-col>
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="user" class="icon" />
              </div>
              <div>
                <p class="subtitle-text">Total KOL</p>
                <p class="subtitle-text">{{ summaryData.kol }}</p>
              </div>
            </div>
          </a-col>
        </a-row>
        <a-row :gutter="16" type="flex" justify="center">
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="user" class="icon" />
              </div>
              <div style="display: block">
                <p class="subtitle-text">Est. Audience</p>
                <p class="subtitle-text">{{ summaryData.audience }}</p>
              </div>
            </div>
          </a-col>
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="user" class="icon" />
              </div>
              <div>
                <p class="subtitle-text">Est. Reach</p>
                <p class="subtitle-text">{{ summaryData.reach }}</p>
              </div>
            </div>
          </a-col>
        </a-row>
        <a-row :gutter="16" type="flex" justify="center">
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="user" class="icon" />
              </div>
              <div>
                <p class="subtitle-text">Est. Engagement</p>
                <p class="subtitle-text">{{ summaryData.engagement }}</p>
              </div>
            </div>
          </a-col>
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="user" class="icon" />
              </div>
              <div>
                <p class="subtitle-text">Est. Conversion</p>
                <p class="subtitle-text">{{ summaryData.conversion }}</p>
              </div>
            </div>
          </a-col>
        </a-row>
        <a-row :gutter="16" type="flex" justify="center">
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="heart" theme="filled" class="icon" />
              </div>
              <div>
                <p class="subtitle-text"> Est. Engagement Rate </p>
                <p class="subtitle-text">{{ summaryData.engagementRate }}</p>
              </div>
            </div>
          </a-col>
          <a-col :span="8" class="pink-wrapper --solid margin-10">
            <div style="display: flex; width: 100%">
              <div class="icon-budget">
                <a-icon type="heart" theme="filled" class="icon" />
              </div>
              <div>
                <p class="subtitle-text"> Est. Conversion Rate </p>
                <p class="subtitle-text">{{ summaryData.conversionRate }}</p>
              </div>
            </div>
          </a-col>
        </a-row>
        <!-- pink wrapper bordered -->
        <a-row type="flex" justify="center" style="margin-bottom: 24px">
          <a-col :span="16" class="pink-wrapper --bordered margin-10">
            <a-row type="flex">
              <a-col flex="35px">
                <div class="icon-pink">
                  <img class="icon-pink" src="/images/icon-budget.svg" />
                </div>
              </a-col>
              <a-col flex="auto">
                <p class="subtitle-text --pink padding-8-left">
                  Est. Average Cost per Reach
                </p>
              </a-col>
              <a-col flex="100px">
                <p class="subtitle-text --pink text-right">
                  {{ formatPrice('rp', summaryData.avgCostReach) }}
                </p>
              </a-col>
            </a-row>
          </a-col>
          <a-col :span="16" class="pink-wrapper --bordered margin-10">
            <a-row type="flex">
              <a-col flex="35px">
                <div class="icon-pink">
                  <img class="icon-pink" src="/images/icon-budget.svg" />
                </div>
              </a-col>
              <a-col flex="auto">
                <p class="subtitle-text --pink padding-8-left">
                  Est. Average Cost per Engagement
                </p>
              </a-col>
              <a-col flex="100px">
                <p class="subtitle-text --pink text-right">
                  {{ formatPrice('rp', summaryData.avgCostEngagement) }}
                </p>
              </a-col>
            </a-row>
          </a-col>
          <a-col :span="16" class="pink-wrapper --bordered margin-10">
            <a-row type="flex">
              <a-col flex="35px">
                <div class="icon-pink">
                  <img class="icon-pink" src="/images/icon-budget.svg" />
                </div>
              </a-col>
              <a-col flex="auto">
                <p class="subtitle-text --pink padding-8-left">
                  Est. Average Cost per Conversion/click
                </p>
              </a-col>
              <a-col flex="100px">
                <p class="subtitle-text --pink text-right">
                  {{ formatPrice('rp', summaryData.avgCostClick) }}
                </p>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <!-- title -->
        <a-row type="flex" justify="center">
          <a-col :span="24" class="block-title-bar">
            <p class="title text-center">Influencer Kamu</p>
          </a-col>
        </a-row>

        <div class="padding-16">
          <a-row>
            <a-col
              style="max-width: 266px; margin: 8px"
              :span="8"
              :sm="{ span: 24 }"
              :xs="{ span: 24 }"
              :md="{ span: 24 }"
              v-for="card in summaryData.influencer"
              :key="card.id"
            >
              <div class="padding-8 card-list-bordered">
                <div class="card">
                  <img class="img-card" src="/images/influencer.jpg" />
                </div>
                <p class="name">{{ card.name }}</p>
                <div class="criteria">
                  <p>{{ card.sex }}</p>
                  <p>{{ card.age }}</p>
                  <p>{{ card.location }}</p>
                </div>
                <p class="margin-0">
                  <b>Followers </b>
                  <span>{{ card.followers }}</span>
                </p>

                <p>
                  <b>Engagement rate </b>
                  <span>{{ card.engagementRate }}</span>
                </p>
              </div>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
    <div class="padding-16">
      <div class="text-center margin-8-top">
        <a-checkbox class="text-light-pink" @change="onChange">
          Saya menyatakan bahwa data diatas sudah sesuai dengan kebutuhan
          campaign dan menyetujui ketentuan campaign yang berlaku di Fameoboost
        </a-checkbox>
        <a-button
          :disabled="!checked"
          type="primary"
          class="margin-32-top"
          @click="handleSubmit"
        >
          Konfirmasi
        </a-button>
      </div>
    </div>
  </a-row>
</template>
<script>
import { __notification } from '~/utils/notifications'
import { formatPrice } from '~/utils/formatPrice'

export default {
  layout: 'dashboardFull',
  components: {},
  checked: false,
  head() {
    return {
      title: 'Campaign Summary',
      meta: [
        {
          name: 'description',
          content: 'Campaign Summary',
        },
      ],
    }
  },
  data: () => ({
    summaryData: {},
  }),
  mounted() {
    this.getCampaign()
  },
  methods: {
    formatPrice,
    async getCampaign() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/summary/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.summaryData = data.data
      } else {
        __notification('error', data.status, data.message)
      }
    },
    onChange(e) {
      if (e.target.checked) {
        this.checked = true
      }
    },
    handleSubmit() {
      if (this.checked === true) {
        this.$router.push('/list-campaign')
      } else {
        __notification('error', 'Check persyaratan dan ketentuan')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.icon-circle {
  border-radius: 100%;
  border: 1px solid $btn-light-pink;
  padding: 13px;
  width: 60px;
  height: 60px;
}
.campaign-detail {
  color: $white;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: $bold;
  }

  ul.list-unstyled {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 8px;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
.card-pink {
  margin-top: 0;
  background-color: lighten($btn-light-pink, 10%);
  height: 100px;
  padding: 24px;
  display: flex;
}
.text {
  display: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.card {
  margin-top: 5 px;
  border-radius: 2px;
}
.card-content {
  width: 100%;
}
.card-content-container {
  display: flex;
  margin-top: 24px;
}

.button-right-container-1 {
  display: absolute;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
}
.icon-brief {
  padding: 10px;
  font-size: 32px;
  color: $btn-light-pink;
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
</style>
