<template>
  <div>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Summary Campaign" icon="arrow-left" reset="" />
    <div class="card-pink">
      <div class="space-align-container">
        <div class="space-align-block">
          <a-space align="center">
            <div class="campaign-detail">
              <h1>
                {{ summaryData.campaignName }}
              </h1>
              <ul class="list-unstyled">
                <li v-for="(brand, i) in summaryData.brand" :key="i">
                  {{ brand.name }}
                </li>
              </ul>
            </div>
          </a-space>
        </div>
      </div>
    </div>
    <div>
      <div class="menu">
        <div class="menu-content-container">
          <div class="icon-text-wrapper">
            <nuxt-link
              :to="'/detail-campaign/' + $route.params.campaignId + '/brief'"
            >
              <div class="icon-wrapper">
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Brief</p>
            </nuxt-link>
          </div>
          <div class="icon-text-wrapper">
            <div
              class="icon-wrapper"
              v-on:click="active = !active"
              v-bind:class="{ active: active }"
            >
              <img class="icon-brief" src="/images/icon-paper-white.svg" />
            </div>
            <p class="p-title">Summary</p>
          </div>
          <!-- <div class="icon-text-wrapper">
            <nuxt-link
              :to="'/detail-campaign/' + $route.params.campaignId + '/detail'"
            >
              <div class="icon-wrapper">
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Detail</p>
            </nuxt-link>
          </div>
          <div class="icon-text-wrapper">
            <div class="icon-wrapper">
              <img class="icon-brief" src="/images/icon-paper-white.svg" />
            </div>
            <p class="p-title">Download</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="wrapper">
      <a-row type="flex" justify="center">
        <a-col :span="24" class="title-bar">
          <p class="title-influencer text-center">Summary</p>
        </a-col>
      </a-row>
      <CardEst :estData="summaryData" />
      <!-- title -->
      <a-row type="flex" justify="center">
        <a-col :span="24" class="title-bar">
          <p class="title-influencer text-center">Top Performance</p>
        </a-col>
      </a-row>
      <a-row
        type="flex"
        justify="center"
        style="margin: 24px"
        v-if="Object.keys(topPerformance).length === 0"
      >
        <a-empty />
      </a-row>
      <a-row style="margin-bottom: 24px">
        <a-col
          class="card-with-header"
          :span="8"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
        >
          <div class="header-card"> <p style="margin: 0">Influencer </p> </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="Object.keys(topPerformance.audience).length === 0"
          >
            <a-empty />
          </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="Object.keys(topPerformance.audience).length"
          >
            <div class="img-wrapper">
              <img class="img-card-influencer" src="/images/influencer.jpg" />
            </div>
            <p class="txt-semi-bold" v-if="topPerformance.topInfluencer">{{
              topPerformance.topInfluencer.name
            }}</p>
            <div class="subtitle">
              <p v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.sex
              }}</p>
              <p v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.age
              }}</p>
              <p v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.location
              }}</p>
            </div>
            <p style="margin: 0">
              <span><b>Followers:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.followers
              }}</span>
            </p>
            <!-- <p style="margin: 0">
              <span><b>Like:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.like
              }}</span>
            </p>
            <p style="margin: 0">
              <span><b>Comment:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.comment
              }}</span>
            </p>
            <p style="margin: 0">
              <span><b>Click:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.click
              }}</span>
            </p> -->
            <p style="margin: 0">
              <span><b>Engagement Rate:</b></span>
              <span v-if="topPerformance.topInfluencer"
                >{{ topPerformance.topInfluencer.engagementRate }}%</span
              >
            </p>
            <p style="margin: 0">
              <span><b>Male Follower:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.male_follower
              }}</span>
            </p>
            <p style="margin: 0">
              <span><b>Female Follower:</b></span>
              <span v-if="topPerformance.topInfluencer">{{
                topPerformance.topInfluencer.female_follower
              }}</span>
            </p>
          </div>
        </a-col>
        <a-col
          class="card-with-header"
          :span="8"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
        >
          <div class="header-card">
            <p style="margin: 0">Keyword/Hashtag </p>
          </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="!topPerformance.keywordHashtag.length"
          >
            <a-empty />
          </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="topPerformance.keywordHashtag.length"
          >
            <div class="hashtag-wrapper">
              <p class="txt-semi-bold">Hashtag</p>
              <p class="txt-semi-bold">Rank</p>
            </div>
            <div
              class="hashtag-wrapper"
              v-for="item in topPerformance.keywordHashtag"
              :key="item.id"
            >
              <p class="">{{ item.keywordHashtag }}</p>
              <p class="">{{ item.rank }}</p>
            </div>
            <div class="footer-card">
              <p style="margin: 8px; color: #9094a2"
                >*Berdasarkan periode Campaign</p
              >
            </div>
          </div>
        </a-col>
        <a-col
          class="card-with-header"
          :span="8"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
        >
          <div class="header-card">
            <p style="margin: 0">Audience</p>
          </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="Object.keys(topPerformance.audience).length === 0"
          >
            <a-empty />
          </div>
          <div
            class="card-with-header-wrapper padding-8"
            v-if="Object.keys(topPerformance.audience).length"
          >
            <p class="txt-semi-bold" style="">Kota</p>
            <div
              class="audience-card"
              v-if="!topPerformance.audience.city.length"
            >
              <p class="margin-0">Tidak ada data</p>
            </div>
            <div
              class="audience-card"
              v-for="item in topPerformance.audience.city"
              :key="item.id"
            >
              <p class="margin-0">{{ item.name }}</p>
              <p class="margin-0">{{ item.percentage }}</p>
            </div>
            <p class="txt-semi-bold" style="margin-top: 16px">Usia</p>
            <div
              class="audience-card"
              v-for="item in topPerformance.audience.age"
              :key="item.id"
            >
              <p class="margin-0">&lt; {{ item.age }}</p>
              <p class="margin-0">{{ item.percentage }}</p>
            </div>
            <div
              class="audience-card"
              v-if="!topPerformance.audience.age.length"
            >
              <p class="margin-0">Tidak ada data</p>
            </div>
            <p class="txt-semi-bold" style="margin-top: 16px">Jenis Kelamin</p>
            <div class="audience-card">
              <p class="margin-0">Wanita</p>
              <p class="margin-0" v-if="topPerformance.audience">{{
                topPerformance.audience.sex.female
              }}</p>
              <p
                class="margin-0"
                v-if="
                  Object.keys(topPerformance.audience.sex.female).length === 0
                "
                >Tidak ada data</p
              >
            </div>
            <div class="audience-card">
              <p class="margin-0">Pria</p>
              <p class="margin-0" v-if="topPerformance.audience">{{
                topPerformance.audience.sex.male
              }}</p>
              <p
                class="margin-0"
                v-if="
                  Object.keys(topPerformance.audience.sex.male).length === 0
                "
                >Tidak ada data</p
              >
            </div>
            <div class="footer-card">
              <p style="margin: 8px; color: #9094a2"
                >*Berdasarkan periode Campaign</p
              >
            </div>
          </div>
        </a-col>
      </a-row>
      <!-- title -->
      <a-row type="flex" justify="center">
        <a-col :span="24" class="title-bar">
          <p class="title-influencer text-center">List Influencer Kamu</p>
        </a-col>
      </a-row>
      <a-row
        type="flex"
        justify="center"
        style="margin: 24px"
        v-if="!influencer.length"
      >
        <a-empty />
      </a-row>
      <a-row class="padding-16">
        <a-col
          style="max-width: 266px; margin: 8px"
          :span="8"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
          v-for="card in influencer"
          :key="card.id"
        >
          <div class="padding-8 card-list-bordered">
            <div class="card">
              <img class="img-card" src="/images/influencer.jpg" />
            </div>
            <p class="txt-semi-bold">{{ card.name }}</p>
            <div class="subtitle">
              <p>{{ card.sex }}</p>
              <p>{{ card.age }}</p>
              <p>{{ card.location }}</p>
            </div>
            <p style="margin: 0">
              <span><b>Followers:</b></span>
              <span>{{ card.followers }}</span>
            </p>
            <!-- <p style="margin: 0">
              <span><b>Like:</b></span>
              <span>{{ card.like }}</span>
            </p>
            <p style="margin: 0">
              <span><b>comment:</b></span>
              <span>{{ card.comment }}</span>
            </p>
            <p style="margin: 0">
              <span><b>Click:</b></span>
              <span>{{ card.click }}</span>
            </p> -->
            <p style="margin: 0">
              <span><b>Engagement Rate:</b></span>
              <span>{{ card.engagementRate }}%</span>
            </p>
            <!-- <p style="margin: 0">
              <span><b>Conversion Rate:</b></span>
              <span>{{ card.conversionRate }}</span>
            </p> -->
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script>
import { __notification } from '~/utils/notifications'
import CardEst from '~/components/CardEst'
import loading from '~/components/loading'

export default {
  layout: 'dashboardFull',
  components: { loading, CardEst },
  data() {
    return {
      active: true,
      summaryData: {},
      topPerformance: {
        audience: {
          age: [],
          sex: {
            female: '',
            male: '',
          },
          city: [],
        },
        keywordHashtag: [],
      },
      influencer: {},
      isLoading: false,
    }
  },
  mounted() {
    this.getSummary()
  },
  methods: {
    // Function for get summary campaign data
    async getSummary() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/summary/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.summaryData = data.data
        this.topPerformance = data.data.topPerformance
        this.influencer = data.data.influencer
        this.isLoading = false
      } else {
        __notification('error', data.status, data.message)
        this.isLoading = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.card-pink {
  margin-top: 0;
  background-color: lighten($btn-light-pink, 10%);
  height: 100px;
  padding: 24px 24px 24px 56px;
  display: flex;
  justify-content: space-between;
}
.menu {
  margin-top: 5 px;
  border-radius: 2px;
  width: 100%;
}
.menu-content-container {
  display: flex;
  justify-content: space-between;
  border: 1.8px solid $btn-light-pink;
  padding: 24px 24px 24px 56px;
  height: 130px;
}
.icon-text-wrapper {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.icon-wrapper {
  background-color: $btn-light-pink;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
  align-items: center;
}
.active {
  background-color: $light-blue;
}
.icon-brief {
  font-size: 32px;
  margin: 8px;
  padding: 7px 10px 10px 10px;
}
.p-title {
  color: $btn-light-pink;
  font-weight: 500;
}
.title-influencer {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: auto;
  color: white;
}
.text-price {
  display: absolute;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
  margin: auto;
}
.title-bar {
  margin: 0 0 10px 0;
  padding: 16px;
  background-color: $btn-light-pink;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.header-card {
  display: flex;
  padding: 8px;
  background-color: $btn-light-pink;
  color: white;
  text-align: center;
  border-radius: 12px 12px 0 0;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: $semi-bold;
}
.hashtag-wrapper {
  display: flex;
  width: 100%;
  background-color: #f7f5fa;
  justify-content: space-between;
}
.audience-card {
  display: flex;
  width: 100%;
  background-color: #f7f5fa;
  justify-content: space-between;
  margin-bottom: 0;
}

.card-with-header-wrapper {
  border-radius: 12px;
}
.card-with-header {
  max-width: 270px;
  background-color: #f7f5fa;
  border: 2px solid $btn-light-pink;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin: 12px;
}
.txt-semi-bold {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: 8px 0 0 0;
}
.img-card-influencer {
  object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 12px;
}
.subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $grey;
}
.footer-card {
  margin-top: 24px;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
.campaign-detail {
  color: $white;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: $bold;
  }

  ul.list-unstyled {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 8px;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
</style>
