<template>
  <div>
    <NavigationHeader title="Pilih Influencer" icon="arrow-left" reset="" />
    <a-form-model :model="form">
      <a-row class="sticky-menu text-center">
        <a-col class="first-col">
          <a-button type="primary">Selesai</a-button>
          <div style="display: flex; align-items: center">
            <a-icon class="icon-user" type="user" /><p
              style="font-size: 18px; margin: 0"
              >3</p
            >
          </div>
          <div style="display: flex; align-items: center">
            <img class="icon-budget" src="/images/icon-budget.svg" /><span
              >Rp. 10.0000.000</span
            >
          </div>
        </a-col>
        <a-row class="text-center">
          <a-col span="24">
            <a-form-model-item>
              <a-input
                style="width: 100%"
                size="large"
                placeholder="Cari Influencer"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
        <a-row :gutter="16" class="dropdown-wrapper text-center">
          <a-col span="12">
            <a-form-model-item>
              <a-dropdown class="dropdown">
                <a-menu slot="overlay">
                  <a-menu-item
                    v-for="category in categories"
                    :key="category.id"
                  >
                    <a-icon :type="category.icon" />{{ category.title }}
                  </a-menu-item>
                </a-menu>
                <a-button>Filter <a-icon type="down" /> </a-button>
              </a-dropdown>
            </a-form-model-item>
          </a-col>
          <a-col span="12">
            <a-form-model-item>
              <a-dropdown class="dropdown">
                <a-menu slot="overlay">
                  <a-menu-item
                    v-for="category in categories"
                    :key="category.id"
                  >
                    <a-icon :type="category.icon" />{{ category.title }}
                  </a-menu-item>
                </a-menu>
                <a-button>Urutkan <a-icon type="down" /> </a-button>
              </a-dropdown>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-row>
      <a-row class="wrapper-scroll">
        <a-col
          span="6"
          class="card-wrapper margin-10 padding-20"
          v-for="card in cards"
          :key="card.id"
        >
          <div class="card">
            <img class="img-card" src="/images/influencer.jpg" />
          </div>
          <h1 class="price-txt">{{ card.name }}</h1>
          <div class="subtitle">
            <p>{{ card.gender }}</p>
            <p>{{ card.age }}</p>
            <p>{{ card.city }}</p>
          </div>
          <p style="margin: 0">
            <a-icon type="user" />
            <span style="font-weight: 900">Followers:</span>
            <span>{{ card.follower }}</span> </p
          ><p style="margin: 0"> </p
          ><p>
            <a-icon type="heart" />
            <span style="font-weight: 900">Followers:</span>
            <span>{{ card.engagement }}</span>
          </p>
          <div style="display: flex; justify-content: center">
            <a-button type="primary --full-small">Endorse</a-button>
          </div>
        </a-col>
      </a-row>
    </a-form-model>
  </div>
</template>
<script>
export default {
  layout: 'dashboardFull',
  data() {
    return {
      categories: [
        { id: 1, icon: 'video-camera', title: 'Instagram' },
        { id: 2, icon: 'medicine-box', title: 'Youtube' },
        { id: 3, icon: 'laptop', title: 'Tiktok' },
      ],
      cards: [
        {
          id: 1,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Beth',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 2,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 3,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 4,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 5,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Beth',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 6,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 7,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 8,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.card {
  display: flex;
  width: 100%;
  background-color: #f7f5fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.img-card {
  object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 12px;
}
.subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $grey;
}
.card-wrapper {
  width: 30%;
  background-color: #f7f5fa;
  border: 1.8px solid $btn-light-pink;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.price-txt {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: 0;
}
.sticky-menu {
  padding: 16px 124px;
  height: 220px;
  z-index: 2000;
  position: sticky;
  border-bottom: 1.8px solid $btn-light-pink;
}
.icon-budget {
  padding: 10px;
  font-size: 12px;
  color: $btn-light-pink;
}
.icon-user {
  padding: 10px;
  font-size: 24px;
  color: $btn-light-pink;
}
.dropdown {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 24px;
  border: 1px solid;
  border-color: $btn-light-pink;
  box-shadow: none;
  text-align: left;
}
.first-col {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
}
.wrapper-scroll {
  overflow: auto;
  width: 100%;
  height: 980px;
}
</style>
