<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Daftar Influencer" icon="arrow-left" reset="" />
    <div class="padding-16">
      <a-row :gutter="[16, 16]">
        <a-col :span="12">
          <a-button type="primary" class="--full" @click="postSelectedTalent"
            >SELESAI</a-button
          >
        </a-col>
        <a-col :span="3">
          <div class="count-selected-talent">
            <a-icon type="user" style="font-size: 26px; color: #ff79c1" />
            {{ totalSelectedTalent }}
          </div>
        </a-col>
        <a-col :span="9">
          <div class="budget">
            <img class="icon" src="/images/icon-budget.svg" />
            {{ formatPrice('rp', campaignData.budget) }}
          </div>
        </a-col>
        <a-col :span="24">
          <a-input-search placeholder="Cari nama talent" @search="onSearch" />
        </a-col>
        <a-col :span="12">
          <a-button
            type="primary"
            @click="handleChangeFilter"
            style="width: 100%; height: 45px; box-shadow: none"
          >
            Filter
          </a-button>
        </a-col>
        <a-col :span="12">
          <a-select
            :default-value="{ key: 'name' }"
            style="width: 100%"
            v-model="form.sort"
            @change="onChangeSort"
          >
            <a-select-option value="" disabled> Pilih urutan </a-select-option>
            <a-select-option value="name"> Nama </a-select-option>
            <a-select-option value="followers"> Follower </a-select-option>
          </a-select>
        </a-col>
      </a-row>
      <a-row>
        <a-col
          style="max-width: 266px; margin: 8px"
          :span="8"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
          v-for="card in talentData"
          :key="card.id"
        >
          <div class="padding-8 card-list-bordered">
            <div class="card">
              <img class="img-card" src="/images/influencer.jpg" />
            </div>
            <p class="name">{{ card.name }}</p>
            <div class="criteria">
              <p>{{ card.sex }}</p>
              <p>{{ card.age }}</p>
              <p>{{ card.location }}</p>
            </div>
            <p class="margin-0">
              <b>Followers </b>
              <span>{{ card.followers }}</span>
            </p>

            <p>
              <b>Engagement rate </b>
              <span>{{ card.engagementRate }}</span>
            </p>
            <a-button
              :type="activeBtn(card) ? 'primary' : 'secondary'"
              class="--full"
              @click="endorse(card)"
            >
              {{ activeBtn(card) ? 'ENDORSE' : 'BATAL' }}
            </a-button>
          </div>
        </a-col>
      </a-row>
    </div>

    <!-- filter drawer -->
    <!--  -->
    <!--  -->
    <a-drawer
      title="Filter Talent"
      placement="right"
      :width="320"
      :closable="false"
      :visible="visible"
      @close="onClose"
    >
      <div class="label margin-20-top">
        <span><b>Kategori</b></span>
      </div>
      <div class="tag-wrapper">
        <a-spin v-if="isDrawerLoading" />
        <a-select
          mode="multiple"
          placeholder="Pilih kategori"
          option-filter-prop="children"
          :filter-option="filterOption"
          v-model="form.category"
          :default-value="['Pilih kategori']"
          style="width: 100%"
          class="select-height-auto"
        >
          <a-select-option :value="c.id" v-for="c in categoryData" :key="c.id">
            {{ c.name }}
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Domisili</b></span>
      </div>
      <div class="tag-wrapper">
        <a-spin v-if="isDrawerLoading" />
        <a-select
          mode="multiple"
          placeholder="Pilih lokasi"
          option-filter-prop="children"
          :filter-option="filterOption"
          v-model="form.location"
          :default-value="['Pilih lokasi']"
          style="width: 100%"
          class="select-height-auto"
        >
          <a-select-option :value="c.id" v-for="c in cityData" :key="c.id">
            {{ c.name }}
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Jenis Kelamin</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.sex"
          mode="multiple"
          style="width: 100%"
          placeholder="Pilih jenis kelamin"
        >
          <a-select-option value="laki-laki"> Laki-laki </a-select-option>
          <a-select-option value="perempuan"> Perempuan </a-select-option>
        </a-select>
      </div>
      <div class="clearfix"></div>
      <div
        class="label margin-20-top"
        style="display: flex; justify-content: center"
      >
        <span><b>Tampilkan lebih banyak</b></span>
      </div>
      <div class="label margin-20-top">
        <span><b>Jumlah Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select-height-auto"
          v-model="form.followers"
          mode="multiple"
          style="width: 100%"
          placeholder="Pilih followers"
        >
          <a-select-option value="nano"> Nano (1.000-5.000) </a-select-option>
          <a-select-option value="mikro">
            Mikro (5.000 - 100.000)
          </a-select-option>
          <a-select-option value="makro">
            Makro (100.000 - 500.000)
          </a-select-option>
          <a-select-option value="mega"> Mega > 500.000 </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Usia</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select-height-auto"
          v-model="form.age"
          mode="multiple"
          style="width: 100%"
          placeholder="Umur talent"
          option-filter-prop="children"
          :default-value="['Pilih lokasi']"
        >
          <a-select-option value="18"> > 18 tahun </a-select-option>
          <a-select-option value="18-24"> 18 - 24 tahun </a-select-option>
        </a-select>
      </div>
      <div class="margin-20">
        <span><b>Harga Per Influencer</b></span>
      </div>
      <div>
        <a-row style="display: flex; margin: 32px 24px 4px 18px">
          <a-slider
            style="width: 100%"
            :default-value="100000"
            :min="100000"
            :max="100000000"
            :step="100000"
            v-model="form.price"
            :tip-formatter="priceFormatter"
          />
        </a-row>
        <div
          style="

            display: flex;
            width: 94%;
            justify-content: space-between;
            margin: 4px 24px 24px 24px;
          "
        >
          <span>{{ formatPrice('rp', 100000) }}</span>
          <span>{{ formatPrice('rp', 100000000) }}</span>
        </div>
      </div>
      <div class="label margin-20-top">
        <span><b>Status Pernikahan</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          mode="multiple"
          v-model="form.maritalStatus"
          style="width: 100%"
          placeholder="Pilih status"
        >
          <a-select-option class="option" value="menikah" label="Menikah">
            Menikah
          </a-select-option>
          <a-select-option class="option" value="single" label="Belum Menikah">
            Belum Menikah
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Status Anak</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select-height-auto"
          v-model="form.statusAnak"
          mode="multiple"
          style="width: 100%"
          placeholder="Pilih status anak"
        >
          <a-select-option value="bayi"> Bayi </a-select-option>
          <a-select-option value="batita"> Batita </a-select-option>
          <a-select-option value="balita"> Balita </a-select-option>
          <a-select-option value="remaja"> Remaja </a-select-option>
        </a-select>
      </div>
      <div class="clearfix"></div>
      <div
        class="label margin-20-top"
        style="display: flex; justify-content: center"
      >
        <span><b>Tampilkan Data Follower</b></span>
      </div>
      <div class="label margin-20-top">
        <span><b>Domisili Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          mode="multiple"
          placeholder="Pilih lokasi"
          option-filter-prop="children"
          :filter-option="filterOption"
          v-model="form.followerLocation"
          :default-value="['Pilih lokasi']"
          style="width: 100%"
          class="select-height-auto"
        >
          <a-select-option :value="c.id" v-for="c in cityData" :key="c.id">
            {{ c.name }}
          </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Jenis Kelamin Follower</b></span>
      </div>
      <div class="tag-wrapper">
        <a-select
          class="select"
          v-model="form.followerSex"
          mode="multiple"
          style="width: 100%"
          placeholder="Jenis kelamin follower"
        >
          <a-select-option value="laki-laki"> Laki-laki </a-select-option>
          <a-select-option value="perempuan"> Perempuan </a-select-option>
        </a-select>
      </div>
      <div class="label margin-20-top">
        <span><b>Usia Follower</b></span>
      </div>
      <a-form-model-item>
        <div class="tag-wrapper">
          <a-select
            v-model="form.followerAge"
            mode="multiple"
            style="width: 100%"
            placeholder="Usia followers"
            class="select-height-auto"
            option-filter-prop="children"
          >
            <a-select-option value="18"> > 18 tahun </a-select-option>
            <a-select-option value="18-24"> 18 - 24 tahun </a-select-option>
          </a-select>
        </div>
      </a-form-model-item>
      <div class="label margin-24-top">
        <span><b>Kategori Follower</b></span>
      </div>
      <a-form-model-item>
        <div class="tag-wrapper">
          <a-spin v-if="isDrawerLoading" />
          <a-select
            mode="multiple"
            placeholder="Pilih kategori"
            option-filter-prop="children"
            :filter-option="filterOption"
            v-model="form.followerCategory"
            :default-value="['Pilih kategori']"
            style="width: 100%"
            class="select-height-auto"
          >
            <a-select-option
              :value="c.id"
              v-for="c in categoryData"
              :key="c.id"
            >
              {{ c.name }}
            </a-select-option>
          </a-select>
        </div>
      </a-form-model-item>
      <div style="display: flex; justify-content: center">
        <a-button type="primary" @click="onChangeFilter"> Tampilkan </a-button>
        <a-button type="secondary" @click="onResetFilter"> Reset </a-button>
      </div>
    </a-drawer>
  </a-row>
</template>
<script>
import loading from '~/components/loading'
import { __notification } from '~/utils/notifications'
import { formatPrice } from '~/utils/formatPrice'
const queryString = require('query-string')

export default {
  layout: 'dashboardFull',
  components: { loading },
  data() {
    return {
      form: {
        search: '',
        sort: '',
        category: [],
        sex: [],
        age: [],
        location: [],
        followers: [],
        price: null,
        followerLocation: [],
        followerSex: [],
        followerCategory: [],
        followerAge: [],
        maritalStatus: [],
        statusAnak: [],
      },
      isLoading: false,
      talentData: [],
      selectedTalent: [],
      campaignData: {},
      visible: false,
      cityData: [],
      categoryData: [],
      isDrawerLoading: false,
    }
  },
  computed: {
    totalSelectedTalent: function() {
      return this.selectedTalent.length
    },
  },
  mounted() {
    this.getTalent()
    this.getCampaign()
  },
  methods: {
    formatPrice,
    onSearch(value) {
      this.form.search = value
      this.searchTalent()
    },
    onChangeSort() {
      this.searchTalent()
    },
    async searchTalent() {
      const query = queryString.stringify(this.form, { arrayFormat: 'comma' })

      await this.$api
        .get(
          `/influencer/list-by-channel/${this.$route.params.campaignId}?${query}`
        )
        .then((result) => {
          const { data } = result
          if (data.code === 1) {
            this.talentData = data.data
            this.isLoading = false
          } else {
            __notification('error', data.status, data.message)
            this.isLoading = false
          }
        })
        .catch((err) => {
          __notification(
            'error',
            'Terjadi kesalahan!',
            err.response.data.message
          )
          this.isLoading = false
        })
    },
    activeBtn(val) {
      const index = this.selectedTalent.findIndex((x) => x === val.id)
      if (index === -1) {
        return true
      } else {
        return false
      }
    },
    endorse(val) {
      const index = this.selectedTalent.findIndex((x) => x === val.id)
      if (index === -1) {
        this.selectedTalent.push(val.id)
      } else {
        const remove = this.selectedTalent.filter((item) => item !== val.id)
        this.selectedTalent = remove
      }
    },
    async getTalent() {
      this.isLoading = true

      await this.$api
        .get(`/influencer/list-by-channel/${this.$route.params.campaignId}`)
        .then((result) => {
          const { data } = result
          if (data.code === 1) {
            this.talentData = data.data
            this.isLoading = false
          } else {
            __notification('error', data.status, data.message)
            this.isLoading = false
          }
        })
        .catch((err) => {
          __notification(
            'error',
            'Terjadi kesalahan!',
            err.response.data.message
          )
          this.isLoading = false
        })
    },
    async getCampaign() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/summary/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.campaignData = data.data
        const { influencer } = this.campaignData
        const transformInfluencer = influencer.map((val) => val.id)
        this.selectedTalent = transformInfluencer
      } else {
        __notification('error', data.status, data.message)
      }
    },
    async postSelectedTalent() {
      this.isLoading = true

      await this.$api
        .$post(
          `/campaign/save-selected-influencer/${this.$route.params.campaignId}`,
          { id: this.selectedTalent }
        )
        .then((result) => {
          if (result.code === 1) {
            __notification('success', 'Sukses!')
            this.$router.push(`/buat-campaign/${this.$route.params.campaignId}`)
          } else __notification('warning', 'Terjadi kesalahan')

          this.isLoading = false
        })
        .catch((err) => {
          __notification(
            'error',
            'Terjadi kesalahan!',
            err.response.data.message
          )

          this.isLoading = false
        })
    },
    handleChangeFilter(value) {
      // this.$router.push(
      //   `/buat-campaign/${this.$route.params.campaignId}/filter`
      // )
      this.visible = true

      this.getfilterData()
    },
    onClose() {
      this.visible = false
    },
    async getfilterData() {
      this.isDrawerLoading = true
      const city = this.$api.get(`/city/list`)
      const category = this.$api.get(`/category/list`)

      await Promise.all([city, category])
        .then((result) => {
          this.cityData = result[0].data.data
          this.categoryData = result[1].data.data
          this.isDrawerLoading = false
        })
        .catch((err) => {
          __notification('error', err.response.data.message)
          this.isDrawerLoading = false
        })
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    priceFormatter(value) {
      return this.formatPrice('rp', value)
    },
    onChangeFilter() {
      this.onClose()
      this.searchTalent()
    },
    onResetFilter() {
      this.form = {
        category: [],
        sex: [],
        age: [],
        location: [],
        followers: [],
        price: 100000,
        followerLocation: [],
        followerSex: [],
        followerCategory: [],
        followerAge: [],
        maritalStatus: [],
        statusAnak: [],
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.count-selected-talent,
.budget {
  font-size: 26px;
  font-weight: $bold;
  color: $black;
}
</style>
