@import 'variables';
@import '../fonts/fonts';

.logo-inline {
  background-image: url('~assets/images/fameoboost-logo-inline.svg');
  background-repeat: no-repeat;
  width: 300px;
  height: 45px;
  margin: 16px 0;
  background-size: contain;

  &.--blue {
    background-image: url('~assets/images/fameoboost-logo-inline-blue.svg');
  }
}

body {
  font-family: $main-font;
  background-color: white;
}

.ant-layout {
  background: $white;
}

// global class
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.padding-remove {
  padding: 0 !important;
}

.margin-remove {
  margin: 0 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.container {
  padding: 0 16px;

  &.--white {
    background: $white;
  }

  &.--full-height {
    // margin: 0 auto;
    min-height: calc(100vh - 213px);
    // display: flex;
  }

  &.--full-vh {
    height: 100vh;
  }

  &.--full-vh-menu {
    min-height: calc(100vh - 95px);
  }

  &.--fix {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
  }
}

h2 {
  line-height: 20px;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.ant-btn {
  height: 50px;
  line-height: 50px;
  width: 250px;
  font-family: $main-font;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $black;
  box-shadow: 0 10px 15px rgba(73, 35, 143, 0.15);
  text-transform: uppercase;
  border-radius: 15px;
  border: none;

  &.--full {
    width: 100%;
  }
  &.--full-small {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  &.ant-btn-primary {
    background: $btn-light-pink;
    color: $white;
  }
  &.ant-btn-secondary {
    background: $light-blue;
    color: $white;
  }
  &.ant-btn-disabled {
    border: 1px solid #999;
    background-color: #ccc;
    color: #666;
  }

  & + .ant-btn {
    margin-left: 16px;
  }
}

.ant-form {
  label {
    font-size: 16px;
    line-height: 45px;
    text-align: left;
    font-style: normal;
    font-weight: $semi-bold;
    color: $black;
  }
}
.ant-form-item-required::before {
  display: none;
}

.ant-input,
.ant-select-selection,
.ant-input-number-input {
  height: 45px;
  background: $white;
  border: 1px solid $btn-light-pink;
  box-sizing: border-box;
  border-radius: 12px;
  font-style: normal;
  font-weight: $light;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  width: 100%;

  &.simple {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 2px solid $main-blue;
  }

  &:hover,
  &:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
  }
}

.select-height-auto {
  .ant-select-selection {
    height: auto;
  }
}
.ant-tooltip-inner {
  background-color: $btn-light-pink;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.ant-tooltip-arrow::before {
  background-color: $btn-light-pink;
}

.ant-input-number {
  border: none;
}

.ant-select-selection--single {
  line-height: 45px;
}
.ant-select-selection__rendered {
  position: unset;
  display: block;
  margin-left: 16px;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  left: 8px;
}
// .ant-input {
//   height: 45px;
//   border-radius: 15px;
//   background: #fff;
//   border: 2px solid #fff;

//   &:hover,
//   &:focus {
//     outline: none;
//     outline-width: 0;
//     box-shadow: none;
//   }
// }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.bg-blue-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#55c6fb+8,4b4bdb+94,4b4bdb+94 */
  background: #00c8fc; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #00c8fc 8%,
    #4b4bdb 94%,
    #4b4bdb 94%
  ); /* FF3.6-15 */

  background: -webkit-linear-gradient(
    top,
    #00c8fc 8%,
    #4b4bdb 94%,
    #4b4bdb 94%
  ); /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(
    to bottom,
    #00c8fc 8%,
    #4b4bdb 94%,
    #4b4bdb 94%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:dximagetransform.microsoft.gradient( startColorstr='#00C8FC', endColorstr='#4b4bdb',GradientType=0 ); /* IE6-9 */
}

.ant-layout-content {
  overflow: hidden;
}

.btn {
  line-height: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(95, 69, 145, 0.15);
  font-family: $main-font;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $whitefa;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  border: none;

  &.--light-pink {
    background-color: $btn-light-pink;
  }
  &.--pink {
    background-color: $pink;
  }
}

.text-light-pink {
  color: $btn-light-pink;
}
.text-white {
  color: $white;
}

.ant-menu-submenu-popup {
  background: rgba(255, 255, 255, 0.3);

  > .ant-menu {
    background: transparent;
    .ant-menu-item-selected {
      background: $pink;
    }
  }
}
.ant-select-selection--multiple .ant-select-selection__choice {
  position: relative;
  float: left;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  max-width: 99%;
  margin-left: 5px;
  padding: 0 20px 0 10px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  background-color: $btn-light-pink;
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  cursor: default;
  -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-select-selection--multiple .ant-select-selection__rendered {
  height: 40px;
  line-height: 2;
  margin-left: 5px;
  margin-top: 1px;
}
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  height: 34px;
  margin-top: 3px;
  line-height: 34px;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 4px 3px;
}

.clearfix {
  clear: both;
}

.menu-icon {
  .ant-menu-item-active {
    background: none;
  }
  .anticon {
    font-size: 20px;
    margin: 0;
  }
}

.checkbox-pill {
  label {
    background: $btn-light-pink;
    border-radius: 15px;
    color: $black;
    font-weight: 500;
    margin-bottom: 16px;

    &.ant-checkbox-wrapper-checked {
      background: lighten($btn-light-pink, 10%);
    }
  }

  .ant-checkbox {
    visibility: hidden;

    & + span {
      padding-left: 0;
      padding-right: 21px;
    }
  }

  .ant-checkbox-checked::after {
    display: none;
  }
}

.pink-wrapper {
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  &.--solid {
    background-color: $btn-light-pink;
    color: white;
  }

  &.--bordered {
    border: 2px solid $btn-light-pink;
    color: $btn-light-pink;
  }

  .icon-budget {
    justify-content: center;
    align-items: center;
    margin: auto 10px auto 20px;
    width: 30px;
  }

  .subtitle-text {
    font-size: 14px;
    font-weight: $semi-bold;
    margin: 0;
    color: $white;

    &.--pink {
      color: $btn-light-pink;
    }
  }

  .icon {
    font-size: 32px;
  }

  .icon-pink {
    justify-content: center;
    align-items: center;
    margin: auto 10px auto 0;
    width: 30px;
    color: $btn-light-pink;
    font-size: 24px;
  }
}

.block-title-bar {
  margin: 0 24px;
  padding: 16px;
  background-color: $btn-light-pink;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  .title {
    font-size: 20px;
    font-weight: $semi-bold;
    margin: auto;
    color: white;
  }
}

.card-list-bordered {
  background-color: $white;
  border: 2px solid $btn-light-pink;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: $black;

  .card {
    display: flex;
    width: 100%;
    background-color: $white;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .img-card {
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: 12px;
  }
  .criteria {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $black;
    font-size: 12px;
    margin-bottom: 16px;

    p {
      margin-bottom: 0;
    }
  }

  .name {
    font-size: 16px;
    font-weight: $bold;
    margin-bottom: 8px;
    color: $black;
  }
}
.ant-layout-sider {
  background: #fff;
}

@media only screen and (min-width: $grid-xs) and (max-width: $grid-md) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: block;
  }
}

@media only screen and (min-width: 576px) {
  .hide-xs {
    display: block;
  }
  .show-xs {
    display: none;
  }
  .mt-55 {
    margin-top: 55px;
  }
}

@media only screen and (max-width: $grid-xs) {
  .show-xs {
    display: block;
  }
  .hide-xs {
    display: none;
  }

  .ant-layout-sider-zero-width-trigger {
    position: fixed;
    left: 0;
  }
}
