@mixin margin($name, $size) {
  .#{$name}-#{$size} {
    #{$name}: #{$size}px;
  }
}

@mixin marginPos($name, $size, $dir) {
  .#{$name}-#{$size}-#{$dir} {
    #{$name}-#{$dir}: #{$size}px;
  }
}

@include margin('margin', 0);
@include margin('margin', 10);
@include margin('margin', 15);
@include margin('margin', 20);
@include margin('margin', 30);
@include margin('margin', 8);
@include margin('margin', 16);
@include margin('margin', 24);
@include margin('margin', 32);
@include margin('padding', 0);
@include margin('padding', 10);
@include margin('padding', 15);
@include margin('padding', 20);
@include margin('padding', 24);
@include margin('padding', 30);
@include margin('padding', 8);
@include margin('padding', 16);
@include margin('padding', 32);
@include marginPos('margin', 0, bottom);
@include marginPos('margin', 10, bottom);
@include marginPos('margin', 10, top);
@include marginPos('margin', 20, bottom);
@include marginPos('margin', 20, top);
@include marginPos('margin', 30, bottom);
@include marginPos('margin', 30, top);
@include marginPos('margin', 40, bottom);
@include marginPos('margin', 40, top);
@include marginPos('margin', 50, top);
@include marginPos('margin', 50, bottom);
@include marginPos('margin', 60, top);
@include marginPos('margin', 70, bottom);
@include marginPos('margin', 100, top);
@include marginPos('margin', 8, top);
@include marginPos('margin', 16, top);
@include marginPos('margin', 24, top);
@include marginPos('margin', 32, top);
@include marginPos('margin', 8, left);
@include marginPos('margin', 16, left);
@include marginPos('margin', 24, left);
@include marginPos('margin', 32, left);
@include marginPos('margin', 8, bottom);
@include marginPos('margin', 16, bottom);
@include marginPos('margin', 24, bottom);
@include marginPos('margin', 32, bottom);
@include marginPos('padding', 30, left);
@include marginPos('padding', 20, top);
@include marginPos('padding', 30, top);
@include marginPos('padding', 40, top);
@include marginPos('padding', 50, top);
@include marginPos('padding', 8, bottom);
@include marginPos('padding', 16, bottom);
@include marginPos('padding', 24, bottom);
@include marginPos('padding', 32, bottom);
@include marginPos('padding', 8, top);
@include marginPos('padding', 16, top);
@include marginPos('padding', 24, top);
@include marginPos('padding', 32, top);
@include marginPos('padding', 8, left);
@include marginPos('padding', 16, left);
@include marginPos('padding', 24, left);
@include marginPos('padding', 32, left);
@include marginPos('padding', 8, right);
@include marginPos('padding', 16, right);
@include marginPos('padding', 24, right);
@include marginPos('padding', 32, right);

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $unit-1: unit($min-vw);
  $unit-2: unit($max-vw);
  $unit-3: unit($min-font-size);
  $unit-4: unit($max-font-size);

  @if $unit-1 == $unit-2 and $unit-1 == $unit-3 and $unit-1 == $unit-4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
