// colors
$main-blue: #264fb5;
$main-yellow: #ffd938;
$red: #d11515;
$green: #00b973;
$black: #212945;
$grey: #9094a2;
$white: #fff;
$whitefa: #fafafa;
$pink: #fd2281;
$dark-purple: #b95696;
$light-pink: #fce0e3;
$bright-pink: #eb3473;
$font-pink: #ff4b81;
$bg-footer: #091042;
$btn-light-pink: #ff79c2; // pink form field, header, main pink
$light-blue: #57d4ff; // blue border, sidebar
// fonts
$extra-light: 200;
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
$main-font: 'Poppins', sans-serif;
$avenir: 'Avenir LT Std';
$avenir-pro: 'Avenir Next LT Pro';
$avenir-roman: 'Avenir Roman';
$averta: 'Averta';
// fluid typography
$min-width: 320px;
$max-width: 1200px;
$min-font: 16px;
$max-font: 24px;
// grid
$grid-xs: 575px;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
// $grid-xl: 1200px;
$grid-xxl: 1600px;
