<template>
  <a-card class="card">
    <template slot="actions" class="ant-card-actions">
      <a-button class="button" type="primary" icon="usergroup-add">
        View Campaign
      </a-button>
      <a-button class="button" type="primary" disabled> Draft </a-button>
    </template>
    <div class="card-content-container">
      <a-card-meta :title="title" :description="description">
        <a-avatar slot="avatar" :src="avatar" />
      </a-card-meta>
      <div class="button-right-container">
        <a-icon style="padding: 10px" hoverable type="delete" />
        <a-icon style="padding: 10px" hoverable type="arrow-right" />
      </div>
    </div>
  </a-card>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    avatar: {
      type: String,
      required: true,
    },
  },
}
</script>
<style lang="scss" scoped>
.card {
  margin-top: 20px;
}
.button {
  height: 40px;
  width: 14vw;
  border-radius: 7px;
  color: $white;
  font-size: 14px;
  background-color: #1aceb3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
  border: 1px solid;
  border-color: $white;
}
.card-content-container {
  display: flex;
}
.button-right-container {
  display: absolute;
  width: 100%;
  text-align: right;
  font-size: 20px;
}
</style>
