<template>
  <div>
    <!-- pink wrapper solid -->
    <a-row type="flex" justify="center">
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <img class="icon" src="/images/icon-budget.svg" />
          </div>
          <div>
            <p class="subtitle-text">Budget</p>
            <p class="subtitle-text">
              {{ formatPrice('rp', estData.budget) }}</p
            >
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="user" class="icon" />
          </div>
          <div>
            <p class="subtitle-text">Total KOL</p>
            <p class="subtitle-text">{{ estData.kol }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="user" class="icon" />
          </div>
          <div style="display: block">
            <p class="subtitle-text">Est. Audience</p>
            <p class="subtitle-text">{{ estData.estAudience }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="user" class="icon" />
          </div>
          <div>
            <p class="subtitle-text">Est. Reach</p>
            <p class="subtitle-text">{{ estData.estReach }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="user" class="icon" />
          </div>
          <div>
            <p class="subtitle-text">Est. Engagement</p>
            <p class="subtitle-text">{{ estData.estEngagement }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="user" class="icon" />
          </div>
          <div>
            <p class="subtitle-text">Est. Conversion</p>
            <p class="subtitle-text">{{ estData.estConversion }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="heart" theme="filled" class="icon" />
          </div>
          <div>
            <p class="subtitle-text"> Est. Engagement Rate </p>
            <p class="subtitle-text">{{ estData.estEngagementRate }}</p>
          </div>
        </div>
      </a-col>
      <a-col
        :span="8"
        :sm="{ span: 24 }"
        :xs="{ span: 24 }"
        :md="{ span: 24 }"
        style="max-width: 280px"
        class="pink-wrapper --solid margin-10"
      >
        <div style="display: flex; width: 100%">
          <div class="icon-budget">
            <a-icon type="heart" theme="filled" class="icon" />
          </div>
          <div>
            <p class="subtitle-text"> Est. Conversion Rate </p>
            <p class="subtitle-text">{{ estData.estConversionRate }}</p>
          </div>
        </div>
      </a-col>
      <!-- pink wrapper bordered -->
      <a-col
        :span="16"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :md="{ span: 20 }"
        style="max-width: 580px"
        class="pink-wrapper --bordered margin-10"
      >
        <a-row type="flex">
          <a-col flex="35px">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
          </a-col>
          <a-col flex="auto">
            <p class="subtitle-text --pink padding-8-left">
              Est. Average Cost per Reach
            </p>
          </a-col>
          <a-col flex="100px">
            <p class="subtitle-text --pink text-right">
              {{ formatPrice('rp', estData.estAverageReach) }}
            </p>
          </a-col>
        </a-row>
      </a-col>
      <a-col
        :span="16"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :md="{ span: 20 }"
        style="max-width: 580px"
        class="pink-wrapper --bordered margin-10"
      >
        <a-row type="flex">
          <a-col flex="35px">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
          </a-col>
          <a-col flex="auto">
            <p class="subtitle-text --pink padding-8-left">
              Est. Average Cost per Engagement
            </p>
          </a-col>
          <a-col flex="100px">
            <p class="subtitle-text --pink text-right">
              {{ formatPrice('rp', estData.estAverageEngagement) }}
            </p>
          </a-col>
        </a-row>
      </a-col>
      <a-col
        :span="16"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :md="{ span: 20 }"
        style="max-width: 580px"
        class="pink-wrapper --bordered margin-10"
      >
        <a-row type="flex">
          <a-col flex="35px">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
          </a-col>
          <a-col flex="auto">
            <p class="subtitle-text --pink padding-8-left">
              Est. Average Cost per Conversion/click
            </p>
          </a-col>
          <a-col flex="100px">
            <p class="subtitle-text --pink text-right">
              {{ formatPrice('rp', estData.estAverageConversion) }}
            </p>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import { formatPrice } from '~/utils/formatPrice'

export default {
  props: {
    estData: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatPrice,
  },
}
</script>
<style lang="scss" scoped></style>
