<template>
  <div class="margin-20">
    <a-form :form="form" @submit="onSubmit">
      <a-form-item :label="title">
        <a-date-picker size="large" id="date-picker" />
        <div class="margin-10">
          <span>{{ tips }}</span>
        </div>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    popover: {
      type: String,
      required: true,
    },
    tips: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.button-tooltip {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  width: 10px;
}
</style>
