<template>
  <div class="dropdown-wrapper">
    <a-dropdown class="dropdown" v-for="(card, x) in cards" :key="x">
      <a-menu slot="overlay">
        <a-menu-item key="1">
          1st item
        </a-menu-item>
        <a-menu-item key="2">
          2nd item
        </a-menu-item>
        <a-menu-item key="3">
          3rd item
        </a-menu-item>
      </a-menu>
      <a-button> {{ card.title }} <a-icon type="down" /> </a-button>
    </a-dropdown>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cards: [{ title: 'Tipe Campaign' }, { title: 'Urut berdasarkan' }],
    }
  },
}
</script>

<style lang="scss" scoped>
.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  width: 50%;
  height: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  border: 1px solid;
  border-color: $btn-light-pink;
  box-shadow: none;
  text-align: center;
}
.dropdown:not(:last-child) {
  margin-right: 20px;
}
</style>
