<template>
  <div class="container --fix">
    <a-row type="flex">
      <a-col flex="316px">
        <div class="logo-inline" />
      </a-col>
      <a-col flex="auto">
        <a-menu
          mode="horizontal"
          :default-selected-keys="['1']"
          class="text-right"
        >
          <a-menu-item key="1">
            Get Started
          </a-menu-item>
          <a-menu-item key="2">
            Services
          </a-menu-item>
          <a-menu-item key="3">
            Why Fameoboost?
          </a-menu-item>
          <a-menu-item key="4">
            How it works?
          </a-menu-item>
        </a-menu>
      </a-col>
    </a-row>
  </div>
</template>

<style lang="scss" scoped>
.ant-menu-horizontal {
  background: none;
  color: $white;
  border: none;
  font-size: 16px;
}
</style>
