<template>
  <div class="container --full-vh bg-rocket">
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space align="center">
          <a-row>
            <a-col
              :span="20"
              :xs="{ span: 24, offset: 0 }"
              :lg="{ span: 22, offset: 1 }"
              :offset="2"
            >
              <div class="mobile">
                <h1>
                  WE ARE <br class="hide-xs" />
                  FAMEOBOOST
                </h1>
                <br />
                <h2>
                  Sales conversion is our passion! <br class="hide-xs" />
                  We lead online influencer marketing <br class="hide-xs" />
                  to offline activities. Make influencer <br class="hide-xs" />
                  marketing really works for you!
                </h2>
                <nuxt-link to="/register" class="ant-btn ant-btn-primary">
                  REGISTER
                </nuxt-link>
                <nuxt-link to="/login" class="ant-btn ant-btn-primary">
                  LOGIN
                </nuxt-link>
              </div>
            </a-col>
          </a-row>
        </a-space>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>

<style lang="scss" scoped>
@media only screen and (max-width: $grid-xs) {
  .mobile {
    h1 {
      margin-top: 16px;
      line-height: normal;
    }
    h2 {
      line-height: normal;
    }

    .ant-btn {
      width: 100%;
    }
    .ant-btn + .ant-btn {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

.bg-rocket {
  background: url('/images/bg-home-rocket.png') no-repeat top right;
  background-size: cover;
}

h1 {
  @include fluid-type($min-width, $max-width, 32px, 70px);

  line-height: 70px;
  font-weight: $bold;
}
h2 {
  @include fluid-type($min-width, $max-width, 22px, 32px);

  line-height: 41px;
  font-weight: $light;
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100vh;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
</style>
