<template>
  <div>
    <a-carousel arrows>
      <div
        slot="Arrow"
        class="custom-slick-arrow"
        style="left: 10px; z-index: 1"
      >
        <a-icon type="left-circle" />
      </div>
      <div slot="nextArrow" class="custom-slick-arrow" style="right: 10px">
        <a-icon type="right-circle" />
      </div>
      <div>
        <div class="slide-content">
          <div
            class="img"
            :style="{
              background: 'url(/slide-2.jpg) no-repeat center center',
              backgroundSize: 'cover',
            }"
          >
            <img src="/slide-2.jpg" alt="" />
          </div>
          <!-- <div class="title">
            WE ARE FAMEOBOOST
          </div> -->
          <div class="sub-title">
            Influencer Marketing Campaigns for Every Budget! Get Loud! Get
            Creative! Get More Conversions!
          </div>
        </div>
      </div>
      <!-- <div>
        <div class="slide-content">
          <div
            class="img"
            :style="{
              background: 'url(/slide-1.jpg) no-repeat center center',
              backgroundSize: 'cover',
            }"
          >
            <img src="/slide-2.jpg" alt="" />
          </div>
          <div class="title">
            Reach out the right crowd through widest range of influencer
            marketing services
          </div>
        </div>
      </div> -->
    </a-carousel>
  </div>
</template>
<script>
export default {}
</script>

<style lang="scss">
.ant-carousel {
  height: 100vh;
  padding-top: 0;

  .slide-content {
    position: relative;

    .img {
      height: 100vh;

      &::after {
        background: rgba(85, 47, 156, 0.2);
        content: '';
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      > img {
        opacity: 0;
      }
    }

    .title,
    .sub-title {
      color: $white;
      text-align: center;
      width: 80%;
      height: auto;
      position: absolute;
      bottom: 30%;
      left: 10%;
      z-index: 1;
      font-family: $main-font;
      font-weight: bold;

      @include fluid-type($min-width, $max-width, 25px, 65px);
    }
    .sub-title {
      bottom: 9%;
      font-weight: 600;
      height: 150px;

      @include fluid-type($min-width, $max-width, 20px, 37px);
    }
  }

  >>> .custom-slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(31, 45, 61, 0.11);
    opacity: 0.3;
  }

  >>> .custom-slick-arrow::before {
    display: none;
  }
  >>> .custom-slick-arrow:hover {
    opacity: 0.5;
  }

  >>> .slick-slide h3 {
    color: #fff;
  }

  .slick-list .slick-slide {
    /* background: blue; */
  }

  .slick-slider .slick-track,
  .ant-carousel .slick-slider .slick-list {
    height: 100vh;
  }

  .slide-c {
    height: 100vh;
    width: 100vw;
  }
}
</style>
