<template>
  <div class="loading-wrapper" v-if="isLoading">
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space align="center">
          <a-icon
            type="loading"
            :style="{ fontSize: '80px', color: '#57d4ff' }"
          />
        </a-space>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;

  .space-align-container,
  .space-align-block,
  .ant-space {
    height: 100%;
  }
}
</style>
