<template>
  <a-card class="page-header">
    <div class="flex-middle">
      <a-icon class="back-icon" :type="icon" @click="goBack()" />
      <div class="txt">
        <h1 class="title-text margin-0-bottom">{{ title }}</h1>
      </div>
    </div>
  </a-card>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: false,
      default: 'arrow-left',
    },
  },
  methods: {
    goBack() {
      this.$router.back()
    },
  },
}
</script>
<style lang="scss" scoped>
.page-header {
  background: $btn-light-pink;
  color: $white;
  border-radius: 12px 12px 0 0;
  border: none;
}
.title-text {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: $white;
}
.back-icon {
  font-size: 20px;
  font-weight: 400;
}
.txt {
  width: 100%;
}
</style>
