<template>
  <a-menu :mode="mode" :default-selected-keys="[activeMenu]" :class="cssClass">
    <a-menu-item key="/">
      <nuxt-link class="text-blue" to="/" title="Home"> Home </nuxt-link>
    </a-menu-item>
    <a-menu-item key="/packages">
      <nuxt-link class="text-blue" to="/packages" title="Packages">
        Packages
      </nuxt-link>
    </a-menu-item>
    <a-menu-item key="/login" class="menu-icon" v-if="!loggedIn">
      <nuxt-link class="text-blue" to="/login" title="Login"> Login </nuxt-link>
    </a-menu-item>
    <a-menu-item key="/profil-saya" class="menu-icon" v-else>
      <nuxt-link class="text-blue" to="/profil-saya" title="Login">
        <a-avatar class="user-avatar" icon="user" />
      </nuxt-link>
    </a-menu-item>
  </a-menu>
</template>
<script>
export default {
  props: {
    mode: {
      type: String,
      required: false,
      default: 'horizontal',
    },
    cssClass: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      loggedIn: this.$cookiz.get('auth'),
      activeMenu: this.$route.fullPath,
    }
  },
}
</script>

<style lang="scss" scoped>
/* .text-blue {
  color: $light-blue;
} */
.user-avatar {
  background-color: $light-blue;
}
.ant-menu-horizontal > .ant-menu-item > a {
  color: $light-blue;
}
.ant-menu {
  text-align: right;
  line-height: 45px;
  margin: 25px 0;
  background: none;
  border: none;

  > .ant-menu-item,
  .ant-menu-horizontal > .ant-menu-submenu {
    border-radius: 5px;
    font-size: 16px;
    color: $light-blue;
    border: none;
    margin: 4px;
  }

  .ant-menu-item-selected,
  .ant-menu-item-active {
    background-color: $pink;

    > a {
      color: $white;
    }
  }
}

@media only screen and (max-width: 576px) {
  .ant-menu {
    text-align: left;
    margin: 55px 0;
  }
}
</style>
