<template>
  <a-layout-sider
    width="200"
    class="margin-16-top padding-16-top padding-16-bottom custom-sidebar "
  >
    <a-menu
      mode="inline"
      :default-selected-keys="['1']"
      :style="{ height: '100%', borderRight: 0 }"
    >
      <template v-for="(card, x) in cards">
        <template v-if="card.sub.length">
          <a-sub-menu :key="x">
            <span slot="title"><a-icon type="user" />{{ card.title }}</span>
            <a-menu-item :key="y" v-for="(subMenu, y) in card.sub">
              <nuxt-link :to="subMenu.link">
                <a-icon :type="subMenu.icon" />
                <span>{{ subMenu.title }}</span>
              </nuxt-link>
            </a-menu-item>
          </a-sub-menu>
        </template>
        <template v-else>
          <a-menu-item :key="x">
            <nuxt-link :to="card.link">
              <a-icon :type="card.icon" />
              <span>{{ card.title }}</span>
            </nuxt-link>
          </a-menu-item>
        </template>
      </template>
    </a-menu>
  </a-layout-sider>
</template>
<script>
export default {
  data() {
    return {
      cards: [
        {
          title: 'Buat Campaign',
          icon: 'plus-circle',
          link: '/buat-campaign',
          sub: [],
        },
        { title: 'Berjalan', icon: 'copy', link: '/list-campaign', sub: [] },
        {
          title: 'Riwayat',
          icon: 'history',
          link: '/history-campaign',
          sub: [],
        },
        { title: 'Notifikasi', icon: 'bell', link: '/buat-campaign', sub: [] },
        {
          title: 'Akun',
          icon: 'user',
          link: '',
          sub: [
            { title: 'Profil Saya', icon: 'user', link: '/profil-saya' },
            { title: 'Profil Usaha', icon: 'bank', link: '/profil-bisnis' },
          ],
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.custom-sidebar {
  background: $white;
}
.menu:first-child {
  margin-top: 20px;
}
.menu-item {
  border: 1px solid;
  border-color: #c7c7c7;
}
.sidebar:hover {
  color: $bright-pink;
}
</style>
