<template>
  <div>
    <carousel
      :autoplay="autoplay"
      :loop="true"
      :perPage="5"
      :paginationEnabled="pagination"
      :navigationEnabled="false"
      navigationNextLabel="<img class='nav-next' src='/images/icon-right@2x.png' alt='next' />"
      navigationPrevLabel="<img class='nav-prev' src='/images/icon-left.svg' alt='next' />"
      class="visible-carousel"
      :perPageCustom="[
        [320, 1],
        [480, 2],
        [576, 2],
        [768, 3],
        [992, 4],
        [1200, 4],
        [1600, 5],
      ]"
    >
      <slide v-for="data in sliderData" :key="data.title">
        <a :href="data.link" target="_blank">
          <div class="box-slider-simple">
            <template
              v-if="data.title === 'ganlop' || data.title === 'marketeers'"
            >
              <div
                class="thumb"
                :style="
                  data.title === 'ganlop'
                    ? 'background-color: #D32F2F'
                    : 'background-color: #000'
                "
              >
                <img :src="data.image" :alt="data.title" />
              </div>
            </template>
            <template v-else>
              <div class="thumb">
                <img :src="data.image" :alt="data.title" />
              </div>
            </template>
          </div>
        </a>
      </slide>
    </carousel>
  </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel'
export default {
  components: { Carousel, Slide },
  props: {
    sliderData: {
      type: Array,
      default: null,
    },
    pagination: {
      type: Boolean,
      default: false,
    },
    autoplay: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.box-slider-simple {
  width: 260px;
  height: 180px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 0 auto;

  .thumb img {
    max-width: 200px;
    max-height: 130px;

    /* width: 100%;
    max-height: 130px;
    height: 100%; */
  }
}
</style>
