<template>
  <div>
    <NavigationHeader title="Kriteria Influencer" />
    <div class="padding-24">
      <a-form-model
        ref="criteriaForm"
        :model="form"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item label="Kategori" ref="category" prop="category">
          <a-checkbox-group class="checkbox-pill" v-model="form.category">
            <a-checkbox :value="c.id" v-for="c in categoryData" :key="c.id">
              {{ c.name }}
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
        <a-form-model-item ref="location" label="Lokasi" prop="location">
          <a-select
            mode="multiple"
            placeholder="Pilih lokasi"
            option-filter-prop="children"
            :filter-option="filterOption"
            v-model="form.location"
            :default-value="['Pilih lokasi']"
            @blur="
              () => {
                $refs.location.onFieldBlur()
              }
            "
          >
            <a-select-option :value="c.id" v-for="c in cityData" :key="c.id">
              {{ c.name }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item
          ref="minFollower"
          label="Minimal Follower"
          prop="minFollower"
        >
          <a-input-number
            style="width: 200px"
            v-model.number="form.minFollower"
            :min="1"
            @blur="
              () => {
                $refs.minFollower.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item label="Jenis Kelamin" ref="sex" prop="sex">
          <a-checkbox-group
            class="checkbox-pill"
            v-model="form.sex"
            @blur="
              () => {
                $refs.sex.onFieldBlur()
              }
            "
          >
            <a-checkbox value="laki-laki">
              Laki-laki
            </a-checkbox>
            <a-checkbox value="perempuan">
              Perempuan
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
        <a-form-model-item label="Usia Influencer" ref="age" prop="age">
          <a-checkbox-group
            class="checkbox-pill"
            v-model="form.age"
            @blur="
              () => {
                $refs.age.onFieldBlur()
              }
            "
          >
            <a-checkbox value="18">
              &lt; 18 tahun
            </a-checkbox>
            <a-checkbox value="24">
              18 - 24 tahun
            </a-checkbox>
            <a-checkbox value="34">
              24 - 34 tahun
            </a-checkbox>
            <a-checkbox value="49">
              34 - 49 tahun
            </a-checkbox>
            <a-checkbox value="50">
              &gt; 50 tahun
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
        <div class="text-center">
          <a-button type="primary" html-type="submit" @click="onSubmit">
            SIMPAN PERUBAHAN
          </a-button>
        </div>
      </a-form-model>
    </div>
  </div>
</template>
<script>
import { __notification } from '~/utils/notifications'

export default {
  layout: 'dashboardFull',
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 24 },
      rules: {
        category: [
          {
            type: 'array',
            required: true,
            message: 'Category diperlukan',
            trigger: 'change',
          },
        ],
        location: [
          {
            type: 'array',
            required: true,
            message: 'lokasi diperlukan',
            trigger: 'change',
          },
        ],
        minFollower: [
          {
            required: true,
            message: 'Minimal follower diperlukan',
            trigger: 'blur',
          },
          // { min: 1, message: 'Minimal 1' },
        ],
        sex: [
          {
            type: 'array',
            required: true,
            message: 'Jenis kelamin diperlukan',
            trigger: 'change',
          },
        ],
        age: [
          {
            type: 'array',
            required: true,
            message: 'Usia influencer diperlukan',
            trigger: 'change',
          },
        ],
      },
      form: {
        category: [],
        location: [],
        minFollower: null,
        sex: [],
        age: null,
      },
      criteriaData: {},
      cityData: [],
      categoryData: [],
      isLoading: false,
      btnIsLoading: false,
    }
  },
  mounted() {
    this.getCriteria()
  },
  methods: {
    onSubmit(e) {
      this.$refs.criteriaForm.validate((valid) => {
        if (valid) {
          this.postCreateCriteria()
        } else {
          __notification('error', 'Masih ada data yang salah!')
          return false
        }
      })
    },
    async getCriteria() {
      this.isLoading = true

      const criteria = this.$api.get(
        `/influencer/criteria/${this.$route.params.campaignId}`
      )
      const city = this.$api.get(`/city/list`)
      const category = this.$api.get(`/category/list`)

      await Promise.all([criteria, city, category])
        .then((result) => {
          this.criteriaData = result[0].data.data
          this.cityData = result[1].data.data
          this.categoryData = result[2].data.data

          this.form = {
            ...this.criteriaData,
          }

          const { category, location } = this.criteriaData

          const transformCategory = category.map((val) => val.id)
          const transformlocation = location.map((val) => val.id)
          this.form.category = transformCategory
          this.form.location = transformlocation

          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err)
          this.isLoading = false
        })
    },
    async postCreateCriteria() {
      this.btnIsLoading = true

      await this.$api
        .$post(
          `/influencer/criteria/create/${this.$route.params.campaignId}`,
          this.form
        )
        .then((result) => {
          __notification(
            'success',
            `Sukses`,
            'Kriteria influencer berhasil di simpan'
          )

          if (result.code === 1)
            this.$router.push(`/buat-campaign/${this.$route.params.campaignId}`)
          else __notification('error', 'Mohon coba lagi!')

          this.btnIsLoading = false
        })
        .catch((err) => {
          __notification(
            'error',
            'Simpan kriteria gagal!',
            err.response.data.message
          )
          this.btnIsLoading = false
        })
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
  },
}
</script>
<style lang="scss" scoped></style>
