<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="List Campaign" icon="arrow-left" reset="" />
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space
          align="center"
          v-for="item in campaignListData"
          :key="item.id"
          class="list-wrapper"
        >
          <div class="icon">
            <img class="icon-brief" src="/images/icon-paper.svg" />
          </div>
          <div class="name">
            <p class="margin-0">
              <b>
                {{ item.name }}
              </b>
            </p>
            <p
              class="margin-0"
              v-for="(value, index) in item.brand"
              :key="index"
            >
              {{ value }}
            </p>
          </div>

          <div class="status">
            <p class="margin-0">
              {{ item.campaign_status }}
            </p>
          </div>
          <nuxt-link :to="'/detail-campaign/' + item.id + '/brief'">
            <div class="text-right">
              <a-icon style="padding: 10px" hoverable type="arrow-right" />
            </div>
          </nuxt-link>
        </a-space>
      </div>
    </div>
  </a-row>
</template>
<script>
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'

export default {
  layout: 'dashboardFull',
  components: { loading },
  data() {
    return {
      campaigns: [
        {
          id: 1,
          title: 'Nama campaign',
          brand: 'Instagram',
          process: 'Sedang berjalan',
        },
        {
          id: 2,
          title: 'Nama campaign 1',
          brand: 'Instagram',
          process: 'Draft',
        },
        {
          id: 3,
          title: 'Nama campaign 2',
          brand: 'Instagram',
          process: 'Draft',
        },
      ],
      campaignListData: [],
      isLoading: false,
    }
  },
  mounted() {
    this.getCampaignList()
  },
  methods: {
    async getCampaignList() {
      this.isLoading = true

      const { data } = await this.$api.get(`/campaign/list?page=1&limit=10`)
      if (data.code === 1) {
        this.campaignListData = data.data.campaigns
        this.isLoading = false
      } else {
        __notification('error', data.status, data.message)
        this.isLoading = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.ant-space-item {
  width: 100%;
}
.list-wrapper {
  padding: 16px;
  border-top: 1px solid $btn-light-pink;
  width: 100%;

  &:last-child {
    padding-bottom: 0;
  }

  .icon {
    width: 70px;
  }
  .name {
    width: 600px;
  }
}
.text-progress {
  width: 20%;
  text-align: left;
  font-size: 20px;
  margin: auto;
  justify-content: center;
}
.icon-brief {
  padding: 10px;
  font-size: 32px;
  color: $btn-light-pink;
  margin: 8px;
}
</style>
