<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Buat Campaign" icon="arrow-left" reset="" />
    <div class="card-pink">
      <div class="space-align-container">
        <div class="space-align-block">
          <a-space align="center">
            <div class="campaign-detail">
              <h1>
                {{ briefData.campaignName }}
              </h1>
              <ul class="list-unstyled">
                <li v-for="(brand, i) in briefData.brand" :key="i">
                  {{ brand.name }}
                </li>
              </ul>
            </div>
          </a-space>
        </div>
      </div>
    </div>
    <div class="card-wrapper">
      <div>
        <div class="menu">
          <div class="menu-content-container">
            <div class="icon-text-wrapper">
              <div
                class="icon-wrapper"
                v-on:click="active = !active"
                v-bind:class="{ active: active }"
              >
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Brief</p>
            </div>
            <div class="icon-text-wrapper">
              <nuxt-link
                :to="
                  '/detail-campaign/' + $route.params.campaignId + '/summary'
                "
              >
                <div class="icon-wrapper">
                  <img class="icon-brief" src="/images/icon-paper-white.svg" />
                </div>
                <p class="p-title">Summary</p>
              </nuxt-link>
            </div>
            <!-- <div class="icon-text-wrapper">
              <nuxt-link
                :to="'/detail-campaign/' + $route.params.campaignId + '/detail'"
              >
                <div class="icon-wrapper">
                  <img class="icon-brief" src="/images/icon-paper-white.svg" />
                </div>
                <p class="p-title">Detail</p>
              </nuxt-link>
            </div>
            <div class="icon-text-wrapper">
              <div class="icon-wrapper">
                <img class="icon-brief" src="/images/icon-paper-white.svg" />
              </div>
              <p class="p-title">Download</p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content-container">
          <div class="space-align-container">
            <div class="space-align-block padding-24-left">
              <a-space align="center">
                <a-row class="flex-middle">
                  <a-col :span="16">
                    <div style="padding-left: 56px">
                      <p><b>Detail Brief</b></p>
                      <p class="margin-0-bottom"> Tentang Campaign </p>
                    </div>
                  </a-col>
                  <a-col :span="6">
                    <div class="text-right">
                      <nuxt-link
                        :to="
                          '/detail-campaign/' +
                            $route.params.campaignId +
                            '/detail-brief'
                        "
                        class="text-light-pink"
                      >
                        <a-icon hoverable type="arrow-right" />
                      </nuxt-link>
                    </div>
                  </a-col>
                </a-row>
              </a-space>
            </div>
          </div>
        </div>
      </div>
      <a-divider
        style="background: #ff79c2; margin-bottom: 10px"
        type="horizontal"
      />
      <CardEst :estData="briefData" />
      <!-- title -->
      <a-row type="flex" justify="center">
        <a-col :span="24" class="block-title-bar">
          <p class="title text-center">Influencer Kamu</p>
        </a-col>
      </a-row>
      <a-row
        type="flex"
        justify="center"
        style="margin: 24px"
        v-if="!influencer.length"
      >
        <a-empty />
      </a-row>
      <a-row class="padding-16">
        <a-col
          style="max-width: 266px; margin: 8px"
          :span="24"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          :md="{ span: 24 }"
          v-for="card in influencer"
          :key="card.id"
        >
          <div class="padding-8 card-list-bordered">
            <div class="card">
              <img class="img-card" src="/images/influencer.jpg" />
            </div>
            <p class="name">{{ card.name }}</p>
            <div class="criteria">
              <p>{{ card.sex }}</p>
              <p>{{ card.age }}</p>
              <p>{{ card.location }}</p>
            </div>
            <p class="margin-0">
              <b>Followers </b>
              <span>{{ card.followers }}</span>
            </p>

            <p>
              <b>Engagement rate </b>
              <span>{{ card.engagementRate }}</span>
            </p>
          </div>
        </a-col>
      </a-row>
    </div>
  </a-row>
</template>
<script>
import { __notification } from '~/utils/notifications'
import { formatPrice } from '~/utils/formatPrice'
import loading from '~/components/loading'
import CardEst from '~/components/CardEst'

export default {
  layout: 'dashboardFull',
  components: { loading, CardEst },
  head() {
    return {
      title: 'Campaign Detail',
      meta: [
        {
          name: 'description',
          content: 'Campaign Detail',
        },
      ],
    }
  },
  data: () => ({
    isLoading: false,
    active: true,
    influencer: {},
    briefData: {},
  }),
  mounted() {
    this.getSummary()
  },
  methods: {
    formatPrice,
    // Function for get summary campaign data
    async getSummary() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/summary/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.briefData = data.data
        this.influencer = data.data.influencer
        this.isLoading = false
      } else {
        __notification('error', data.status, data.message)
        this.isLoading = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.icon-circle {
  border-radius: 100%;
  border: 1px solid $btn-light-pink;
  padding: 13px;
  width: 60px;
  height: 60px;
}
.campaign-detail {
  color: $white;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: $bold;
  }

  ul.list-unstyled {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 8px;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
.card-pink {
  margin-top: 0;
  background-color: lighten($btn-light-pink, 10%);
  height: 100px;
  padding: 24px;
  display: flex;
}
.text {
  display: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.card {
  margin-top: 5 px;
  border-radius: 2px;
}
.card-content {
  width: 100%;
}
.card-content-container {
  display: flex;
  margin-top: 24px;
}
.menu {
  margin-top: 5 px;
  border-radius: 2px;
  width: 100%;
}
.menu-content-container {
  display: flex;
  justify-content: space-between;
  border: 1.8px solid $btn-light-pink;
  padding: 24px 24px 24px 56px;
  height: 130px;
}
.icon-text-wrapper {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.icon-wrapper {
  background-color: $btn-light-pink;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
  align-items: center;
}
.active {
  background-color: $light-blue;
}
.icon-brief {
  font-size: 32px;
  margin: 8px;
  padding: 7px 10px 10px 10px;
  color: $btn-light-pink;
}
.p-title {
  color: $btn-light-pink;
  font-weight: 500;
}

.button-right-container-1 {
  display: absolute;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
</style>
