<template>
  <a-layout>
    <a-layout-header class="header">
      <div class="container --fix">
        <a-row>
          <a-col :span="4">
            <div class="logo-inline --blue"></div>
          </a-col>
          <!-- comment for later -->
          <a-col :span="20">
            <NavigationBasic mode="horizontal" />
          </a-col>
        </a-row>
      </div>
    </a-layout-header>
    <a-layout class="container --fix">
      <a-layout-sider collapsed-width="0" breakpoint="sm" class="show-xs">
        <div class="logo" />
        <a-anchor>
          <a-menu theme="dark" mode="inline" :default-selected-keys="['1']">
            <a-menu-item key="1">
              <a-icon type="plus-circle" />
              <span>Buat Campaign</span>
            </a-menu-item>
            <a-menu-item key="2">
              <a-icon type="copy" />
              <span>Berjalan</span>
            </a-menu-item>
            <a-menu-item key="3">
              <a-icon type="history" />
              <span>Riwayat</span>
            </a-menu-item>
            <a-menu-item key="4">
              <a-icon type="bell" />
              <span>Notifikasi</span>
            </a-menu-item>
            <a-sub-menu key="sub1">
              <span slot="title"><a-icon type="user" />Akun</span>
              <a-menu-item key="5"> Profil Saya </a-menu-item>
              <a-menu-item key="6"> Profil Usaha </a-menu-item>
            </a-sub-menu>
          </a-menu>
        </a-anchor>
      </a-layout-sider>
      <!-- <Sidebar /> -->
      <a-layout-sider
        width="200"
        class="hide-xs margin-16-top padding-16-top padding-16-bottom custom-sidebar"
      >
        <a-menu
          mode="inline"
          :default-selected-keys="['1']"
          :style="{ height: '100%', borderRight: 0 }"
        >
          <template v-for="(card, x) in cards">
            <template v-if="card.sub.length">
              <a-sub-menu :key="x">
                <span slot="title"><a-icon type="user" />{{ card.title }}</span>
                <a-menu-item :key="y" v-for="(subMenu, y) in card.sub">
                  <nuxt-link :to="subMenu.link">
                    <a-icon :type="subMenu.icon" />
                    <span>{{ subMenu.title }}</span>
                  </nuxt-link>
                </a-menu-item>
              </a-sub-menu>
            </template>
            <template v-else>
              <a-menu-item :key="x">
                <nuxt-link :to="card.link">
                  <a-icon :type="card.icon" />
                  <span>{{ card.title }}</span>
                </nuxt-link>
              </a-menu-item>
            </template>
          </template>
        </a-menu>
      </a-layout-sider>
      <a-layout class="padding-24-left">
        <!-- comment for later -->
        <!-- <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>Home</a-breadcrumb-item>
          <a-breadcrumb-item>List</a-breadcrumb-item>
          <a-breadcrumb-item>App</a-breadcrumb-item>
        </a-breadcrumb> -->
        <a-layout-content class="content">
          <nuxt />
        </a-layout-content>
      </a-layout>
    </a-layout>
  </a-layout>
</template>
<script>
import NavigationBasic from '../components/NavigationBasic'
export default {
  components: { NavigationBasic },
  middleware: 'authenticated',
  data() {
    return {
      collapsed: false,
      cards: [
        {
          title: 'Buat Campaign',
          icon: 'plus-circle',
          link: '/buat-campaign',
          sub: [],
        },
        { title: 'Berjalan', icon: 'copy', link: '/list-campaign', sub: [] },
        {
          title: 'Riwayat',
          icon: 'history',
          link: '/history-campaign',
          sub: [],
        },
        { title: 'Notifikasi', icon: 'bell', link: '/buat-campaign', sub: [] },
        {
          title: 'Akun',
          icon: 'user',
          link: '',
          sub: [
            { title: 'Profil Saya', icon: 'user', link: '/profil-saya' },
            { title: 'Profil Usaha', icon: 'bank', link: '/profil-bisnis' },
          ],
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.ant-layout-header {
  background: $white;
  padding: 0;
}

.ant-layout-sider {
  border: 1px solid $light-blue;
  border-radius: 15px;
}

.ant-layout-content {
  border: 1px solid $btn-light-pink;
  border-radius: 15px;
  padding: 24px;
  position: relative;
}
.content {
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .content {
    margin-top: 45px;
  }
}

/* .wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .a-layout {
  max-width: 1070px;

  .content {
    margin-top: 20px;
    border: 1px solid;
    border-color: #c7c7c7;
    background: rgba(255, 255, 255, 0.2);
    max-width: 840px;
  }
} */
</style>
