<template>
  <a-layout>
    <a-layout-sider breakpoint="sm" collapsed-width="0" class="show-xs">
      <div class="logo" />
      <a-anchor>
        <a-menu theme="dark" mode="inline" :default-selected-keys="['1']">
          <a-menu-item key="1">
            <a-anchor-link href="#section-1" title="Get Started" />
          </a-menu-item>
          <a-menu-item key="2">
            <a-anchor-link href="#section-2" title="Services" />
          </a-menu-item>
          <a-menu-item key="3">
            <a-anchor-link href="#section-4" title="Why Fameoboost?" />
          </a-menu-item>
          <a-menu-item key="4">
            <a-anchor-link href="#section-5" title="How it works?" />
          </a-menu-item>
          <a-menu-item key="5">
            <a-anchor-link href="#section-6" title="Top Talents" />
          </a-menu-item>
          <a-menu-item key="6">
            <a-anchor-link href="#section-packages" title="Packages" />
          </a-menu-item>
        </a-menu>
      </a-anchor>
    </a-layout-sider>
    <a-layout id="homepage">
      <a-layout-header
        class="fixed-header"
        :class="!scrollMenu ? '--scroll' : ''"
      >
        <a-row>
          <a-col
            :span="4"
            :sm="{ span: 6 }"
            :md="{ span: 4 }"
            :lg="{ span: 5 }"
            :xs="{ span: 24 }"
          >
            <div class="logo" />
          </a-col>
          <a-col
            :span="20"
            :sm="{ span: 18 }"
            :md="{ span: 20 }"
            :lg="{ span: 19 }"
          >
            <a-anchor>
              <a-menu
                mode="horizontal"
                :default-selected-keys="['1']"
                class="hide-xs"
              >
                <a-menu-item key="1">
                  <a-anchor-link href="#section-1" title="Get Started" />
                </a-menu-item>
                <a-menu-item key="2">
                  <a-anchor-link href="#section-2" title="Services" />
                </a-menu-item>
                <a-menu-item key="3">
                  <a-anchor-link href="#section-4" title="Why Fameoboost?" />
                </a-menu-item>
                <a-menu-item key="4">
                  <a-anchor-link href="#section-5" title="How it works?" />
                </a-menu-item>
                <a-menu-item key="5">
                  <a-anchor-link href="#section-6" title="Top Talents" />
                </a-menu-item>
                <a-menu-item key="6">
                  <a-anchor-link href="#section-packages" title="Packages" />
                </a-menu-item>
              </a-menu>
            </a-anchor>
          </a-col>
        </a-row>
      </a-layout-header>
      <div
        v-observe-visibility="{
          callback: sectionChanged,
          intersection: {
            rootMargin: '40px',
            threshold: 0.3,
          },
        }"
      ></div>
      <a-layout-content>
        <nuxt />
      </a-layout-content>
      <a-row class="margin-50-top">
        <a-col
          :xl="{ span: 16, offset: 4 }"
          :lg="{ span: 18, offset: 3 }"
          :sm="{ span: 20, offset: 2 }"
          :xs="{ span: 22, offset: 1 }"
        >
          <div class="box-blue text-center" data-aos="zoom-in">
            <div style="height: 200px">
              <div class="font-big">
                Get Boosted Now!
              </div>
              <a
                href="https://wa.me/6281388396191?text=I'm%20interested%20in%20your%20services"
                target="_blank"
                class="ant-btn ant-btn-primary"
              >
                Contact Us
              </a>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-layout-footer>
        <div class="container --fix">
          <a-row>
            <a-col :span="24">
              <a-row type="flex" justify="space-around" align="middle">
                <a-col :md="{ span: 5 }" :sm="{ span: 24 }" :xs="{ span: 24 }">
                  <div class="logo" />
                </a-col>
                <a-col
                  :md="{ span: 14 }"
                  :sm="{ span: 14 }"
                  :xs="{ span: 24 }"
                  class="text-center"
                >
                  <ul class="list-inline">
                    <li>Terms & Conditions</li>
                    <li>|</li>
                    <li>Privacy Policy</li>
                  </ul>
                </a-col>
                <a-col :md="{ span: 5 }" :xs="{ span: 24 }" :sm="{ span: 5 }">
                  <div class="text-right">
                    <a-button ghost class="btn-purple --full">
                      Get Started
                    </a-button>
                  </div>
                </a-col>
              </a-row>
              <hr />
              <a-row type="flex" justify="space-around" align="middle">
                <a-col :span="17" :xs="{ span: 24 }">
                  <p class="copy margin-0"
                    >&copy; PT Fameo Kreasi Indonesia 2020. All rights
                    reserved.</p
                  >
                </a-col>
                <a-col :span="7" :xs="{ span: 24 }" class="text-right">
                  <ul class="list-inline padding-0">
                    <li>
                      <a
                        href="https://www.instagram.com/fameoboost/?igshid=2bxlzvbwqrp7"
                        target="_blank"
                      >
                        <a-icon type="instagram" class="icon" />
                      </a>
                    </li>
                    <!-- <li>
                      <a href=""><a-icon type="facebook" class="icon"/></a>
                    </li> -->
                    <li>
                      <a
                        href="https://youtube.com/channel/UCPo_Qy5-5r-58skIGnxBhtg"
                        target="_blank"
                      >
                        <a-icon type="youtube" class="icon" />
                      </a>
                    </li>
                  </ul>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </div>
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script>
import Vue from 'vue'
import VueObserveVisibility from 'vue-observe-visibility'

Vue.use(VueObserveVisibility)

export default {
  data() {
    return {
      scrollMenu: false,
    }
  },
  methods: {
    sectionChanged(isVisible, entry) {
      if (isVisible) this.scrollMenu = true
      else this.scrollMenu = false
    },
    // onCollapse(collapsed, type) {
    //   console.log(collapsed, type)
    // },
    // onBreakpoint(broken) {
    //   console.log(broken)
    // },
  },
}
</script>

<style lang="scss">
.ant-anchor-ink {
  display: none;
}
.ant-anchor-wrapper {
  background: transparent;
  overflow: hidden;
}
.ant-anchor-link {
  padding: 0;
  line-height: 45px;
}
.ant-anchor-link-title {
  color: $white !important;
}
</style>

<style lang="scss" scoped>
#homepage {
  .logo {
    background: url('../assets/images/fameoboost-logo-inline-blue-pink.svg')
      no-repeat center;
    width: 100%;
    height: 60px;
    margin: 16px 0;
    background-size: contain;
  }

  .ant-layout-header {
    height: 95px;
    background: none;
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
    position: fixed;
    z-index: 1;
    width: 100%;

    &.--scroll {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
  }
  .ant-menu {
    text-align: right;
    line-height: 45px;
    margin: 25px 0;
    background: none;
    border: none;

    > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-radius: 5px;
      font-size: 16px;
      color: $white;
      border: none;
      margin: 4px;
    }

    .ant-menu-item-selected,
    .ant-menu-item-active {
      background-color: $pink;
    }
  }

  .ant-layout-footer {
    background: $bg-footer;
    padding: 320px 0 40px 0;
    margin-top: -210px;

    .logo {
      margin: 0;
    }

    .list-inline {
      letter-spacing: 0.05em;
      text-align: left;
      color: $whitefa;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
      list-style-type: none;
      display: inline-flex;
      margin: 0;

      @include fluid-type($min-width, $max-width, 10px, 18px);

      li {
        margin: 0 5px;

        .icon {
          color: #44496f;
          font-size: 30px;
        }
      }
    }
    .btn-purple {
      border: 2px solid #552f9c;
      color: $white;
    }

    hr {
      margin: 40px 0;
      height: 0;
      background: transparent;
      border: 1px solid #fafafa;
      opacity: 0.2;
    }
    .copy {
      letter-spacing: 0.05em;
      text-align: left;
      color: $white;
      opacity: 0.7;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    }
  }
}
.box-blue {
  width: 100%;
  height: 350px;
  background: #57d4ff;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.07));
  padding-top: 100px;

  .font-big {
    font-family: $avenir-pro;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 60px;
    text-align: center;
    color: $whitefa;
    margin-bottom: 60px;

    @include fluid-type($min-width, $max-width, 28px, 50px);
  }
}

@media only screen and (max-width: $grid-xs) {
  .box-blue .font-big {
    margin-bottom: 16px;
  }

  #homepage {
    .ant-layout-header {
      display: none;
    }
    .ant-layout-footer {
      padding-top: 240px;
      padding-bottom: 16px;

      hr {
        margin: 16px 0;
      }

      .btn-purple,
      .list-inline {
        margin-top: 16px;
      }
    }
  }
}
</style>
