<template>
  <a-layout>
    <a-layout-sider breakpoint="sm" collapsed-width="0" class="show-xs">
      <div class="logo" />
      <NavigationBasic :default-selected-keys="['1']" />
    </a-layout-sider>
    <a-layout>
      <a-layout-header>
        <div class="container --fix">
          <a-row>
            <a-col
              :span="4"
              :sm="{ span: 6 }"
              :md="{ span: 4 }"
              :lg="{ span: 5 }"
              :xs="{ span: 24 }"
            >
              <div class="logo" />
            </a-col>
            <a-col
              :span="20"
              :sm="{ span: 18 }"
              :md="{ span: 20 }"
              :lg="{ span: 19 }"
            >
              <NavigationBasic
                mode="horizontal"
                :default-selected-keys="['1']"
                class="hide-xs"
              />
            </a-col>
          </a-row>
        </div>
      </a-layout-header>
      <a-layout-content class="container --full-vh-menu --fix">
        <nuxt />
      </a-layout-content>
      <a-layout-footer>
        <div class="container --fix">
          <a-row>
            <a-col :span="24">
              <a-row type="flex" justify="space-around" align="middle">
                <a-col :md="{ span: 5 }" :sm="{ span: 24 }" :xs="{ span: 24 }">
                  <div class="logo" />
                </a-col>
                <a-col
                  :md="{ span: 14 }"
                  :sm="{ span: 14 }"
                  :xs="{ span: 24 }"
                  class="text-center"
                >
                  <ul class="list-inline">
                    <li>Terms & Conditions</li>
                    <li>|</li>
                    <li>Privacy Policy</li>
                  </ul>
                </a-col>
                <a-col :md="{ span: 5 }" :xs="{ span: 24 }" :sm="{ span: 5 }">
                  <div class="text-right">
                    <a-button ghost class="btn-purple --full"
                      >Get Started</a-button
                    >
                  </div>
                </a-col>
              </a-row>
              <hr />
              <a-row type="flex" justify="space-around" align="middle">
                <a-col :span="17">
                  <p class="copy margin-0"
                    >&copy; PT Fameo Kreasi Indonesia 2020. All rights
                    reserved.</p
                  >
                </a-col>
                <a-col :span="7" class="text-right">
                  <ul class="list-inline padding-0">
                    <li><a-icon type="instagram" class="icon"/></li>
                    <li><a-icon type="facebook" class="icon"/></li>
                    <li><a-icon type="youtube" class="icon"/></li>
                  </ul>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </div>
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
import NavigationBasic from '~/components/NavigationBasic'
export default {
  components: { NavigationBasic },
  middleware: 'notAuthenticated',
  data() {
    return {}
  },
  head() {
    const i18nSeo = this.$nuxtI18nSeo()

    return {
      title: this.pageTitle,
      htmlAttrs: i18nSeo.htmlAttrs,

      meta: [
        {
          name: 'description',
          content: 'content',
        },
        ...i18nSeo.meta,
      ],
      link: [
        {
          rel: 'canonical',
          href: `https://mywebsite.com${this.$nuxt.$route.path}`,
        },
        ...i18nSeo.link,
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.logo {
  background: url('../assets/images/fameoboost-logo-inline-blue-pink.svg')
    no-repeat center;
  width: 100%;
  height: 60px;
  margin: 16px 0;
  background-size: contain;
}

.ant-layout-header {
  height: 95px;
  background: none;
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
  padding: 0;

  &.--scroll {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
}

.ant-layout-footer {
  background: $bg-footer;
  padding: 40px 0 40px 0;
  margin-top: 50px;

  .logo {
    margin: 0;
  }

  .list-inline {
    letter-spacing: 0.05em;
    text-align: left;
    color: $whitefa;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    display: inline-flex;
    margin: 0;

    @include fluid-type($min-width, $max-width, 10px, 18px);

    li {
      margin: 0 5px;

      .icon {
        color: #44496f;
        font-size: 30px;
      }
    }
  }
  .btn-purple {
    border: 2px solid #552f9c;
    color: $white;
  }

  hr {
    margin: 40px 0;
    height: 0;
    background: transparent;
    border: 1px solid #fafafa;
    opacity: 0.2;
  }
  .copy {
    letter-spacing: 0.05em;
    text-align: left;
    color: $white;
    opacity: 0.7;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }
}

.box-blue {
  width: 100%;
  height: 350px;
  background: #57d4ff;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.07));
  padding-top: 100px;

  .font-big {
    font-family: $avenir-pro;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 60px;
    text-align: center;
    color: $whitefa;
    margin-bottom: 60px;

    @include fluid-type($min-width, $max-width, $min-font, 50px);
  }
}
</style>
