<template>
  <div>
    <NavigationHeader title="Summary Campaign" icon="arrow-left" reset="" />
    <div class="menu-pink">
      <div class="text-wrapper">
        <div>
          <h1 style="color: white; font-size: 14px; font-weight: 800"
            >Nama Campaign</h1
          >
          <p style="color: white; font-size: 12px">Nama brand</p>
        </div>
      </div>
      <a class="edit-text" href="">Edit</a>
    </div>
    <div>
      <div class="menu">
        <div class="detail-brief-container">
          <div
            style="

              display: flex;
              justify-content: left;
              width: 100%;
              margin: auto;
            "
          >
            <img class="icon-paper" src="/images/icon-paper.svg" />
            <div style="width: 100%; margin: auto">
              <p style="margin: 0; font-weight: 600">Detail brief</p>
              <p style="font-size: 12px; margin: 0">Tantang campaign</p>
            </div>
          </div>
          <nuxt-link to="">
            <div class="button-right-container-1">
              <a-icon style="padding: 10px" hoverable type="arrow-right" />
            </div>
          </nuxt-link>
        </div>
      </div>
      <div class="menu">
        <div class="detail-brief-container">
          <div
            style="

              display: flex;
              justify-content: left;
              width: 100%;
              margin: auto;
            "
          >
            <img class="icon-paper" src="/images/icon-influencer.svg" />
            <div style="width: 100%; margin: auto">
              <p style="margin: 0; font-weight: 600">Influencer</p>
              <p style="font-size: 12px; margin: 0"
                >Pilih influencer yang kamu inginkan Influencer yang ditampilkan
                merupakan rekomendasi berdasarkan hasil algoritma Fameoboost</p
              >
            </div>
          </div>
          <nuxt-link to="">
            <div class="button-right-container-1">
              <a-icon style="padding: 10px" hoverable type="arrow-right" />
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <a-row :gutter="16" type="flex" justify="center">
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <img class="icon" src="/images/icon-budget.svg" />
            </div>
            <div>
              <p class="subtitle-text">Budget</p>
              <p class="subtitle-text">Rp. 10.0000.0000</p>
            </div>
          </div>
        </a-col>
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="user" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Total KOL</p>
              <p class="subtitle-text">3</p>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="16" type="flex" justify="center">
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="user" class="icon" />
            </div>
            <div style="display: block">
              <p class="subtitle-text">Est. Audience</p>
              <p class="subtitle-text">Rp. 10.0000.0000</p>
            </div>
          </div>
        </a-col>
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="user" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Est. Reach</p>
              <p class="subtitle-text">240.000</p>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="16" type="flex" justify="center">
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="user" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Est. Engagement</p>
              <p class="subtitle-text">4%</p>
            </div>
          </div>
        </a-col>
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="user" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Est. Conversion</p>
              <p class="subtitle-text">3</p>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="16" type="flex" justify="center">
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="heart" theme="filled" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Est. Engagement Rate</p>
              <p class="subtitle-text">4%</p>
            </div>
          </div>
        </a-col>
        <a-col :span="8" class="cost-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-budget">
              <a-icon type="heart" theme="filled" class="icon" />
            </div>
            <div>
              <p class="subtitle-text">Est. Conversion Rate</p>
              <p class="subtitle-text">3%</p>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row
        :gutter="60"
        type="flex"
        justify="center"
        style="margin-bottom: 24px"
      >
        <a-col :span="16" class="cost-pink-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
            <div>
              <p class="subtitle-text-pink">Est. Average Cost per Reach</p>
            </div>
            <div class="text-right">
              <p class="subtitle-text-pink">IDR 1.600</p>
            </div>
          </div>
        </a-col>
        <a-col :span="16" class="cost-pink-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
            <div>
              <p class="subtitle-text-pink">Est. Average Cost per Engagement</p>
            </div>
            <div class="text-right">
              <p class="subtitle-text-pink">IDR 1.600</p>
            </div>
          </div>
        </a-col>
        <a-col :span="16" class="cost-pink-wrapper margin-10">
          <div style="display: flex; width: 100%">
            <div class="icon-pink">
              <img class="icon-pink" src="/images/icon-budget.svg" />
            </div>
            <div>
              <p class="subtitle-text-pink"
                >Est. Average Cost per Conversion/click</p
              >
            </div>
            <div class="text-right">
              <p class="subtitle-text-pink">IDR 1.600</p>
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row type="flex" justify="center">
        <a-col :span="24" class="title-bar">
          <p class="title-influencer text-center">Influencer Kamu</p>
        </a-col>
      </a-row>
      <a-row>
        <a-col
          span="6"
          class="card-wrapper margin-10 padding-20"
          v-for="card in cards"
          :key="card.id"
        >
          <div class="card">
            <img class="img-card" src="/images/influencer.jpg" />
          </div>
          <h1 class="price-txt">{{ card.name }}</h1>
          <div class="subtitle">
            <p>{{ card.gender }}</p>
            <p>{{ card.age }}</p>
            <p>{{ card.city }}</p>
          </div>
          <p style="margin: 0">
            <a-icon type="user" />
            <span style="font-weight: 900">Followers:</span>
            <span>{{ card.follower }}</span> </p
          ><p style="margin: 0"> </p
          ><p>
            <a-icon type="heart" />
            <span style="font-weight: 900">Followers:</span>
            <span>{{ card.engagement }}</span>
          </p>
        </a-col>
      </a-row>
    </div>
    <a-row type="flex" justify="center">
      <a-col class="margin-24" :span="16" style="display: flex">
        <a-checkbox class="checkbox-tc text-left" />
        <p style="margin-left: 10px; color: #ff79c2"
          >Saya menyatakan bahwa datadiatas sudah sesuai dengan kebutuhan
          campaign dan menyetujui ketentuan campaign yang berlaku di
          Fameoboost</p
        >
      </a-col>
      <a-button type="primary">Konfirmasi</a-button>
    </a-row>
  </div>
</template>
<script>
export default {
  layout: 'dashboardFull',
  components: {},
  data() {
    return {
      cards: [
        {
          id: 1,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Beth',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 2,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
        {
          id: 3,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Marianne Jolle',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'Jakarta',
          price: '50.000',
          follower: '20k',
          engagement: '0,8%',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.menu-pink {
  margin-top: 0;
  background-color: $btn-light-pink;
  height: 100px;
  padding: 24px 24px 24px 56px;
  display: flex;
  justify-content: space-between;
}
.edit-text {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.menu {
  margin-top: 5 px;
  border-radius: 2px;
  width: 100%;
}
.menu-content-container {
  display: flex;
  justify-content: space-between;
  border: 1.8px solid $btn-light-pink;
  padding: 24px 24px 24px 56px;
  height: 130px;
}
.detail-brief-container {
  display: flex;
  justify-content: space-between;
  border: 1.8px solid $btn-light-pink;
  padding: 16px 24px 16px 56px;
  height: 100px;
}
.button-right-container-1 {
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
  margin: auto;
}
.icon-text-wrapper {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.icon-wrapper {
  background-color: $btn-light-pink;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
  align-items: center;
}
.icon-brief {
  font-size: 32px;
  margin: 8px;
  padding: 7px 10px 10px 10px;
}
.p-title {
  color: $btn-light-pink;
  font-weight: 500;
}
.wrapper {
  margin-top: 24px;
}
.cost-wrapper {
  margin: 16px;
  padding: 16px;
  background-color: $btn-light-pink;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.cost-pink-wrapper {
  margin: 8px;
  padding: 8px 24px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border: 1.8px solid $btn-light-pink;
  color: $btn-light-pink;
}
.subtitle-text {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: 0;
  color: white;
}
.title-influencer {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: auto;
  color: white;
}
.subtitle-text-pink {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: 0;
  color: $btn-light-pink;
}
.icon-budget {
  justify-content: center;
  align-items: center;
  margin: auto 10px auto 20px;
  width: 30px;
}
.icon-pink {
  justify-content: center;
  align-items: center;
  margin: auto 10px auto 0;
  width: 30px;
  color: $btn-light-pink;
  font-size: 24px;
}
.icon {
  font-size: 32px;
  color: white;
}
.text-right {
  display: absolute;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: $btn-light-pink;
  margin: auto;
}
.title-bar {
  margin: 0 24px;
  padding: 16px;
  background-color: $btn-light-pink;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card {
  display: flex;
  width: 100%;
  background-color: #f7f5fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.img-card {
  object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 12px;
}
.subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $grey;
}
.card-wrapper {
  width: 30%;
  background-color: #f7f5fa;
  border: 1.8px solid $btn-light-pink;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.price-txt {
  font-size: 14px;
  font-weight: $semi-bold;
  margin: 0;
}
.icon-paper {
  padding: 10px;
  font-size: 32px;
  color: $btn-light-pink;
}
</style>
