<template>
  <div class="content">
    <NavigationHeader title="Nama Campaign" icon="arrow-left" reset="" />
    <div class="box-wrapper margin-20">
      <div class="box">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Total Follower</h1>
          <h1 class="icon-txt"> 2342</h1>
        </a-card>
      </div>
      <div class="box">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Total Post</h1>
          <h1 class="icon-txt"><a-icon type="user" /> 2342</h1>
        </a-card>
      </div>
    </div>
    <div class="box-wrapper margin-20">
      <div class="box">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Total Reach</h1>
          <h1 class="icon-txt"> 2342</h1>
        </a-card>
      </div>
      <div class="box">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Total Engagement</h1>
          <h1 class="icon-txt"> 2342</h1>
        </a-card>
      </div>
    </div>
    <div class="box-wrapper margin-20">
      <div class="box" style="width: 48.8%">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Total Engagement Rate</h1>
          <h1 class="icon-txt"> 2342</h1>
        </a-card>
      </div>
    </div>
    <div
      class="box-div margin-20 padding-20"
      v-for="item in costs"
      :key="item.id"
    >
      <span><a-icon type="dollar" /> {{ item.title }}</span>
      <span>{{ item.price }}</span>
    </div>
    <div class="btn-wrapper">
      <a-button class="a-btn btn-round" style="background-color: #fd2281">
        Detail Report
      </a-button>
    </div>
    <div class="btn-wrapper">
      <a-button class="a-btn btn-round">
        Download Report
      </a-button>
    </div>
    <h1 class="text-center" style="font-size: 14px">2 Influencer</h1>
    <div style="display: flex">
      <div
        class="card-wrapper margin-20 padding-20"
        v-for="card in cards"
        :key="card.id"
      >
        <div class="card-header ">
          <div class="card ">
            <div class="profile">
              <!-- <img  alt=""> -->
              <a-avatar
                class="avatar-image"
                :src="card.avatar"
                shape="square"
              />
              <div>
                <a-icon type="twitter" />
                {{ card.name }}
                <h1 style="color: #9094a2">{{ card.type }}</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="subtitle">
          <span>{{ card.gender }}</span>
          <span>{{ card.age }}</span>
          <span>{{ card.city }}</span>
        </div>
        <h1 class="price-txt margin-10-top">See Details</h1>
        <h1 class="icon-txt">
          <a-icon type="user" />
          {{ card.follower }} Followers
        </h1>
        <h1 class="icon-txt">
          <a-icon type="heart" />
          {{ card.reach }} Engagement
        </h1>
        <h1 class="icon-txt">
          <a-icon type="heart" />
          {{ card.engagement }} Engagement
        </h1>
        <h1 class="icon-txt">
          <a-icon type="heart" />
          {{ card.engagementRate }} Engagement Rate
        </h1>
      </div>
    </div>
    <a-card class="text-center " style="width: 100%">
      <a class="link" href="#"> Lihat semua <a-icon type="arrow-down"/></a>
    </a-card>
  </div>
</template>
<script>
export default {
  layout: 'dashboard',
  components: {},
  data: () => {
    return {
      costs: [
        { id: 1, title: 'Cost Per Follower', price: '100.000' },
        { id: 2, title: 'Cost Per Post', price: '200.000' },
        { id: 3, title: 'Cost Per Reach', price: '150.000' },
        { id: 4, title: 'Cost Per Engagement', price: '200.000' },
      ],
      cards: [
        {
          id: 1,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Eriana',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'bogor',
          price: '50.000',
          follower: '20k',
          reach: '119',
          engagement: '200k',
          engagementRate: '0,03%',
        },
        {
          id: 2,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'jola',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'bogor',
          price: '50.000',
          follower: '20k',
          reach: '119',
          engagement: '200k',
          engagementRate: '0,03%',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.content {
  padding: 0;
  border: 1px solid;
  border-color: $white;
  background: rgba(255, 255, 255, 0.2);
}
.box-wrapper {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 50%;
  color: $black;
  font-weight: $semi-bold;
  font-variant: tabular-nums;
  border: 1px solid;
  border-color: #c7c7c7;
  box-shadow: none;
  text-align: center;
}
.box-div {
  display: flex;
  justify-content: space-around;
  background-color: #f7f5fa;
  color: $black;
  border: 1px solid;
  border-color: #c7c7c7;
}
.box:not(:last-child) {
  margin-right: 20px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.avatar-image {
  width: 40%;
  height: 40%;
  object-fit: cover;
}
.card-header {
  // background-color: #f7f5fa;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.profile {
  display: flex;
  height: fit-content;
}
.subtitle {
  display: flex;
  width: 70%;
  justify-content: space-between;
  color: $grey;
}
.card-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.price-txt {
  font-size: 14px;
  color: $pink;
  font-weight: $semi-bold;
}
.icon-txt {
  font-size: 14px;
  font-weight: $semi-bold;
}
.link {
  color: $pink;
  font-weight: $semi-bold;
}
</style>
