<template>
  <div class="content">
    <div style="margin-bottom: 20px">
      <a-input-search
        class="search"
        size="large"
        placeholder="input search text"
      />
    </div>
    <div>
      <Dropdown />
    </div>
    <a-layout-content class="card-content">
      <Card :title="title" :description="description" :avatar="avatar" />
    </a-layout-content>
  </div>
</template>
<script>
import Card from '../components/Card'
import Dropdown from '../components/Dropdown'
export default {
  layout: 'dashboard',
  components: { Card, Dropdown },
  data: () => ({
    id: 1,
    title: 'Fameo',
    description: 'Description of fameo',
    avatar: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
  }),
}
</script>
<style lang="scss" scoped>
.content {
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid;
  border-color: $white;
  background: rgba(255, 255, 255, 0.2);
}
.search {
  width: 100%;
  border-radius: 10px;
  line-height: 50px;
}
.card-content {
  margin-top: 30px;
  width: 100%;
}
</style>
