<template>
  <div class="content">
    <NavigationHeader title="Influencer Terpilih" icon="arrow-left" reset="" />
    <div class="text-center margin-20">
      <span><b>2 Influencer terpilih</b></span>
    </div>
    <div style="display: flex">
      <div
        class="card-wrapper margin-10 padding-20"
        v-for="card in cards"
        :key="card.id"
      >
        <div class="card-header ">
          <div class="card ">
            <div class="profile">
              <!-- <img  alt=""> -->
              <a-avatar
                class="avatar-image"
                :src="card.avatar"
                shape="square"
              />
              <div>
                <a-icon type="twitter" />
                {{ card.name }}
                <h1 style="color: #9094a2">{{ card.type }}</h1>
              </div>
            </div>
            <div>
              <a-icon type="delete" />
            </div>
          </div>
        </div>
        <div class="subtitle">
          <span>{{ card.gender }}</span>
          <span>{{ card.age }}</span>
          <span>{{ card.city }}</span>
        </div>
        <h1 class="price-txt margin-10-top">Rp. {{ card.price }}</h1>
        <h1 class="icon-txt">
          <a-icon type="user" />
          {{ card.follower }} Followers
        </h1>
        <h1 class="icon-txt">
          <a-icon type="heart" />
          {{ card.engagement }} Engagement
        </h1>
      </div>
    </div>
    <a-card class="text-center " style="width: 100%">
      <a class="link" href="#"> Lihat semua <a-icon type="arrow-down"/></a>
    </a-card>
    <div class="box-wrapper margin-20">
      <div class="box margin-10">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt"><a-icon type="user" /> Estimasi Reach</h1>
        </a-card>
      </div>
      <div class="box margin-10">
        <a-card style="background-color: #f7f5fa">
          <h1 class="icon-txt">
            <a-icon type="heart" />
            Estimasi Engagement/Post
          </h1>
        </a-card>
      </div>
    </div>
    <div class="box-div margin-30 padding-20">
      <span>Estimasi budget</span>
      <span>Rp. 100.000</span>
    </div>
    <div class="btn-wrapper">
      <a-button class="btn-medium-round btn-big">
        Cari Influencer
      </a-button>
    </div>
    <div class="btn-wrapper">
      <a-button class="btn-medium-round btn-big">
        Bantu Saya Memilih
      </a-button>
    </div>
    <a-button class="btn-big">
      Lanjut
    </a-button>
  </div>
</template>
<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      cards: [
        {
          id: 1,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'dwikur',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'bogor',
          price: '50.000',
          follower: '20k',
          engagement: '200k',
        },
        {
          id: 2,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'jola',
          type: 'layanan',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'bogor',
          price: '50.000',
          follower: '20k',
          engagement: '200k',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.content {
  margin-top: 20px;
  padding: 0 0;
  border: 1px solid;
  border-color: #c7c7c7;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.avatar-image {
  width: 40%;
  height: 40%;
  object-fit: cover;
}
.card-header {
  // background-color: #f7f5fa;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #f7f5fa;
}
.profile {
  display: flex;
  height: fit-content;
}
.subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $grey;
}
.card-wrapper {
  width: 50%;
  background-color: #f7f5fa;
}
.price-txt {
  font-size: 14px;
  color: $pink;
  font-weight: $semi-bold;
}
.icon-txt {
  font-size: 14px;
  font-weight: $semi-bold;
}
.link {
  color: $pink;
  font-weight: $semi-bold;
}
.box-wrapper {
  display: flex;
  justify-content: space-around;
}
.box {
  width: 50%;
  text-align: center;
  margin: 10;
}
.box-div {
  display: flex;
  justify-content: space-between;
  background-color: #f7f5fa;
  color: $black;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn-medium-round {
  border-radius: 30px;
  height: 50px;
  width: 70%;
  background-color: black;
  color: white;
}
</style>
