<template>
  <section class="container --fix" style="padding: 0">
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space align="left">
          <a-row>
            <a-col
              :span="20"
              :sm="{ span: 20 }"
              :xs="{ span: 24 }"
              :md="{ span: 20 }"
            >
              <h1 v-show="!success">
                Ready To Boost Your Brand & transform your campaign without
                limit? We're ready!
              </h1>
              <h2 v-show="success">
                Thank You for Reaching Out! We'll get back to you shortly.
              </h2>
              <h3 v-show="success">
                Get Ready To Boost Your Brand & transform your campaign Without
                Limits with our influencer marketing strategy.
              </h3>
            </a-col>
            <a-col
              :span="12"
              :sm="{ span: 12 }"
              :xs="{ span: 24 }"
              :md="{ span: 12 }"
            >
              <a-form
                :form="form"
                @submit.prevent="handleSubmit"
                layout="vertical"
                v-show="!success"
                method="post"
                ref="form"
              >
                <a-form-item label="Full Name">
                  <a-input
                    placeholder="John Doe"
                    v-decorator="[
                      'name',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Full name is required!',
                          },
                          {
                            min: 3,
                            message: 'Minimal 3 kata.',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="user"
                      style="color: rgba(0, 0, 0, 0.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item label="Email">
                  <a-input
                    placeholder="johndoe@mail.com"
                    v-decorator="[
                      'email',
                      {
                        rules: [
                          {
                            type: 'email',
                            message: 'Must valid email format',
                          },
                          {
                            required: true,
                            message: 'Email is required!',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="mail"
                      style="color: rgba(0, 0, 0, 0.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item class="text-left" label="Captcha">
                  <recaptcha @error="onError" @expired="onExpired" />
                </a-form-item>

                <a-form-item>
                  <a-button
                    type="primary"
                    html-type="submit"
                    :loading="isLoading"
                  >
                    SUBMIT
                  </a-button>
                </a-form-item>
              </a-form>
            </a-col>
          </a-row>
        </a-space>
      </div>
    </div>
  </section>
</template>

<script>
import { __notification } from '~/utils/notifications'

export default {
  layout: 'login',
  data() {
    return {
      response: {},
      success: false,
      isLoading: false,
    }
  },
  head() {
    return {
      title: 'Contact',
      meta: [
        {
          name: 'description',
          content: 'Contact',
        },
      ],
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'subscribe' })
  },
  methods: {
    async handleSubmit(e) {
      e.preventDefault()
      try {
        const token = await this.$recaptcha.getResponse()
        this.form.validateFieldsAndScroll((err, values) => {
          if (!err && token) {
            this.postSubscribe(values)
            this.$ga.event({
              eventCategory: 'contact',
              eventAction: 'click',
              eventLabel: 'contact fameboost',
              eventValue: `${values.name} - ${values.email}`,
            })
          }
        })
      } catch (error) {
        __notification('error', error, 'Wrong captcha ')
      }
    },
    onExpired() {
      __notification('captcha expired')
    },
    postSubscribe(data) {
      delete data.prefix
      delete data.confirm
      const payload = {
        ...data,
      }
      this.isLoading = true
      this.$api
        .$post('/subscriber/create', payload)
        .then((result) => {
          this.response = result
          this.success = true
          this.isLoading = false
        })
        .catch(() => {
          __notification(
            'error',
            'Email has been subscribed.',
            `Our team will contact you soon.`
          )

          this.isLoading = false
        })
    },
  },
}
</script>

<style lang="scss" scoped>
h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  line-height: 1.2;

  @include fluid-type($min-width, $max-width, 25px, 40px);
}

h2 {
  margin-top: 52px;
  text-align: left;
  line-height: 1.2;

  @include fluid-type($min-width, $max-width, 20px, 32px);
}

h3 {
  margin-top: 40px;
  text-align: left;
  line-height: 1.2;

  @include fluid-type($min-width, $max-width, 18px, 24px);
}
.set-center {
  height: calc(100% - 95px);
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
</style>
