<template>
  <a-row>
    <NavigationHeader title="Buat Campaign" icon="arrow-left" reset="" />
    <a-col class="wrapper">
      <a-form :form="form" @submit="onSubmit">
        <a-form-item label="Nama Campaign">
          <a-input size="large" placeholder="Masukkan nama campaign" />
        </a-form-item>
      </a-form>
    </a-col>
    <a-col class="wrapper">
      <a-form :form="form" @submit="onSubmit">
        <a-form-item label="Brand">
          <p style="color: #9094a2; line-height: 24px"
            >Sebutkan nama produk / layanan / brand / <br />event maksimal 60
            karakter <br />
            contoh: Minuman, Kecantikan</p
          >
          <a-select
            class="select"
            v-model="value"
            mode="multiple"
            style="width: 100%"
            placeholder="select one country"
            option-label-prop="label"
          >
            <a-select-option
              class="option"
              value="Nama brand"
              label="Nama brand"
            >
              <span role="img" aria-label="Nama brand"> </span>
              Nama brand
            </a-select-option>
            <a-select-option
              class="option"
              value="Nama Brand 2"
              label="Nama Brand 2"
            >
              <span role="img" aria-label="Nama Brand 2"> </span>
              Nama Brand 2
            </a-select-option>
          </a-select>
          <!-- </a-col> -->
        </a-form-item>
      </a-form>
    </a-col>
    <a-col class="dropdown-wrapper">
      <a-form :form="form" @submit="onSubmit">
        <a-form-item label="Platform & Layanan">
          <a-dropdown class="dropdown">
            <a-menu slot="overlay">
              <a-menu-item v-for="category in categories" :key="category.id">
                <a-icon :type="category.icon" />{{ category.title }}
              </a-menu-item>
            </a-menu>
            <a-button>Pilih Kategory <a-icon type="down" /> </a-button>
          </a-dropdown>
        </a-form-item>
      </a-form>
    </a-col>
    <div
      style="display: flex; flex-direction: column; justify-content: center; margin: 24px"
    >
      <a-checkbox @change="onChange">
        Instagram foto
      </a-checkbox>
      <a-checkbox style="margin: 0" @change="onChange">
        Instagram Video
      </a-checkbox>
      <a-checkbox style="margin: 0" @change="onChange">
        Instagram Link di Bio
      </a-checkbox>
      <a-checkbox style="margin: 0" @change="onChange">
        Instagram Story
      </a-checkbox>
      <a-checkbox style="margin: 0" @change="onChange">
        IGTV
      </a-checkbox>
    </div>
    <a-col class="wrapper">
      <a-form :form="form" @submit="onSubmit">
        <a-form-item label="Budget">
          <a-input size="large" placeholder="Masukkan Budget" />
        </a-form-item>
      </a-form>
    </a-col>
    <div style="display: flex; justify-content: center">
      <a-button type="primary" html-type="submit">
        LANJUT
      </a-button>
    </div>
  </a-row>
</template>
<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      categories: [
        { id: 1, icon: 'video-camera', title: 'Instagram' },
        { id: 2, icon: 'medicine-box', title: 'Youtube' },
        { id: 3, icon: 'laptop', title: 'Tiktok' },
      ],
      value: ['Nama brand'],
    }
  },
  watch: {
    value(val) {},
  },
}
</script>
<style lang="scss" scoped>
.wrapper {
  margin: 24px;
}
.input {
  border-radius: 12px;
  height: 45px;
  margin: 10px 0;
  line-height: 24px;
}
.dropdown-wrapper {
  margin: 24px;
}
.dropdown {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 24px;
  border: 1px solid;
  border-color: $btn-light-pink;
  box-shadow: none;
  text-align: left;
}
.tag-wrapper {
  margin: 5px;
  margin-right: 32px;
}
</style>
