<template>
  <a-row>
    <NavigationHeader title="Kriteria influencer" icon="arrow-left" reset="" />
    <div class="margin-20">
      <span><b>Kategory Influencer</b></span>
    </div>
    <div class="tag-wrapper">
      <div class="tag" v-for="item in categories" :key="item.id">
        <a-checkable-tag
          class="tag-category"
          v-model="checked1"
          @change="handleChange"
        >
          {{ item.title }}
        </a-checkable-tag>
      </div>
    </div>
    <div class="margin-20">
      <span><b>Lokasi Influencer</b></span>
    </div>
    <div class="dropdown-wrapper margin-20">
      <a-dropdown class="dropdown">
        <a-menu slot="overlay">
          <a-menu-item key="1">
            <a-icon type="user" />1st menu item
          </a-menu-item>
          <a-menu-item key="2">
            <a-icon type="user" />2nd menu item
          </a-menu-item>
          <a-menu-item key="3"> <a-icon type="user" />3rd item </a-menu-item>
        </a-menu>
        <a-button>Pilih Lokasi Influencer <a-icon type="down" /> </a-button>
      </a-dropdown>
    </div>
    <div class="margin-20">
      <span><b>Jumlah Minimum Follower</b></span>
    </div>
    <div class="input-follower">
      <a-input placeholder=" Masukkan Jumlah Minimum Follower" />
    </div>
    <div class="margin-20">
      <span><b>Gender</b></span>
    </div>
    <div class="tag-wrapper">
      <div class="tag" v-for="item in gender" :key="item.id">
        <a-checkable-tag class="tag-category">
          {{ item.title }}
        </a-checkable-tag>
      </div>
    </div>
    <div class="margin-20">
      <span><b>Usia Influencer</b></span>
    </div>
    <div class="tag-wrapper">
      <div class="tag" v-for="item in age" :key="item.id">
        <a-checkable-tag class="tag-category">
          {{ item.title }}
        </a-checkable-tag>
      </div>
    </div>
    <a-button class="btn-big">
      Simpan Perubahan
    </a-button>
  </a-row>
</template>
<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      categories: [
        { id: 1, title: 'Entertainment', checked: false },
        { id: 2, title: 'Helath & Sport', checked: false },
        { id: 3, title: 'Lifestyle & Travel', checked: false },
        { id: 4, title: 'Technology', checked: false },
        { id: 5, title: 'Family & Parenting', checked: false },
        { id: 6, title: 'Food & Beverages', checked: false },
        { id: 7, title: 'Beauty & Fashion', checked: false },
        { id: 8, title: 'Gaming', checked: false },
      ],
      gender: [
        { id: 1, title: 'Laki-laki', checked: false },
        { id: 2, title: 'Perempuan', checked: false },
      ],
      age: [
        { id: 1, title: '<18', checked: false },
        { id: 2, title: '18-24', checked: false },
        { id: 2, title: '25-34', checked: false },
        { id: 2, title: '35-49', checked: false },
        { id: 2, title: '>50', checked: false },
      ],
    }
  },
  methods: {
    handleChange(checked) {},
  },
}
</script>
<style lang="scss" scoped>
.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  width: 100%;
  height: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  border-radius: 20px;
  border: 1px solid;
  border-color: #c7c7c7;
  box-shadow: none;
  text-align: left;
}
.dropdown:not(:last-child) {
  margin-right: 20px;
}
.button-counter {
  margin: 0 20px;
  padding: 0;
  border: none;
  color: $pink;
  width: 15%;
  height: 50px;
  border-radius: 60%;
  background: none;
  font-weight: $extra-bold;
}
.counter {
  text-align: center;
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.box-div {
  display: flex;
  justify-content: space-between;
  background-color: #f7f5fa;
  color: $black;
}
.tag-wrapper {
  margin: 10px 20px;
}
.tag {
  display: contents;
  margin: 10px 20px;
}
.tag-category {
  background-color: #e8e8e8;
  line-height: 1;
  padding: 10px;
  min-width: 60px;
  margin: 10px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.input-follower {
  // width: 100%;
  margin: 20px;
}
</style>
