<template>
  <a-row>
    <NavigationHeader title="Detail Influencer" icon="arrow-left" reset="" />
    <div style="display: flex">
      <div class="card-wrapper padding-16" v-for="card in cards" :key="card.id">
        <div class="card-header ">
          <div class="card ">
            <div class="profile">
              <!-- <img  alt=""> -->
              <a-avatar
                class="avatar-image"
                :src="card.avatar"
                shape="square"
              />
              <div>
                <a-icon type="twitter" />
                {{ card.name }}
              </div>
            </div>
            <a-icon
              style="text-align: center; align-items: center;display: flex; font-size: 18px"
              type="arrow-right"
            ></a-icon>
          </div>
        </div>
        <div class="subtitle">
          <span>{{ card.gender }}</span>
          <span>{{ card.age }}</span>
          <span>{{ card.city }}</span>
        </div>
        <div style="display: flex">
          <div>
            <h1 class="margin-8-top">Followers</h1>
            <h1 class="price-txt margin-8-top">{{ card.follower }}</h1>
          </div>
          <div style="margin-left: 8px">
            <h1 class="margin-8-top">Likes</h1>
            <h1 class="price-txt margin-8-top">{{ card.like }}</h1>
          </div>
          <div style="margin-left: 8px">
            <h1 class="margin-8-top">Comments</h1>
            <h1 class="price-txt margin-8-top">{{ card.comments }}</h1>
          </div>
          <div style="margin-left: 8px">
            <h1 class="margin-8-top">Engagement</h1>
            <h1 class="price-txt margin-8-top">{{ card.engagement }}</h1>
          </div>
        </div>
        <h1 style="color: #9094a2; font-size: 12px"
          >Likes dan comments dari 12 post terakhir. Update terakhir : 1 jam
          yang lalu</h1
        >
      </div>
    </div>
    <a-card style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);">
      <h1 class="service"> Service</h1>
    </a-card>
    <div class="box-wrapper">
      <div class="box-div margin-24 padding-16">
        <div class="box-text">
          <span>Twitter Post</span>
          <span>Rp. 100.000</span>
        </div>
        <div class="counter margin-16-bottom">
          <a-button class="button-counter">
            -
          </a-button>
          <span>5</span>
          <a-button class="button-counter">
            +
          </a-button>
        </div>
      </div>
    </div>
    <div class="box-wrapper-total">
      <div class="box-div margin-24 padding-16">
        <div class="box-text">
          <span>Total</span>
          <span>Rp. 500.000</span>
        </div>
      </div>
    </div>
    <a-button class="btn-big">
      Tambahkan
    </a-button>
  </a-row>
</template>
<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      cards: [
        {
          id: 1,
          avatar:
            'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
          name: 'Eriana',
          gender: 'Perempuan',
          age: '20 tahun',
          city: 'bogor',
          like: '50k',
          follower: '20k',
          comments: '300',
          engagement: '0.05%',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.avatar-image {
  width: 15%;
  height: 100px;
  object-fit: cover;
}
.card-header {
  // background-color: #f7f5fa;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.profile {
  display: flex;
  height: fit-content;
  align-items: center;
}
.subtitle {
  display: flex;
  width: 30%;
  justify-content: space-between;
  color: $grey;
  font-size: 12px;
}
.card-wrapper {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.price-txt {
  font-size: 14px;
  color: $pink;
  font-weight: $semi-bold;
}
.service {
  font-weight: $semi-bold;
}
.box-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: $grey;
}
.box-wrapper-total {
  display: flex;
  justify-content: center;
  background-color: $grey;
}
.box {
  width: 50%;
  text-align: center;
  margin: 8;
}
.box-div {
  background-color: #f7f5fa;
  color: $black;
  width: 100%;
}
.box-text {
  display: flex;
  justify-content: space-between;
  color: $black;
  width: 100%;
}
.button-counter {
  margin: 0 16px;
  padding: 0;
  border: none;
  color: $pink;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  background: none;
  font-weight: $extra-bold;
  justify-content: center;
}
.counter {
  margin-top: 16px;
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
