<template>
  <div>
    <section id="section-1">
      <homefull />
    </section>

    <section class="section-2" id="section-2">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom text-light-pink">
              CHOOSE YOUR BOOSTER
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor sit amet.
          </div> -->
          <!-- <div class="services text-center" data-aos="fade-up">
            <div class="tools">
              <img src="/images/fameoboost-tools.png" alt="" />
            </div>
            <div class="services-list" data-aos="fade-in">
              <div class="attending pink"
                >Attending <br />
                Event</div
              >
              <div class="mini blue">Mini Series</div>
              <div class="webinar pink">Webinar</div>
              <div class="personal blue"
                >Personal <br />
                Shoutout</div
              >
              <div class="collab pink">Collaboration</div>
              <div class="livestream green">Livestream</div>
              <div class="ads green">Advertising</div>
              <div class="endorse orange">Endorsement</div>
              <div class="ig orange">Instagram</div>
              <div class="many">And Many More Services...</div>
            </div>
          </div> -->
        </a-col>
        <a-col :span="22" :offset="1">
          <div class="services-image text-center" data-aos="fade-up">
            <img src="/images/services.jpg" alt="services" />
            <!-- <a-button type="primary" class="margin-60-top">More Boost</a-button> -->
          </div>
        </a-col>
      </a-row>
    </section>

    <section class="section-3" id="section-3">
      <a-row
        class="section-3a"
        id="section-3a"
        :gutter="0"
        type="flex"
        justify="space-around"
        align="middle"
        :style="{ backgroundColor: '#FF79C2' }"
      >
        <a-col
          :lg="{ span: 16 }"
          :md="{ span: 16 }"
          :sm="{ span: 16 }"
          :xs="{ span: 24 }"
        >
          <div
            class="boxes font-white text-center"
            data-aos="fade-right"
            v-observe-visibility="visibilityChanged"
          >
            <span class="big-number">
              <span v-show="numberVisible">40,231,288</span>
              <animate-number
                ref="totalBrand"
                mode="manual"
                from="1"
                to="40231288"
                duration="1000"
                easing="easeOutQuad"
                :animate-end="animateEnd"
                v-show="!numberVisible"
              ></animate-number>
            </span>
            <p>Brand impression per month.</p>
          </div>
        </a-col>
        <a-col
          :lg="{ span: 8 }"
          :md="{ span: 8 }"
          :sm="{ span: 8 }"
          :xs="{ span: 8 }"
          class="hide-xs"
        >
          <div class="boxes" data-aos="fade-left">
            <div class="image">
              <img src="/images/impression.png" alt="impression" />
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row
        id="section-3b"
        :gutter="0"
        type="flex"
        justify="space-around"
        align="middle"
        :style="{ backgroundColor: '#57D4FF', position: 'relative' }"
      >
        <a-col :lg="{ span: 8 }" :sm="{ span: 8 }" :xs="{ span: 24 }">
          <div
            class="boxes font-white text-center"
            data-aos="fade-right"
            v-observe-visibility="visibilityChanged"
          >
            <span class="big-number">
              <span v-show="numberVisible">21,348</span>
              <animate-number
                ref="totalTalents"
                mode="manual"
                from="1"
                to="21348"
                duration="1000"
                easing="easeOutQuad"
                :animate-end="animateEnd"
                v-show="!numberVisible"
              ></animate-number>
            </span>
            <p>Talents we've partnered with.</p>
          </div>
        </a-col>
        <a-col
          :lg="{ span: 8 }"
          :sm="{ span: 8 }"
          :xs="{ span: 8 }"
          class="hide-xs"
        >
          <div class="boxes" data-aos="fade-up">
            <div class="image">
              <img src="/images/talents.png" alt="impression" />
            </div>
          </div>
        </a-col>
        <a-col :lg="{ span: 8 }" :sm="{ span: 8 }" :xs="{ span: 24 }">
          <div
            class="boxes font-white text-center"
            data-aos="fade-left"
            v-observe-visibility="visibilityChanged"
          >
            <span class="big-number">
              <span v-show="numberVisible">84,395</span>
              <animate-number
                ref="totalEngage"
                mode="manual"
                from="1"
                to="84395"
                duration="1000"
                easing="easeOutQuad"
                :animate-end="animateEnd"
                v-show="!numberVisible"
              ></animate-number>
            </span>
            <p
              >Brand Engagements <br />
              and still counting.</p
            >
          </div>
        </a-col>
      </a-row>
    </section>

    <!-- why -->
    <section class="section-4" id="section-4">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom --black">
              Fameoboost?
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor sit amet.
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="16" type="flex" justify="space-around" align="middle">
        <a-col
          :lg="{ span: 10, order: 1 }"
          :md="{ span: 10, order: 1 }"
          :sm="{ span: 16, order: 2 }"
          :xs="{ span: 22, order: 2 }"
        >
          <p data-aos="fade-right" class="video-caption">
            We serve you with a platform where you can get the relevant KOL
            recommendation based on your audience, goals, and freely allowed to
            choose the available package or set your own preference.
          </p>
        </a-col>
        <a-col
          :lg="{ span: 10, order: 2 }"
          :md="{ span: 10, order: 2 }"
          :sm="{ span: 16, order: 1 }"
          :xs="{ span: 22, order: 1 }"
        >
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/f8lAx4xX3E8?controls=0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            data-aos="fade-left"
          ></iframe>
        </a-col>
      </a-row>
    </section>

    <!-- how it works? -->
    <section class="section-5 bg-blue-gradient" id="section-5">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom">
              How It Works.
            </div>
          </div>
          <div class="sub-heading text-center">
            Easy steps to start your campaign
          </div>
        </a-col>
      </a-row>
      <a-row
        :gutter="[16, 48]"
        type="flex"
        justify="center"
        align="middle"
        class="buggy"
      >
        <a-col
          :span="7"
          :lg="{ span: 9, order: 1 }"
          :md="{ span: 11, order: 1 }"
          :sm="{ span: 11, order: 1 }"
          :xs="{ span: 22, order: 1 }"
        >
          <div class="box-how" data-aos="fade-left">
            <div data-visual-number="1">
              <div class="sub-title-how">
                Set Objective &amp; Budget
              </div>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                sapien lacus. Nam sollicitudin faucibus massa, at sodales tortor
                consequat at aenean ege.
              </p> -->
            </div>
          </div>
        </a-col>
        <a-col
          :span="7"
          :lg="{ span: 9, order: 2, offset: 1 }"
          :md="{ span: 7, order: 2 }"
          :sm="{ span: 7, order: 2 }"
          :xs="{ span: 7, order: 2 }"
          class="hide-xs"
        >
          <div class="box-how" data-aos="fade-right">
            <img src="/images/howitworks-1.png" alt="define the market" />
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="[16, 48]" type="flex" justify="center" align="middle">
        <a-col
          :lg="{ span: 9, order: 1 }"
          :md="{ span: 7, order: 2 }"
          :sm="{ span: 7, order: 2 }"
          :xs="{ span: 7, order: 2 }"
          class="hide-xs"
        >
          <div class="box-how" data-aos="fade-right">
            <img src="/images/howitworks-2.png" alt="define the market" />
          </div>
        </a-col>
        <a-col
          :lg="{ span: 9, order: 2, offset: 1 }"
          :md="{ span: 11, order: 1 }"
          :sm="{ span: 11, order: 1 }"
          :xs="{ span: 22, order: 1 }"
        >
          <div class="box-how" data-aos="fade-left">
            <div data-visual-number="2">
              <div class="sub-title-how">
                choose your booster
              </div>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                sapien lacus. Nam sollicitudin faucibus massa, at sodales tortor
                consequat at aenean ege.
              </p> -->
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="[16, 48]" type="flex" justify="center" align="middle">
        <a-col
          :lg="{ span: 9 }"
          :md="{ span: 11 }"
          :sm="{ span: 11 }"
          :xs="{ span: 22 }"
        >
          <div class="box-how" data-aos="fade-right">
            <div data-visual-number="3">
              <div class="sub-title-how">
                Start Campaign &amp; Get Result
              </div>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                sapien lacus. Nam sollicitudin faucibus massa, at sodales tortor
                consequat at aenean ege.
              </p> -->
            </div>
          </div>
        </a-col>
        <a-col
          :lg="{ span: 9, offset: 1 }"
          :md="{ span: 7 }"
          :sm="{ span: 7 }"
          :xs="{ span: 7 }"
          class="hide-xs"
        >
          <div class="box-how" data-aos="fade-left">
            <img src="/images/howitworks-3.png" alt="define the market" />
          </div>
        </a-col>
      </a-row>
    </section>

    <!-- top talent -->
    <section class="section-6 bg-blue-green" id="section-6">
      <a-row>
        <a-col :lg="{ span: 24 }">
          <div class="heading text-center separator-dashed">
            <div class="section-title --white">
              Top Talent Fameo
            </div>
          </div>
        </a-col>
        <a-col :lg="{ span: 7 }">
          <!-- <div class="section-title text-center">
            <div class="nav-slider">
              <a-icon type="left" />
              <a-icon type="right" />
            </div>
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col :span="24">
          <div class="bg-top-talents">
            <img
              src="/images/top-talents.png"
              alt="fameo-top-talents"
              data-aos="zoom-in"
            />
            <!-- <a-button class="ant-btn ant-btn-primary" data-aos="zoom-in-down"
              >
              Find Out More Talents
              </a-button> -->
          </div>
        </a-col>
      </a-row>
    </section>

    <!-- packages -->
    <section class="section-7" id="section-packages">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div
              class="section-title margin-70-bottom --black"
              data-aos="zoom-in"
            >
              <b>
                Instagram &amp; TikTok Package
              </b>
              <br />
              <span style="font-weight: 400">(IG Photo, keep 1 month)</span>
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col
          :xl="{ span: 16, offset: 4 }"
          :lg="{ span: 18, offset: 3 }"
          :sm="{ span: 20, offset: 2 }"
          :xs="{ span: 22, offset: 1 }"
        >
          <div>
            <img
              src="/images/packages.png"
              alt=""
              width="100%"
              data-aos="zoom-in"
            />
          </div>
        </a-col>
        <a-col :span="24" class="text-center">
          <a
            href="/packages"
            class="ant-btn ant-btn-primary margin-32-top"
            data-aos="zoom-in"
          >
            click here for Detail
          </a>
        </a-col>
      </a-row>
    </section>

    <!-- trusted by -->
    <section class="section-7" id="section-7">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom --black">
              trusted by
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col :span="24">
          <div class="margin-60-top">
            <simplecarousel
              :sliderData="trustedBy"
              :autoplay="true"
              :pagination="true"
            />
          </div>
          <div class="text-center margin-50-top">
            <a href="" class="link-grey">And many more ...</a>
          </div>
        </a-col>
      </a-row>
    </section>

    <!-- testimonial -->
    <section class="section-8 bg-solid-blue" id="section-8">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title --white">
              Testimonials
            </div>
          </div>
          <!-- <div class="text-white sub-heading text-center">
            Lorem ipsum
          </div> -->
        </a-col>
      </a-row>
      <a-row type="flex" justify="center" align="middle">
        <a-col
          :xl="{ span: 14 }"
          :lg="{ span: 16 }"
          :md="{ span: 24 }"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
        >
          <carousel
            :autoplay="false"
            :perPage="1"
            :pagination="true"
            :navigationEnabled="true"
            navigationNextLabel="<img class='nav-next' src='/images/icon-right-white.svg' alt='next' />"
            navigationPrevLabel="<img class='nav-prev' src='/images/icon-left-white.svg' alt='previous' />"
            class="margin-50-top"
          >
            <slide>
              <div class="box-slider-testimonial">
                <a-row type="flex" justify="center" align="middle">
                  <a-col
                    :lg="{ span: 18 }"
                    :md="{ span: 18 }"
                    :sm="{ span: 20 }"
                    :xs="{ span: 21 }"
                  >
                    <div class="description">
                      <div class="thumb">
                        <img
                          src="/images/carousel/testi-2.jpg"
                          alt="Alban Dudek"
                        />
                      </div>
                      <p>
                        "Fameoboost give us a really great support for designing
                        our content through social media. It was very great
                        working with the team, very expert in social media and
                        marketing. We really apreciate the support, designing
                        content was very-very easy. We highly apreciate you
                        guys. Thank you"
                      </p>
                      <p class="user-name margin-0-bottom">
                        <b>
                          - Alban Dudek - Chief Digital Officer Sophie Paris
                        </b>
                      </p>
                    </div>
                  </a-col>
                </a-row>
              </div>
            </slide>
            <slide>
              <div class="box-slider-testimonial">
                <a-row type="flex" justify="center" align="middle">
                  <a-col
                    :lg="{ span: 18 }"
                    :md="{ span: 18 }"
                    :sm="{ span: 20 }"
                    :xs="{ span: 21 }"
                  >
                    <div class="description">
                      <div class="thumb">
                        <img
                          src="/images/carousel/testi-1.jpg"
                          alt="Alban Dudek"
                        />
                      </div>
                      <p>
                        "Thank you Fameoboost to helping us to find the real
                        influencer, no fake followers real beauty influencer to
                        promote our brand, also you guys to optimize our
                        marketing budget and most of all the campaign coming
                        from your creative Idea it's very innovative, we love
                        it"
                      </p>
                      <p class="user-name margin-0-bottom">
                        <b>
                          - Shella Huliselan - General Manager Brunbrun Paris
                        </b>
                      </p>
                    </div>
                  </a-col>
                </a-row>
              </div>
            </slide>
            <slide>
              <div class="box-slider-testimonial">
                <a-row type="flex" justify="center" align="middle">
                  <a-col
                    :lg="{ span: 18 }"
                    :md="{ span: 18 }"
                    :sm="{ span: 20 }"
                    :xs="{ span: 21 }"
                  >
                    <div class="description">
                      <div class="thumb">
                        <img
                          src="/images/carousel/testi-noka.jpg"
                          alt="Noka Coffee"
                        />
                      </div>
                      <p>
                        "Ciamiks memang! Engagement dapet tanpa ribet.."
                      </p>
                      <p class="user-name margin-0-bottom">
                        <b>
                          - Noka Coffee
                        </b>
                      </p>
                    </div>
                  </a-col>
                </a-row>
              </div>
            </slide>
          </carousel>
        </a-col>
      </a-row>
    </section>

    <!-- out team -->
    <!-- <section class="section-our-team bg-solid-blue" id="section-9">
      <a-row>
        <a-col :lg="{ span: 24 }">
          <div class="heading text-center separator-dashed">
            <div class="section-title --white">
              Meet Our Team
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col :span="24">
          <div class="bg-our-team margin-100-top">
            <img
              src="/images/our-team.png"
              alt="fameo-top-talents"
              data-aos="zoom-in"
            />
          </div>
        </a-col>
      </a-row>
    </section> -->

    <!-- media -->
    <section class="section-7 section-9" id="section-10">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom --black">
              Media Coverage
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col :span="24">
          <div class="margin-60-top">
            <simplecarousel
              :sliderData="mediaCoverage"
              :pagination="false"
              :autoplay="true"
            />
          </div>
          <!-- <div class="text-center margin-50-top">
            <a href="" class="link-grey">And many more ...</a>
          </div> -->
        </a-col>
      </a-row>
    </section>
  </div>
</template>

<script>
import Vue from 'vue'
import VueObserveVisibility from 'vue-observe-visibility'
import VueAnimateNumber from 'vue-animate-number'

import { Carousel, Slide } from 'vue-carousel'
import AOS from 'aos'
import homefull from '~/components/homefull'
import simplecarousel from '~/components/simplecarousel'
import 'aos/dist/aos.css' // You can also use <link> for styles

AOS.init()
Vue.use(VueObserveVisibility)
Vue.use(VueAnimateNumber)

export default {
  layout: 'homepage',
  components: { homefull, Carousel, Slide, simplecarousel },
  data() {
    return {
      numberVisible: false,
      trustedBy: [
        {
          title: 'sistersel',
          link: '',
          image: '/images/carousel/trust-1.png',
        },
        {
          title: 'sophie',
          link: 'sophie',
          image: '/images/carousel/trust-2.png',
        },
        {
          title: 'brunbrun',
          link: '',
          image: '/images/carousel/trust-4.png',
        },
        {
          title: 'kenari_djaja',
          link: '',
          image: '/images/carousel/trust-kenari.jpg',
        },
        {
          title: 'alami_syariah',
          link: '',
          image: '/images/carousel/trust-alami.png',
        },
      ],
      mediaCoverage: [
        {
          title: 'antaranews',
          link:
            'https://www.antaranews.com/berita/1731030/aplikasi-fameo-hubungkan-penggemar-dengan-selebriti-favorit',
          image: '/images/carousel/media-coverage/antaranews.png',
        },
        {
          title: 'ganlop',
          link:
            'https://www.ganlop.com/2020/09/fameo-memperkenalkan-platform-selebriti.html',
          image: '/images/carousel/media-coverage/ganloop.png',
        },
        {
          title: 'industry',
          link:
            'https://www.industry.co.id/read/74045/fameo-perkenalkan-platform-selebriti-hubungkan-penggemar-dengan-idola-favorit',
          image: '/images/carousel/media-coverage/industry.jpg',
        },
        {
          title: 'keepo',
          link:
            'https://keepo.me/lifestyle/fameo-perkenalkan-platform-selebriti--hubungkan-penggemar-dengan-idola-favorit-secara-personal/',
          image: '/images/carousel/media-coverage/keepo.png',
        },
        {
          title: 'kurio',
          link: 'https://kurio.id/app/articles/5f61654519624dbf8390c698',
          image: '/images/carousel/media-coverage/kurio.png',
        },
        {
          title: 'linetoday1',
          link:
            'https://today.line.me/id/v2/article/Aplikasi+Fameo+Perkenalkan+Platform+Selebriti+Terlengkap+di+Indonesia-OM25LB',
          image: '/images/carousel/media-coverage/linetoday.png',
        },
        {
          title: 'linetoday2',
          link:
            'https://today.line.me/id/v2/article/Aplikasi+Fameo+hubungkan+penggemar+dengan+selebriti+favorit-QY9l2e',
          image: '/images/carousel/media-coverage/linetoday.png',
        },
        {
          title: 'marketeers',
          link:
            'https://www.marketeers.com/mengenal-fameo-sebagai-perantara-antara-brand-dan-influencer/',
          image: '/images/carousel/media-coverage/marketeers.png',
        },
        {
          title: 'merdeka',
          link:
            'https://www.merdeka.com/teknologi/aplikasi-fameo-perkenalkan-platform-selebriti-terlengkap-di-indonesia.html',
          image: '/images/carousel/media-coverage/merdeka.png',
        },
        {
          title: 'mix',
          link:
            'https://mix.co.id/marcomm/news-trend/fameo-hadir-sebagai-platform-endorsement-selebriti-terlengkap/',
          image: '/images/carousel/media-coverage/mix.png',
        },
        {
          title: 'siar',
          link:
            'https://siar.com/aplikasi-selebriti-fameo-fokus-pada-pemasaran-antar-konsumen/',
          image: '/images/carousel/media-coverage/siar.png',
        },
        {
          title: 'swa',
          link:
            'https://swa.co.id/swa/trends/fameo-hubungkan-penggemar-dan-selebriti-favorit-dalam-platform',
          image: '/images/carousel/media-coverage/swa.png',
        },
        {
          title: 'trenteknologi',
          link:
            'https://trenteknologi.com/fameo-perkenalkan-platform-untuk-hubungkan-selebriti-dan-fans-nya/',
          image: '/images/carousel/media-coverage/trenteknologi.png',
        },
        {
          title: 'tribuntechno',
          link:
            'https://www.tribunnews.com/techno/2020/09/16/fameo-kenalkan-platform-selebriti-hubungkan-fans-dengan-idola-favoritnya-secara-personal',
          image: '/images/carousel/media-coverage/tribuntechno.svg',
        },
        {
          title: 'yahoo',
          link:
            'https://id.berita.yahoo.com/aplikasi-fameo-hubungkan-penggemar-dengan-030125651.html',
          image: '/images/carousel/media-coverage/yahoo.png',
        },
        {
          title: 'youngster',
          link:
            'https://youngster.id/news/aplikasi-order-video-ucapan-ini-gandeng-selebriti-tanah-air/',
          image: '/images/carousel/media-coverage/youngster.png',
        },
      ],
    }
  },
  head() {
    return {
      title: 'Fameo Boost',
      meta: [
        {
          name: 'description',
          content: 'Fameo Boost',
        },
      ],
    }
  },
  methods: {
    animateEnd(num) {
      this.numberVisible = true
    },
    visibilityChanged(isVisible, entry) {
      if (isVisible) {
        this.numberVisible = false
      }
      this.$refs.totalBrand.start()
      this.$refs.totalTalents.start()
      this.$refs.totalEngage.start()
    },
  },
}
</script>
<style lang="scss">
.visible-carousel {
  .VueCarousel-wrapper {
    overflow: visible;
  }
}

.VueCarousel-dot {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100%;
  background: $btn-light-pink !important;
  opacity: 0.4;
  margin: 7px;
  padding: 7px !important;

  &.VueCarousel-dot--active {
    opacity: 1;
  }
}
.ant-layout-sider-zero-width-trigger {
  z-index: 2;
}
</style>

<style lang="scss" scoped>
.section-our-team {
  background: url('/images/rocket.png') no-repeat left bottom;
  background-size: contain;
}
.bg-top-talents,
.bg-our-team {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .ant-btn {
    position: absolute;
    left: calc(50% - 121px);
    bottom: 40px;
  }
}
.video-caption {
  @include fluid-type($min-width, $max-width, 16px, 24px);
}
.services-image {
  img {
    width: 100%;
    height: auto;
  }
}
.box-slider-testimonial {
  position: relative;

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 90px;
  }

  @media only screen and (max-width: $grid-xs) {
    padding-top: 90px;
  }

  .thumb {
    position: absolute;
    z-index: 1;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    left: -90px;

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      left: 50%;
      top: -90px;
      margin-left: -90px;
    }

    @media only screen and (max-width: $grid-xs) {
      left: 50%;
      top: -90px;
      margin-left: -90px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  .description {
    color: $pink;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 31px;
    text-align: left;
    padding: 35px 35px 35px 110px;
    background: $white;
    border-radius: 15px;
    min-height: 250px;

    @include fluid-type($min-width, $max-width, $min-font, 21px);

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      padding-left: 35px;
      padding-top: 100px;
    }

    @media only screen and (max-width: $grid-xs) {
      padding-left: 35px;
      padding-top: 100px;
    }

    /* &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: transparent;
      border: 1px solid #fafafa;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
      position: absolute;
      top: 0;
      right: 22px;
      z-index: 0;

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        display: none;
      }

      @media only screen and (max-width: $grid-xs) {
        display: none;
      }
    } */
  }
}
.link-grey {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #9094a2;
}
.VueCarousel-navigation {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.section-title {
  font-family: $main-font;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 85px;
  text-transform: capitalize;

  @include fluid-type($min-width, $max-width, 26px, 80px);

  @media only screen and (max-width: $grid-xs) {
    margin-bottom: 40px;
    margin-top: 32px;
  }

  &.--black {
    color: #212945;
  }

  &.--white {
    color: $whitefa;
  }
}
.sub-heading {
  font-weight: Regular;
  color: $grey;
  letter-spacing: 0.05em;
  margin-top: 32px;

  @include fluid-type($min-width, $max-width, $min-font, 28px);
}
.bg-blue-green {
  background: #4b4bdb;
}
.bg-solid-green {
  background-color: #1dc8c8;
}
.bg-solid-blue {
  background-color: #57d4ff;
}

.boxes {
  .image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &.font-white {
    color: $whitefa;
  }
  &.font-pink {
    color: $font-pink;
  }

  .big-number {
    font-family: $avenir-pro;
    font-weight: bold;

    /* font-size: 100px; */
    line-height: 60px;

    @include fluid-type($min-width, $max-width, $min-font, 100px);

    @media only screen and (max-width: $grid-xs) {
      line-height: normal;
    }
  }
  p {
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-top: 24px;

    @include fluid-type($min-width, $max-width, $min-font, 28px);

    @media only screen and (max-width: $grid-xs) {
      margin: 0;
    }
  }
}
.section-2 {
  /* background: url('/images/bg-section-2.png') no-repeat center center;
  background-size: cover;
  height: 1040px; */
  padding-bottom: 60px;
}

.section-4 {
  height: 100%;
  max-height: 100vh;

  /* background-color: $white; */
  background: url('/images/bg-wave.jpg') no-repeat center bottom;
  background-size: contain;
  .sub-heading {
    margin-bottom: 70px;
  }
  p {
    letter-spacing: 0.05em;
    line-height: 31px;
    text-align: left;
    color: #9094a2;
  }
}
.section-5 {
  color: #e7e7e7;

  .section-title {
    color: $whitefa;
  }
  .sub-heading {
    color: #e7e7e7;
    margin-bottom: 120px;
  }

  .box-how {
    position: relative;

    @media only screen and (max-width: $grid-xs) {
      margin-top: 16px;
    }

    [data-visual-number]::before {
      content: '';
      background: $white;
      width: 165px;
      height: 165px;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: -20px;
      z-index: 0;

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        width: 60px;
        height: 60px;
        left: 0;
      }

      @media only screen and (min-width: 767px) and (max-width: 992px) {
        width: 80px;
        height: 80px;
        left: 0;
      }

      @media only screen and (max-width: $grid-xs) {
        width: 60px;
        height: 60px;
        top: -11px;
        left: -1px;
      }
    }

    [data-visual-number]::after {
      content: attr(data-visual-number) ' ';
      font-family: $avenir-pro;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ff79c2;
      position: absolute;
      top: -3px;
      left: -18px;
      z-index: 1;
      width: 165px;
      height: 165px;
      font-size: 130px;

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        width: 60px;
        height: 60px;
        font-size: 50px;
      }

      @media only screen and (min-width: 767px) and (max-width: 992px) {
        width: 80px;
        height: 80px;
        left: 0;
        font-size: 64px;
      }

      @media only screen and (max-width: $grid-xs) {
        width: 60px;
        height: 60px;
        top: -14px;
        left: -1px;
        font-size: 50px;
      }
    }

    .sub-title-how {
      font-family: $avenir-pro;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 55px;
      color: $whitefa;
      text-transform: capitalize;
      padding-left: 190px;

      @include fluid-type($min-width, $max-width, $min-font, 50px);

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        line-height: 30px;
        padding-left: 90px;
      }

      @media only screen and (min-width: 767px) and (max-width: 992px) {
        line-height: 40px;
        padding-left: 100px;
      }

      @media only screen and (max-width: $grid-xs) {
        line-height: 30px;
        padding-left: 90px;
      }
    }
    p {
      font-size: 21px;
      letter-spacing: 0.05em;
      line-height: 31px;
      color: #e7e7e7;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: $grid-xs) {
    padding-bottom: 30px;

    .sub-heading {
      margin-bottom: 30px;
    }
  }

  .buggy {
    margin: 0 !important;

    .box-how {
      margin-left: -8px;
    }
  }
}
.section-6 {
  position: relative;
  padding-bottom: 0;

  /* &::before {
    content: '';
    background: url('/images/bg-wave-pattern.png') no-repeat center bottom;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  } */
  .box-slider {
    width: 284px;
    height: 415px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 280px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

    .thumb {
      border-radius: 130px;
      overflow: hidden;
      width: 260px;
      height: 260px;
      position: relative;
      z-index: 2;
      margin: 0 auto;

      /* background: url(...); */
      filter: drop-shadow(0 5px 10px rgba(144, 154, 162, 0.45));

      img {
        width: 100%;
        height: 260px;
      }
    }

    .talent-name {
      font-family: $avenir-pro;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-align: center;
      color: #212945;
      position: relative;
      z-index: 2;
      margin-top: 30px;

      @include fluid-type($min-width, $max-width, $min-font, 28px);
    }

    p {
      letter-spacing: 0.05em;
      text-align: center;
      color: #212945;
      opacity: 0.7;
      position: relative;
      z-index: 2;
      margin-top: 14px;

      @include fluid-type($min-width, $max-width, $min-font, 21px);
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      width: 200px;
      height: 325px;

      &::before {
        height: 230px;
      }

      .thumb {
        width: 200px;
        height: 200px;
      }
    }
  }
}
.section-7 {
  padding-bottom: 80px;

  @media only screen and (max-width: $grid-xs) {
    .margin-60-top {
      margin-top: 16px;
    }
  }
}
.section-8 {
  padding-bottom: 90px;
}
.section-9 {
  padding-bottom: 75px;
}
.text-white {
  color: $white;
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .section-5 {
    .sub-heading {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-5 {
    .sub-heading {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: $grid-xs) {
  #section-10 {
    padding-bottom: 16px;
  }
  #section-3b,
  #section-3a {
    padding: 16px;
  }

  #section-3b {
    .boxes {
      margin-bottom: 16px;
    }
  }

  .section-5 .sub-heading {
    margin-bottom: 0;
  }
  .section-7 {
    padding-bottom: 16px;
  }
}
</style>
