<template>
  <section class="set-center">
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space align="center">
          <a-row :gutter="32">
            <a-col :span="12" class="hide-xs" :sm="{ span: 12 }">
              <div class="bg-img">
                <img src="/images/bg-login.png" alt="login graphic" />
              </div>
            </a-col>
            <a-col
              :span="12"
              :sm="{ span: 12 }"
              :xs="{ span: 24 }"
              :md="{ span: 12 }"
            >
              <h4> Masuk </h4>
              <div class="clearfix"></div>
              <a-form
                id="components-form-demo-normal-login"
                :form="form"
                class="login-form"
                @submit="handleSubmit"
              >
                <a-form-item>
                  <a-input
                    v-decorator="[
                      'email',
                      {
                        rules: [
                          {
                            type: 'email',
                            message: 'Format email salah!',
                          },
                          {
                            required: true,
                            message: 'Email kamu diperlukan!',
                          },
                        ],
                      },
                    ]"
                    placeholder="emailkamu@domain.com"
                  >
                    <a-icon
                      slot="prefix"
                      type="user"
                      style="color: rgba(0, 0, 0, 0.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item>
                  <a-input
                    v-decorator="[
                      'password',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Password minimal 5 digit',
                          },
                        ],
                      },
                    ]"
                    type="password"
                    placeholder="Password"
                  >
                    <a-icon
                      slot="prefix"
                      type="lock"
                      style="color: rgba(0, 0, 0, 0.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item>
                  <!-- <a-checkbox
                    v-decorator="[
                      'remember',
                      {
                        valuePropName: 'checked',
                        initialValue: true,
                      },
                    ]"
                  >
                    Remember me
                  </a-checkbox> -->
                  <!-- <a class="login-form-forgot" href="">
                    Forgot password
                  </a>
 
                  Or -->
                  Belum punya akun?
                  <nuxt-link to="/register"> Daftar sekarang! </nuxt-link>
                  <a-button
                    type="primary"
                    html-type="submit"
                    class="login-form-button col-24"
                  >
                    masuk
                  </a-button>
                </a-form-item>
              </a-form>
            </a-col>
          </a-row>
        </a-space>
      </div>
    </div>
  </section>
</template>

<script>
import { __notification } from '~/utils/notifications'

const Cookie = process.client ? require('js-cookie') : undefined

export default {
  layout: 'login',
  components: {},
  middleware: 'notAuthenticated',
  data() {
    return {
      // formLogin: {
      //   password: '123',
      //   username: ' ',
      // },
    }
  },
  head() {
    return {
      title: 'Login Dashboard',
      meta: [
        {
          name: 'description',
          content: 'Login Dashboard',
        },
      ],
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'normal_login' })
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          this.postLogin(values)
        }
      })
    },
    postLogin(data) {
      const { email, password } = data
      this.$api
        .$post('/login', { email, password })
        .then((result) => {
          if (result.code === 1) {
            this.$api.setToken(result.data, 'Bearer')
            const auth = {
              accessToken: result.data,
            }
            this.$store.commit('setAuth', auth) // mutating to store for client rendering

            Cookie.set('auth', auth) // saving token in cookie for server rendering
            this.$router.push('/profil-saya')
          } else
            __notification('error', 'Terjadi kesalahan', 'Mohon dicoba lagi.')
        })
        .catch((err) => {
          __notification('error', err.response.data.message, ' ')
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.bg-img {
  img {
    width: 100%;
    height: auto;
  }
}

h4 {
  font-weight: normal;
  font-size: 48.99px;
  line-height: 58.79px;
  text-align: left;
  color: $black;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.set-center {
  height: calc(100% - 95px);
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
.content {
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .content {
    margin-top: 45px;
  }
}
</style>
