<template>
  <div>
    <section>
      <headerlogin />
      <a-row>
        <a-col :span="24">
          <div class="heading text-center">
            <div class="section-title margin-70-bottom">
              <b>Instagram Package</b> <br />
              (IG Photo, keep 1 month)
            </div>
          </div>
          <!-- <div class="sub-heading text-center">
            Lorem ipsum dolor
          </div> -->
        </a-col>
      </a-row>
      <a-row :gutter="0">
        <a-col
          :xl="{ span: 16, offset: 4 }"
          :lg="{ span: 18, offset: 3 }"
          :sm="{ span: 20, offset: 2 }"
          :xs="{ span: 22, offset: 1 }"
        >
          <div>
            <img src="/images/packages.png" alt="" width="100%" />
          </div>
        </a-col>
      </a-row>
    </section>
  </div>
</template>

<script>
import headerlogin from '~/components/headerlogin'

export default {
  components: { headerlogin },
  middleware: 'notAuthenticated',
  data() {
    return {
      // formLogin: {
      //   password: '123',
      //   username: ' ',
      // },
    }
  },
  head() {
    return {
      title: 'Login',
      meta: [
        {
          name: 'description',
          content: 'Login',
        },
      ],
    }
  },

  methods: {},
}
</script>

<style lang="scss" scoped>
.section-title {
  font-family: $main-font;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 85px;
  text-transform: capitalize;

  @include fluid-type($min-width, $max-width, 26px, 80px);

  @media only screen and (max-width: $grid-xs) {
    margin-bottom: 40px;
  }

  &.--black {
    color: $black;
  }

  &.--white {
    color: $whitefa;
  }
}
</style>
