<template>
  <div>
    <section class="margin-50-bottom">
      <a-row>
        <a-col :span="24">
          <div class="heading text-center separator-dashed margin-100-top">
            <h2 class="section-title margin-70-bottom --black">
              Instagram Package
            </h2>
          </div>
        </a-col>
        <a-col :span="22" :offset="1">
          <div class="text-center">
            <img
              src="/images/package-ig.png"
              alt="Fameoboost Instagram package"
            />
          </div>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="heading text-center separator-dashed">
            <h2 class="section-title margin-70-bottom --black">
              Tiktok Package
            </h2>
          </div>
        </a-col>
        <a-col :span="22" :offset="1">
          <div class="text-center">
            <img
              src="/images/package-tiktok.png"
              alt="Fameoboost Tiktok package"
            />
          </div>
        </a-col>
      </a-row>
      <a-row>
        <a-col>
          <div class="tnc">
            <h4>
              Term & Condition
            </h4>

            <p>
              Tiktok Video keep 1 month, maximal video duration is 60 seconds
            </p>

            <p>
              Exclude exclusive
            </p>

            <p>
              Exclude tax
            </p>

            <p>
              Content can't be owned and not for Ads
            </p>
          </div>
        </a-col>
      </a-row>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'basic',
  components: {},
  data() {
    return {}
  },
  head() {
    return {
      title: 'Fameoboost Packages',
      meta: [
        {
          name: 'description',
          content: 'Fameoboost Packages',
        },
      ],
    }
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.tnc {
  text-align: center;
  color: $black;

  @include fluid-type($min-width, $max-width, $min-font, 40px);

  h4 {
    font-weight: $bold;
  }
}
.section-title {
  font-family: $main-font;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 85px;
  text-transform: capitalize;

  @include fluid-type($min-width, $max-width, 26px, 80px);

  @media only screen and (max-width: $grid-xs) {
    margin-bottom: 40px;
  }

  &.--black {
    color: #212945;
  }

  &.--white {
    color: $whitefa;
  }
}

.separator-dashed {
  border-top: 1px dashed $black;
  width: 90%;
  margin: 35px auto 0 auto;

  .section-title {
    margin-top: 35px;
  }
}

img {
  width: 100%;
}
</style>
