<template>
  <div class="content">
    <NavigationHeader title="Jumlah & Harga Post" icon="arrow-left" reset="" />
    <div class="margin-20">
      <span><b>Platform</b></span>
    </div>
    <div class="dropdown-wrapper margin-20">
      <a-dropdown class="dropdown">
        <a-menu slot="overlay">
          <a-menu-item key="1">
            <a-icon type="user" />1st menu item
          </a-menu-item>
          <a-menu-item key="2">
            <a-icon type="user" />2nd menu item
          </a-menu-item>
          <a-menu-item key="3"> <a-icon type="user" />3rd item </a-menu-item>
        </a-menu>
        <a-button>Pilih Platform <a-icon type="down" /> </a-button>
      </a-dropdown>
    </div>
    <div class="margin-20">
      <span><b>Layanan</b></span>
    </div>
    <div class="dropdown-wrapper margin-20">
      <a-dropdown class="dropdown">
        <a-menu slot="overlay">
          <a-menu-item key="1">
            <a-icon type="user" />1st menu item
          </a-menu-item>
          <a-menu-item key="2">
            <a-icon type="user" />2nd menu item
          </a-menu-item>
          <a-menu-item key="3"> <a-icon type="user" />3rd item </a-menu-item>
        </a-menu>
        <a-button>Pilih Layanan <a-icon type="down" /> </a-button>
      </a-dropdown>
    </div>
    <div class="margin-20">
      <span><b>Jumlah Post</b></span>
    </div>
    <div class="counter margin-20-bottom">
      <a-button class="button-counter">
        -
      </a-button>
      <span>5</span>
      <a-button class="button-counter">
        +
      </a-button>
    </div>
    <div class="margin-20">
      <span><b>Harga Per Post</b></span>
    </div>
    <div class="counter margin-20-bottom">
      <a-button class="button-counter">
        -
      </a-button>
      <span>Rp. 50.000</span>
      <a-button class="button-counter">
        +
      </a-button>
    </div>
    <div class="box-div margin-20 padding-20">
      <span>Estimasi budget</span>
      <span>Rp. 100.000</span>
    </div>
    <a-button class="ant-button btn-big">
      Simpan Perubahan
    </a-button>
  </div>
</template>
<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      contents: [
        { id: 1, title: 'Platform' },
        { id: 1, title: 'Layanan' },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  width: 100%;
  height: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  border-radius: 20px;
  border: 1px solid;
  border-color: #c7c7c7;
  box-shadow: none;
  text-align: left;
}
.dropdown:not(:last-child) {
  margin-right: 20px;
}
.button-counter {
  margin: 0 20px;
  padding: 0;
  border: none;
  color: $pink;
  width: 15%;
  height: 50px;
  border-radius: 60%;
  background: none;
  font-weight: $extra-bold;
}
.counter {
  text-align: center;
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.box-div {
  display: flex;
  justify-content: space-between;
  background-color: #f7f5fa;
  color: $black;
}
</style>
