<template>
  <a-row>
    <a-col :span="24">
      <loading :isLoading="isLoading" />
      <a-form-model
        ref="ruleForm"
        :model="form"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item ref="name" label="Nama lengkap" prop="name">
          <a-input
            v-model="form.name"
            @blur="
              () => {
                $refs.name.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item
          ref="age"
          label="Umur"
          prop="age"
          v-if="user.role === ROLE.TALENT"
        >
          <a-input-number
            v-model.number="form.age"
            :min="1"
            :max="100"
            :formatter="
              (value) => `${value} thn`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            "
          />
        </a-form-model-item>
        <a-form-model-item
          ref="sex"
          label="Kelamin"
          prop="sex"
          v-if="user.role === ROLE.TALENT"
        >
          <a-select
            v-model="form.sex"
            placeholder="Jenis kelamin kamu"
            @blur="
              () => {
                $refs.sex.onFieldBlur()
              }
            "
          >
            <a-select-option value="" selected disabled>
              Pilih kelamin
            </a-select-option>
            <a-select-option value="laki-laki">
              laki-laki
            </a-select-option>
            <a-select-option value="perempuan">
              Perempuan
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item
          ref="companyName"
          label="Nama Perusahaan"
          prop="companyName"
          v-if="user.role === ROLE.CLIENT"
        >
          <a-input
            v-model="form.companyName"
            @blur="
              () => {
                $refs.companyName.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item
          ref="npwp"
          label="NPWP"
          prop="npwp"
          v-if="user.role === ROLE.CLIENT"
        >
          <a-input
            v-model="form.npwp"
            @blur="
              () => {
                $refs.npwp.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item ref="address" label="Alamat" prop="address">
          <a-input
            v-model="form.address"
            @blur="
              () => {
                $refs.address.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item ref="city" label="Kota" prop="city">
          <a-select
            show-search
            placeholder="Pilih kota"
            option-filter-prop="children"
            :filter-option="filterOption"
            v-model="form.city"
          >
            <a-select-option v-if="user.city === 0" :value="0" selected disabled
              >Pilih kota</a-select-option
            >
            <a-select-option :value="c.id" v-for="c in city" v-bind:key="c.id">
              {{ c.name }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item ref="phone" label="No telp" prop="phone">
          <a-input
            v-model="form.phone"
            @blur="
              () => {
                $refs.phone.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item
          label="Deskripsi"
          prop="description"
          v-if="user.role === ROLE.CLIENT"
        >
          <a-input v-model="form.description" type="textarea" />
        </a-form-model-item>
        <a-form-model-item :wrapper-col="{ span: 19, offset: 5 }">
          <a-button
            type="primary"
            @click="onSubmit"
            html-type="submit"
            :loading="btnIsLoading"
            :disabled="form.name === '' || btnIsLoading"
          >
            SIMPAN
          </a-button>
          <a-button
            type="secondary"
            @click="logOut"
            html-type="submit"
            :loading="btnIsLoading"
          >
            LOG OUT
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'
import { ROLE } from '~/utils/constant'

const Cookie = process.client ? require('js-cookie') : undefined

export default {
  components: { loading },
  layout: 'dashboard',
  middleware: 'authenticated',
  data() {
    return {
      labelCol: { span: 5 },
      wrapperCol: { span: 16 },
      form: {
        name: '',
        address: '',
        phone: null,
        city: null,
        age: null,
        sex: '',
        description: '',
        companyName: '',
        npwp: null,
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Nama kamu.',
            trigger: 'blur',
          },
          {
            min: 3,
            message: 'Minimal 3 kata.',
            trigger: 'blur',
          },
        ],
        phone: [
          {
            required: true,
            message: 'Nomor telepon kamu!',
          },
          {
            min: 8,
            message: 'Minimal 3 angka',
          },
        ],
      },
      user: {},
      city: [],
      isLoading: false,
      btnIsLoading: false,
      ROLE,
    }
  },
  head() {
    return {
      title: 'Update Profile',
      meta: [
        {
          name: 'description',
          content: 'Update Profile',
        },
      ],
    }
  },
  mounted() {
    this.getUser()
  },
  methods: {
    onSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.putUser()
        } else {
          __notification('error', 'Masih ada data yang salah!')
          return false
        }
      })
    },
    resetForm() {
      this.$refs.ruleForm.resetFields()
    },
    async getUser() {
      this.isLoading = true

      const user = this.$api.get(`/user/me`)
      const city = this.$api.get(`/city/list`)

      await Promise.all([user, city])
        .then((result) => {
          this.user = result[0].data.data
          this.city = result[1].data.data
          this.form = {
            ...this.user,
          }
          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err)
          this.isLoading = false
        })
    },
    async putUser() {
      this.btnIsLoading = true
      const { name, address, phone, city, age, sex } = this.form
      // const roleId = this.user.role

      let payload
      if (this.user.role === ROLE.TALENT) {
        payload = {
          name,
          address,
          phone,
          city,
          age,
          sex,
        }
      }
      if (this.user.role === ROLE.CLIENT) {
        payload = this.form
        delete payload.role
        // delete payload.age
        // delete payload.sex
      }
      await this.$api
        .$put('/user/me', payload)
        .then((result) => {
          __notification('success')
          this.btnIsLoading = false
        })
        .catch((err) => {
          __notification('error', 'Simpan gagal!', err.response.data.message)
          this.btnIsLoading = false
        })
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    logOut() {
      Cookie.remove('auth')
      this.$store.commit('setAuth', null)
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped></style>
