<template>
  <a-row>
    <a-col :span="24">
      <loading :isLoading="isLoading" />
      <a-form-model
        ref="ruleForm"
        :model="form"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item
          ref="businessName"
          label="Nama usaha"
          prop="businessName"
        >
          <a-input
            v-model="form.businessName"
            @blur="
              () => {
                $refs.businessName.onFieldBlur()
              }
            "
          />
        </a-form-model-item>
        <a-form-model-item ref="brand" label="Brand / Produk" prop="brand">
          <a-input
            v-model="form.brand"
            @blur="
              () => {
                $refs.brand.onFieldBlur()
              }
            "
          />
        </a-form-model-item>

        <a-form-model-item label="Kategori" ref="category" prop="category">
          <a-checkbox-group class="checkbox-pill" v-model="form.category">
            <a-checkbox :value="c.id" v-for="c in categoryData" :key="c.id">
              {{ c.name }}
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
        <a-form-model-item ref="location" label="Lokasi" prop="location">
          <a-select
            mode="multiple"
            placeholder="Pilih lokasi"
            option-filter-prop="children"
            :filter-option="filterOption"
            v-model="form.location"
            :default-value="['Pilih lokasi']"
            @blur="
              () => {
                $refs.location.onFieldBlur()
              }
            "
          >
            <a-select-option :value="c.id" v-for="c in cityData" :key="c.id">
              {{ c.name }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item :wrapper-col="{ span: 19, offset: 5 }">
          <a-button
            type="primary"
            @click="onSubmit"
            html-type="submit"
            :loading="btnIsLoading"
            :disabled="form.name === '' || btnIsLoading"
          >
            SIMPAN
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'
import { ROLE } from '~/utils/constant'

const Cookie = process.client ? require('js-cookie') : undefined

export default {
  components: { loading },
  layout: 'dashboard',
  middleware: 'authenticated',
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 24 },
      form: {
        businessName: '',
        category: [],
        brand: '',
        location: [],
      },
      rules: {
        businessName: [
          {
            required: true,
            message: 'Nama kamu.',
            trigger: 'blur',
          },
          {
            min: 3,
            message: 'Minimal 3 kata.',
            trigger: 'blur',
          },
        ],
        brand: [
          {
            required: true,
            message: 'Nama brand atau produk kamu.',
            trigger: 'blur',
          },
          {
            min: 3,
            message: 'Minimal 3 kata.',
            trigger: 'blur',
          },
        ],
        category: [
          {
            type: 'array',
            required: true,
            message: 'Kategori dibutuhkan!',
            trigger: 'change',
          },
        ],
        location: [
          {
            type: 'array',
            required: true,
            message: 'Lokasi dibutuhkan kamu!',
            trigger: 'change',
          },
        ],
      },
      user: {},
      cityData: [],
      isLoading: false,
      btnIsLoading: false,
      ROLE,
      categoryData: [],
    }
  },
  head() {
    return {
      title: 'Update Profile',
      meta: [
        {
          name: 'description',
          content: 'Update Profile',
        },
      ],
    }
  },
  mounted() {
    this.getUser()
  },
  methods: {
    onSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.postUser()
        } else {
          __notification('error', 'Masih ada data yang salah!')
          return false
        }
      })
    },
    resetForm() {
      this.$refs.ruleForm.resetFields()
    },
    async getUser() {
      this.isLoading = true

      const user = this.$api.get(`/business-profile`)
      const city = this.$api.get(`/city/list`)
      const category = this.$api.get(`/category/list`)

      await Promise.all([city, category, user])
        .then((result) => {
          this.cityData = result[0].data.data
          this.categoryData = result[1].data.data
          this.user = result[2].data.data
          this.form = {
            ...this.user,
          }

          const { category, location } = this.user

          const transformCategory = category.map((val) => val.id)
          const transformlocation = location.map((val) => val.id)
          this.form.category = transformCategory
          this.form.location = transformlocation

          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err.response.data.message)
          this.isLoading = false
        })
    },
    async postUser() {
      this.btnIsLoading = true

      await this.$api
        .$put(`/business-profile`, this.form)
        .then((result) => {
          if (result.code === 1)
            __notification(
              'success',
              `Sukses`,
              'Profil bisnis berhasil dirubah.'
            )
          else __notification('error', 'Mohon coba lagi!')
          this.btnIsLoading = false
        })
        .catch((err) => {
          __notification(
            'error',
            'Simpan kriteria gagal!',
            err.response.data.message
          )
          this.btnIsLoading = false
        })
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    logOut() {
      Cookie.remove('auth')
      this.$store.commit('setAuth', null)
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped></style>
