<template>
  <section class="set-center">
    <div class="space-align-container">
      <div class="space-align-block">
        <a-space align="center">
          <a-row :gutter="32">
            <a-col :span="12" class="hide-xs" :sm="{ span: 12 }">
              <div class="bg-img">
                <img
                  src="/images/bg-register-brand.png"
                  alt="pendaftar brand dan talent graphic"
                />
              </div>
            </a-col>
            <a-col
              :span="12"
              :sm="{ span: 12 }"
              :xs="{ span: 24 }"
              :md="{ span: 12 }"
            >
              <h4>
                Daftar
              </h4>
              <div class="clearfix"></div>
              <a-result
                v-show="success"
                status="success"
                title="Email verifikasi sudah terkirim, silahkan cek email kamu"
              >
              </a-result>
              <a-form
                :form="form"
                @submit="handleSubmit"
                layout="vertical"
                @submit.native.prevent
                v-show="!success"
              >
                <a-form-item label="Email">
                  <a-input
                    placeholder="emailkamu@perusahaan.com"
                    v-decorator="[
                      'email',
                      {
                        rules: [
                          {
                            type: 'email',
                            message: 'Harus format email yang benar',
                          },
                          {
                            required: true,
                            message: 'Email kamu diperlukan!',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="mail"
                      style="color:rgba(0,0,0,.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item label="Nama Lengkap">
                  <a-input
                    placeholder="Nama lengkap kamu"
                    v-decorator="[
                      'name',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Nama lengkap kamu diperlukan!',
                          },
                          {
                            min: 3,
                            message: 'Minimal 3 kata.',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="user"
                      style="color:rgba(0,0,0,.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item label="Password">
                  <a-input
                    type="password"
                    placeholder="Minimal 8 karakter"
                    v-decorator="[
                      'password',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Masukkan sandi kamu!.',
                          },
                          {
                            validator: validateToNextPassword,
                          },
                        ],
                      },
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="lock"
                      style="color:rgba(0,0,0,.25)"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item label="Confirm Password" has-feedback>
                  <a-input
                    v-decorator="[
                      'confirm',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Sandi harus sama!',
                          },
                          {
                            validator: compareToFirstPassword,
                          },
                        ],
                      },
                    ]"
                    type="password"
                    @blur="handleConfirmBlur"
                  >
                    <a-icon
                      slot="prefix"
                      type="lock"
                      style="color:rgba(0,0,0,.25)"
                    />
                  </a-input>
                  <div
                    v-show="isShowPasswordConfirmError"
                    class="ant-form-explain"
                    style="color:#f5222d"
                  >
                    Sandi harus sama!
                  </div>
                </a-form-item>
                <a-form-item label="Nomor Telepon">
                  <a-input
                    placeholder="081234567890"
                    v-decorator="[
                      'phone',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Nomor telepon kamu!',
                          },
                          {
                            min: 8,
                            message: 'Minimal 8 angka.',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-select
                      slot="addonBefore"
                      v-decorator="['prefix', { initialValue: '62' }]"
                    >
                      <a-select-option value="0">
                        +62
                      </a-select-option>
                    </a-select>
                  </a-input>
                </a-form-item>
                <!-- <a-form-item ref="role" label="Daftar sebagai" prop="role">
                  <a-select
                    show-search
                    placeholder="Daftar sebagai?"
                    option-filter-prop="children"
                    v-decorator="[
                      'role',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Harus diisi',
                          },
                        ],
                      },
                    ]"
                  >
                    <a-select-option :value="ROLE.TALENT">
                      Talent
                    </a-select-option>
                    <a-select-option :value="ROLE.CLIENT">
                      Client
                    </a-select-option>
                  </a-select>
                </a-form-item> -->
                <a-form-item class="text-center">
                  <a-button
                    type="primary"
                    html-type="submit"
                    :loading="isLoading"
                  >
                    DAFTAR
                  </a-button>
                </a-form-item>
              </a-form>
            </a-col>
          </a-row>
        </a-space>
      </div>
    </div>
  </section>
</template>

<script>
import { __notification } from '~/utils/notifications'
import { ROLE } from '~/utils/constant'

export default {
  layout: 'login',
  components: {},
  middleware: 'notAuthenticated',
  data() {
    return {
      // formRegister: {
      //   name: '',
      //   password: '',
      //   email: '',
      //   phoneNumber: null,
      //   role: 2,
      // },
      ROLE,
      response: {},
      success: false,
      isLoading: false,
      isShowPasswordConfirmError: false,
    }
  },
  head() {
    return {
      title: 'Daftar',
      meta: [
        {
          name: 'description',
          content: 'Daftar',
        },
      ],
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.postRegister(values)
        }
      })
    },
    handleConfirmBlur(e) {
      const value = e.target.value
      this.confirmDirty = this.confirmDirty || !!value
    },
    compareToFirstPassword(rule, value, callback) {
      const form = this.form
      if (value && value !== form.getFieldValue('password')) {
        this.isShowPasswordConfirmError = true
      } else {
        this.isShowPasswordConfirmError = false
        callback()
      }
    },
    validateToNextPassword(rule, value, callback) {
      const form = this.form
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true })
      }
      callback()
    },
    postRegister(data) {
      delete data.prefix
      delete data.confirm
      const payload = {
        role: ROLE.CLIENT,
        ...data,
      }
      this.isLoading = true
      this.$api
        .$post('/register', payload)
        .then((result) => {
          this.response = result
          this.success = true
          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err.response.data.message, ' ')
          this.isLoading = false
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.bg-img {
  img {
    width: 100%;
    height: auto;
  }
}

h4 {
  font-weight: normal;
  font-size: 48.99px;
  line-height: 58.79px;
  text-align: left;
  color: $black;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.set-center {
  height: calc(100% - 95px);
}
.space-align-container {
  display: flex;

  /* align-item: flex-start; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.space-align-block {
  flex: none;
  height: 100%;
  width: 100%;
}
.ant-space-align-center {
  height: 100%;
  width: 100%;
}
.ant-space-item {
  width: 100%;
}
</style>
