<template>
  <div>
    <section class="section-full">
      <a-row type="flex" justify="center">
        <a-col :span="12">
          <div
            class="space-align-container"
            style="height: 100vh; text-align: center"
          >
            <div class="space-align-block" style="height: 100vh">
              <a-space align="center" style="height: 100vh">
                <div class="mock-block">
                  <a-result
                    :status="response.code === 1 ? 'success' : 'error'"
                    :title="response.message"
                    :sub-title="
                      response.code === 1 ? 'Silahkan login' : 'Silahkan daftar'
                    "
                  >
                    <template #extra>
                      <a-button
                        key="console"
                        type="primary"
                        @click="goTo(response.code)"
                      >
                        {{ response.code === 1 ? 'Login' : 'Register' }}
                      </a-button>
                    </template>
                  </a-result>
                </div>
              </a-space>
            </div>
          </div>
        </a-col>
      </a-row>
    </section>
  </div>
</template>

<script>
import { __notification } from '~/utils/notifications'

export default {
  layout: 'basic',
  components: {},
  data() {
    return {
      response: {
        code: 0,
      },
    }
  },
  head() {
    return {
      title: 'Verify Email',
      meta: [
        {
          name: 'Verify Email',
          content: 'Verify Email',
        },
      ],
    }
  },
  mounted() {
    this.getVerifyEmail(this.$route?.query?.code)
  },

  methods: {
    goTo(code) {
      if (code === 1) {
        this.$router.push('/login')
      } else this.$router.push('/register')
    },
    getVerifyEmail(code) {
      this.$api
        .$get(`/register-verification?code=${code}`)
        .then((result) => {
          this.response = result
        })
        .catch((err) => {
          __notification('error', err)
        })
    },
  },
}
</script>

<style lang="scss" scoped></style>
