<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Buat Brief" icon="arrow-left" />
    <a-form-model
      ref="createBriefForm"
      :model="form"
      :rules="rules"
      class="padding-24"
    >
      <a-form-model-item
        label="Periode Campaign"
        ref="periodeDate"
        prop="periodeDate"
      >
        <a-range-picker
          :disabled-date="disabledDate"
          format="YYYY-MM-DD"
          @change="onChangePeriode"
          v-model="form.periodeDate"
        />
      </a-form-model-item>

      <a-form-model-item
        label="Submission Deadline"
        ref="deadlineDate"
        prop="deadlineDate"
      >
        <a-date-picker
          size="large"
          id="date-picker-full"
          format="YYYY-MM-DD"
          :disabled-date="disabledDate"
          v-model="form.deadlineDate"
          @change="onChangeDeadline"
        />
      </a-form-model-item>

      <a-form-model-item
        label="Brand / Product Detail"
        ref="productDetail"
        prop="productDetail"
      >
        <p style="color: #9094a2; line-height: 20px"
          >Jelaskan juga mengenai kegunaan / manfaat / keunggulan / keunikan /
          dll. <br />
          contoh: DivaBeau, minuman kecantikan pertama di Indonesia. Mengandung
          2000mg kolagen, superfruits dan vitamin E. Dengan kemasan siap minum
          dan rasa enak</p
        >
        <a-textarea
          class="ant-input textarea"
          placeholder="Brand / Product Detail..."
          v-model="form.productDetail"
          @blur="
            () => {
              $refs.productDetail.onFieldBlur()
            }
          "
        />
      </a-form-model-item>

      <a-form-model-item
        label="Brief / Deskripsi Campaign"
        ref="campaignDesc"
        prop="campaignDesc"
      >
        <a-textarea
          class="ant-input textarea"
          placeholder="Brief / Deskripsi Campaign..."
          v-model="form.campaignDesc"
          @blur="
            () => {
              $refs.campaignDesc.onFieldBlur()
            }
          "
        />
      </a-form-model-item>

      <a-form-model-item
        label="Brief / Deskripsi Konten (Foto/Video)"
        ref="contentDesc"
        prop="contentDesc"
      >
        <a-textarea
          class="ant-input textarea"
          placeholder="Brief / Deskripsi konten..."
          v-model="form.contentDesc"
          @blur="
            () => {
              $refs.contentDesc.onFieldBlur()
            }
          "
        />
      </a-form-model-item>

      <a-form-model-item
        label="Brief / Deskripsi Caption"
        ref="captionDesc"
        prop="captionDesc"
      >
        <a-textarea
          class="ant-input textarea"
          placeholder="Brief / Deskripsi konten..."
          v-model="form.captionDesc"
          @blur="
            () => {
              $refs.captionDesc.onFieldBlur()
            }
          "
        />
      </a-form-model-item>

      <a-form-model-item label="Referensi Konten (Foto/Video)">
        <template v-if="checkFormat === 'mp4'">
          <video controls width="250">
            <source :src="briefData.reference" type="video/mp4" />

            Sorry, your browser doesn't support embedded videos.
          </video>
        </template>
        <p style="color: #9094a2; line-height: 20px">
          Referensi harus berupa file dengan format: jpg, png, jpeg, mp4
        </p>
        <a-card style="width: 100%">
          <a-upload-dragger
            name="file"
            :multiple="false"
            action="https://fameoboost-lngnht3bqq-as.a.run.app/upload"
            @change="handleChangeUpload"
          >
            <p class="ant-upload-drag-icon">
              <a-icon type="inbox" />
            </p>
            <p class="ant-upload-text"> Klik atau drag foto kamu disini </p>
          </a-upload-dragger>
        </a-card>
      </a-form-model-item>

      <a-form-model-item
        label="Keyword / Hashtag"
        ref="keywordHashtag"
        prop="keywordHashtag"
      >
        <a-select
          mode="tags"
          style="width: 100%"
          placeholder="Pilih kota"
          v-model="form.keywordHashtag"
          @blur="
            () => {
              $refs.keywordHashtag.onFieldBlur()
            }
          "
        >
        </a-select>

        <!-- <p style="margin: 0; font-weight: 500">*Reomendasi Keyword/Hashtag</p>
          <div class="tag-wrapper">
            <a-checkable-tag class="tag-category"> Keyword 1 </a-checkable-tag>
            <a-checkable-tag class="tag-category"> Keyword 2 </a-checkable-tag>
          </div> -->
        <p style="color: #9094a2; line-height: 20px">
          * Rekomendasi berdasarkan hasil algoritma FameoBoost untuk hasil
          campaign yang lebih optimal
        </p>
      </a-form-model-item>

      <a-form-model-item
        label="Syarat & ketentuan yang perlu diketahui influencer?"
        ref="rules"
        prop="rules"
      >
        <p style="color: #9094a2; line-height: 20px">
          Misalkan postingan wajib di keep minimal 30 hari. <br />
          Posting harus dilakukan antara tanggal 21-28 Agustus. <br />
          Tidak sedang mempromosikan produk sejenis dalam 30 hari kebelakang
          <br />
        </p>
        <a-textarea
          class="ant-input textarea"
          placeholder="Brand / Product Detail..."
          v-model="form.rules"
          @blur="
            () => {
              $refs.rules.onFieldBlur()
            }
          "
        />
      </a-form-model-item>

      <a-form-model-item
        label="Landing page / Website"
        ref="website"
        prop="website"
      >
        <a-input
          placeholder="Masukkan keyword"
          v-model="form.website"
          @blur="
            () => {
              $refs.website.onFieldBlur()
            }
          "
        />
        <p style="margin: 0; font-weight: 500">*Suggested Backlink</p>
        <div class="tag-wrapper">
          <a-checkable-tag class="tag-category">
            http://www.website.com/utm_source=fameoboost
          </a-checkable-tag>
        </div>
      </a-form-model-item>

      <a-form-model-item ref="location" label="Kota">
        <a-select
          mode="tags"
          style="width: 100%"
          placeholder="Pilih kota"
          v-model="form.location"
          @blur="
            () => {
              $refs.location.onFieldBlur()
            }
          "
        >
          <template v-if="cityData.length">
            <a-select-option
              v-for="loc in cityData"
              :key="loc.id"
              :value="loc.name"
            >
              {{ loc.name }}
            </a-select-option>
          </template>
        </a-select>
        <p style="margin: 0; font-weight: 500">
          *Rekomendasi Lokasi/Hashtag
        </p>
        <div class="tag-wrapper">
          <a-checkable-tag class="tag-category">
            Jakarta Barat
          </a-checkable-tag>
          <a-checkable-tag class="tag-category">
            Jakarta Selatan
          </a-checkable-tag>
        </div>
        <p style="color: #9094a2; line-height: 20px"
          >* Rekomendasi berdasarkan hasil algoritma FameoBoost untuk hasil
          campaign yang lebih optimal</p
        >
      </a-form-model-item>

      <div style="display: flex; justify-content: center">
        <a-button type="primary" html-type="submit" @click="onSubmit">
          LANJUT
        </a-button>
      </div>
    </a-form-model>
  </a-row>
</template>
<script>
import moment from 'moment'
import NavigationHeader from '~/components/NavigationHeader'
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'

export default {
  layout: 'dashboardFull',
  components: { NavigationHeader, loading },
  data() {
    return {
      rules: {
        periodeDate: [
          {
            type: 'array',
            required: true,
            message: 'Periode campaign diperlukan',
            trigger: 'change',
          },
        ],
        deadlineDate: [
          {
            required: true,
            message: 'Periode campaign diperlukan',
            trigger: 'blur',
          },
        ],
        productDetail: [
          {
            required: true,
            message: 'Brand / product detail diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        campaignDesc: [
          {
            required: true,
            message: 'Brief / deskripsi campaign diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        contentDesc: [
          {
            required: true,
            message: 'Brief / deskripsi konten diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        captionDesc: [
          {
            required: true,
            message: 'Brief / deskripsi caption diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        keywordHashtag: [
          {
            type: 'array',
            required: true,
            message: 'Keyword caption diperlukan',
            trigger: 'change',
          },
        ],
        rules: [
          {
            required: true,
            message: 'Syarat dan ketentuan diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        website: [
          {
            required: true,
            message: 'Website diperlukan',
            trigger: 'blur',
          },
          { min: 3, message: 'minimal 3 kata', trigger: 'blur' },
        ],
        location: [
          {
            type: 'array',
            required: true,
            message: 'Kota diperlukan',
            trigger: 'change',
          },
        ],
      },
      form: {
        periodeDate: [],
        startDate: null,
        endDate: null,
        deadlineDate: null,
        productDetail: '',
        campaignDesc: '',
        contentDesc: '',
        captionDesc: '',
        rules: '',
        website: '',
        location: [],
        reference: null,
        keywordHashtag: [],
      },
      btnIsLoading: false,
      isLoading: false,
      briefData: {},
      cityData: [],
    }
  },
  computed: {
    checkFormat: function() {
      if (this.briefData?.reference) {
        const fileName = this.briefData.reference
        return fileName.split('.').pop()
      }
      return ''
    },
  },
  mounted() {
    this.getBrief()
  },
  methods: {
    moment,
    range(start, end) {
      const result = []
      for (let i = start; i < end; i++) {
        result.push(i)
      }
      return result
    },
    onChangePeriode(value, dateString) {
      this.form.startDate = dateString[0]
      this.form.endDate = dateString[1]
    },
    onChangeDeadline(value, dateString) {
      this.form.deadlineDate = dateString
    },
    handleChangeUpload(info) {
      // if (info.file.status !== 'uploading') {
      //   console.log(info.file, info.fileList)
      // }
      if (info.file.status === 'done') {
        this.$message.success(`${info.file.name} file uploaded successfully`)
        this.form.reference = info.fileList[0].response.data
      } else if (info.file.status === 'error') {
        this.$message.error(`${info.file.name} file upload failed.`)
      }
    },
    disabledDate(current) {
      // Can not select days before today and today
      return current < moment().startOf('day')
    },
    onSubmit(e) {
      this.$refs.createBriefForm.validate((valid) => {
        if (valid) {
          this.postCreateBrief()
        } else {
          __notification('error', 'Masih ada data yang salah!')
          return false
        }
      })
    },
    async postCreateBrief() {
      this.btnIsLoading = true
      delete this.form.periodeDate

      await this.$api
        .$post(
          `/campaign/brief/save/${this.$route.params.campaignId}`,
          this.form
        )
        .then((result) => {
          __notification(
            'success',
            `Campaign ${this.form.campaignName}`,
            'Berhasil di buat'
          )
          // console.log(result, 'result')
          const { data } = result

          if (result.code === 1) this.$router.push(`/buat-campaign/${data.id}`)
          else __notification('error', 'Mohon coba lagi!')

          this.btnIsLoading = false
        })
        .catch((err) => {
          __notification(
            'error',
            'Simpan campaign gagal!',
            err.response.data.message
          )
          this.btnIsLoading = false
        })
    },
    async getBrief() {
      this.isLoading = true

      const brief = this.$api.get(
        `/campaign/brief/${this.$route.params.campaignId}`
      )
      const city = this.$api.get(`/city/list`)

      await Promise.all([brief, city])
        .then((result) => {
          this.briefData = result[0].data.data
          this.cityData = result[1].data.data

          const {
            keywordHashtag,
            location,
            startDate,
            endDate,
            campaignDesc,
          } = this.briefData

          const transformlocation = location.map((val) => val.name)
          const transformKeyword = keywordHashtag.map((val) => val.name)

          if (campaignDesc !== '') {
            this.form = {
              ...this.briefData,
              periodeDate: [startDate, endDate],
              keywordHashtag: transformKeyword,
              location: transformlocation,
            }
          }

          this.isLoading = false
        })
        .catch((err) => {
          __notification('error', err)
          this.isLoading = false
        })
    },
  },
}
</script>
<style lang="scss" scoped>
.textbox {
  margin: 20px 20px;
}
#date-picker {
  width: 100%;
}
#date-picker-full {
  margin-right: 18px;
  width: 100%;
}
.title-text {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.subtitle {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: $pink;
}
.small-text {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}
.upload-icon {
  font-size: 30px;
  font-weight: 400;
  margin: 0 10px;
}
.txt {
  width: 100%;
}
.textarea {
  height: 160px;
  border-radius: 12px;
}
.tag-wrapper {
  width: 100%;
  display: flex;
}
.tag-category {
  background-color: $btn-light-pink;
  line-height: 1;
  padding: 10px;
  min-width: 60px;
  margin-bottom: 5px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
</style>
