<template>
  <a-row>
    <loading :isLoading="isLoading" />
    <NavigationHeader title="Detail Brief" icon="arrow-left" />
    <a-form-model class="padding-24">
      <a-form-model-item
        label="Periode Campaign"
        ref="periodeDate"
        prop="periodeDate"
      >
        <span>{{ campaignData.startDate }}</span> s/d
        <span>{{ campaignData.endDate }}</span>
      </a-form-model-item>

      <a-form-model-item
        label="Submission Deadline"
        ref="deadlineDate"
        prop="deadlineDate"
      >
        <p>{{ campaignData.deadlineDate }}</p>
      </a-form-model-item>

      <a-form-model-item label="Brand / Product Detail">
        <p class="text">{{ campaignData.productDetail }}</p>
      </a-form-model-item>

      <a-form-model-item label="Brief / Deskripsi Campaign">
        <p class="text">{{ campaignData.campaignDesc }}</p>
      </a-form-model-item>

      <a-form-model-item
        label="Brief / Deskripsi Konten (Foto/Video)"
        ref="contentDesc"
        prop="contentDesc"
      >
        <p class="text">{{ campaignData.contentDesc }}</p>
      </a-form-model-item>

      <a-form-model-item
        label="Brief / Deskripsi Caption"
        ref="captionDesc"
        prop="captionDesc"
      >
        <p class="text">{{ campaignData.captionDesc }}</p>
      </a-form-model-item>

      <a-form-model-item label="Referensi Konten (Foto/Video)">
        <div style="display: flex; width: 100%; height; 90px; margin: 16px">
          <img class="image-reference" :src="campaignData.reference" />
        </div>
      </a-form-model-item>

      <a-form-model-item
        label="Keyword / Hashtag"
        ref="keywordHashtag"
        prop="keywordHashtag"
        v-for="item in campaignData.keywordHashtag"
        :key="item.id"
      >
        <p class="text">{{ item.name }}</p>
      </a-form-model-item>

      <a-form-model-item
        label="Syarat & ketentuan yang perlu diketahui influencer?"
        ref="rules"
        prop="rules"
      >
        <p class="text">{{ campaignData.rules }}</p>
      </a-form-model-item>

      <a-form-model-item
        label="Landing page / Website"
        ref="website"
        prop="website"
      >
        <p class="text">{{ campaignData.website }}</p>
      </a-form-model-item>

      <a-form-model-item
        ref="location"
        label="Kota"
        v-for="item in campaignData.location"
        :key="item.id"
      >
        <p class="text">{{ item.name }}</p>
      </a-form-model-item>
    </a-form-model>
  </a-row>
</template>
<script>
import NavigationHeader from '~/components/NavigationHeader'
import { __notification } from '~/utils/notifications'
import loading from '~/components/loading'

export default {
  layout: 'dashboardFull',
  components: { NavigationHeader, loading },
  data() {
    return {
      isLoading: false,
      campaignData: {},
    }
  },
  mounted() {
    this.getCampaign()
  },
  methods: {
    async getCampaign() {
      this.isLoading = true

      const { data } = await this.$api.get(
        `/campaign/brief/${this.$route.params.campaignId}`
      )

      if (data.code === 1) {
        this.campaignData = data.data
        this.isLoading = false
      } else {
        __notification('error', data.status, data.message)
        this.isLoading = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.image-reference {
  object-fit: cover;
  width: 50%;
}
.text {
  line-height: 1.5;
}
</style>
